{% extends "lotes/base_lotes.html" %}
{% block header_scripts %}

<script type="text/javascript">	
	$(document).ready(function() {
		$('#id_tipo_busqueda').focus();
        var cant_reg = "{{cant_reg}}";
        $('#id_cant_reg').val(cant_reg);
		var fraccion = "{{fraccion}}";
		$('#id_fraccion').val(fraccion);
		var meses_atraso = "{{meses_atraso}}";
		$('#meses_atraso').val(meses_atraso);
		
		if ($("#fraccion").val() == "" && $("#meses_atraso").val() == "") {//parametros no seteados
			$('.listado-clientes-atrasados').hide();
			$('.pagination').hide();
		}else{
			$('.listado-clientes-atrasados').show();
			$('.pagination').show();
		}

        $('#id_cant_reg').change(function(){
        var cant_reg = $("#id_cant_reg").val();
        var fraccion_nombre = $("#fraccion").val();
        var fraccion = $("#id_fraccion").val();
        var meses_atraso = $("#meses_atraso").val();
        var tipo_busqueda = $("#id_tipo_busqueda").val();
        window.location.replace("/informes/clientes_atrasados/?tipo_busqueda="+tipo_busqueda+"&fraccion_nombre="+fraccion_nombre+"&fraccion="+fraccion+"194&meses_atraso="+meses_atraso+"&cant_reg="+cant_reg+"&tabla=lote");
        });

        $('#boton_pagina').click(function() {
            var page = $("#id_nro_pagina").val();
            var cant_reg = $("#id_cant_reg").val();
            var fraccion_nombre = $("#fraccion").val();
            var fraccion = $("#id_fraccion").val();
            var meses_atraso = $("#meses_atraso").val();
            var tipo_busqueda = $("#id_tipo_busqueda").val();
            window.location.replace("/informes/clientes_atrasados/?page="+page+"&tipo_busqueda="+tipo_busqueda+"&fraccion_nombre="+fraccion_nombre+"&fraccion="+fraccion+"194&meses_atraso="+meses_atraso+"&cant_reg="+cant_reg+"&tabla=lote");
        });

{#  		$("#tipo_busqueda").change(function(){#}
{#			if ($("#tipo_busqueda").val() == "fecha"){#}
{#                alert ("CCp");#}
{#            }#}
{#		});#}

		setup_inputs();
	});

</script>
<script type="text/javascript" src="{{ STATIC_URL }}informes/clientes_atrasados.js"></script>
{% endblock %}
{% block content %}
<div class="gri16" id="breadcumb">
	<a href="{% url 'frontend_home' %}">Inicio</a><span class="verde-1">></span>
	<a href="{% url 'frontend_home' %}informes/">Informes</a>
	<span class="verde-1">> Clientes Atrasados</span>
</div>

<div class="clear"></div>
<h1>Listado de Clientes Atrasados</h1>

<div class="grid_6">
	<form name="frm_busqueda" id="frm_busqueda" method="get" action="{% url 'frontend_home' %}informes/clientes_atrasados/">
		<table id="lista-categoria" frame="box">
			<tr>
				<th class="acciones" colspan="3"><strong><a href="#" style="color: white;">Filtrar</a></strong></th>
			</tr>
			<tr>
				<td>
				<select id="id_tipo_busqueda" name="tipo_busqueda">
					<!--<option value="">Elija una opcion</option> -->
					<option value="nombre">Nombre de Fraccion</option>
					<option value="codigo">Codigo de Fraccion</option>
					<option value="fecha">Fecha Actual</option>
				</select></td>
				<td>
				<input name="fraccion_nombre" id="fraccion" type="text" value="" placeholder="Fraccion"/>
				<input name="fraccion" id="id_fraccion" value="" type="hidden"/>
				</td>
			</tr>
			<tr>
				<td> Meses de Atraso: </td>
				<td>
				<input name="meses_atraso" id="meses_atraso" type="text" value="" placeholder="Ej:2"/>
				</td>
			</tr>
			<tr>
				<td>
				<input type="button" value="Buscar" onclick="validar();" class="historico" style="cursor: pointer"/>
				</td>
				<td>
				<input name="tabla" type="hidden" value="lote" />
				<a class="boton-verde" id="id_boton" onclick="retrieve_clientes_atrasados();">Descargar Excel</a></td>
			</tr>
		</table>
	</form>
</div>
<div class="clear"></div>
<!--
<div class="pagination">
    <span class="step-links"> Mostrando {{ object_list.start_index }}-{{ object_list.end_index }} de {{ object_list.paginator.count }} Resultados
        Cantidad de Registros <select name="cant_reg" id="id_cant_reg" style="width:70px">
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="todos">Todos</option>
        </select>
        {%if object_list.has_previous%}
            <a href="?page={{ object_list.first_index}}{{ultimo}}"> Primera </a>
            <a href="?page={{ object_list.previous_page_number }}{{ultimo}}"> Anterior</a>
        {%endif%}
        P&aacute;gina <input name="nro_pagina" id="id_nro_pagina" size="1" type="text" value="{{object_list.number}}"/>
        de {{ object_list.paginator.num_pages }}
        <input id="boton_pagina" type="button" value="Ir" class="historico" style="cursor: pointer"/>
        {%if object_list.has_next%}
            <a href="?page={{ object_list.next_page_number }}{{ultimo}}"> Siguiente </a>
            <a href="?page={{ object_list.end_index}}{{ultimo}}"> Ultima </a>
        {%endif%}
    </span>
</div>
-->

<div id="listado-cuadro-busqueda">
<br>
<br>
</div>

<div id="listado-item-lote">
	<table border="1.5"cellpadding="0" cellspacing="0" class="listado-clientes-atrasados" align="center">
		<th>Cliente</th><th>Telefono</th><th>Direccion</th><th>Cod. Lote</th><th>Cuotas Atras.</th>
		<th>Cuotas Pag.</th><th>Importe Cuota</th><th>Total Atras.</th><th>Total Pag.</th>
		<th>%Pag</th><th>Fec. Ultimo. Pago</th>
		{% for hw in object_list %}
			{% if forloop.counter|divisibleby:2 %}
		<tr>
			<td>{{hw.cliente}}</td>
			<td>
			{% if hw.telefono_particular == "" or hw.telefono_particular == None  %} 
				-
			{% else %}
				<b>tel1: </b>{{hw.telefono_particular}}
			{% endif %} 
			
			{% if hw.celular_1 == "" or hw.celular1 == None  %} 
				-
			{% else %}
				<b>tel2: </b>{{hw.telefono_celular}}
			{% endif %}
			
			</td>
			
			<td>
			{% if hw.direccion_particular == "" or hw.direccion_particular == None  %} 
				-
			{% else %}
				<b>dir1: </b>{{hw.direccion_particular}}
			{% endif %} 
			
			{% if hw.direccion_cobro == "" or hw.direccion_cobro == None  %} 
				-
			{% else %}
				<b>dir2: </b>{{hw.direccion_cobro}}
			{% endif %}
			
			</td>
			<td>{{hw.lote}}</td>
			<td>{{hw.cuotas_atrasadas}}</td>
			<td>{{hw.cuotas_pagadas}}</td>
			<td>{{hw.importe_cuota}}</td>
			<td>{{hw.total_atrasado}}</td>
			<td>{{hw.total_pagado}}</td>
			<td>{{hw.porc_pagado}}</td>
			<td>{{hw.fecha_ultimo_pago}}</td>
		</tr>
			{% else %}
		<tr class="bkg_gris">
			<td>{{hw.cliente}}</td>
			<td>
			{% if hw.telefono_particular == "" or hw.telefono_particular == None  %} 
				-
			{% else %}
				<b>tel1: </b>{{hw.telefono_particular}}
			{% endif %} 
			
			{% if hw.celular_1 == "" or hw.celular1 == None  %} 
				-
			{% else %}
				<b>tel2: </b>{{hw.telefono_celular}}
			{% endif %}
			
			</td>
			
			<td>
			{% if hw.direccion_particular == "" or hw.direccion_particular == None  %} 
				-
			{% else %}
				<b>dir1: </b>{{hw.direccion_particular}}
			{% endif %} 
			
			{% if hw.direccion_cobro == "" or hw.direccion_cobro == None  %} 
				-
			{% else %}
				<b>dir2: </b>{{hw.direccion_cobro}}
			{% endif %}
			
			</td>
			
			<td>{{hw.lote}}</td>
			<td>{{hw.cuotas_atrasadas}}</td>
			<td>{{hw.cuotas_pagadas}}</td>
			<td>{{hw.importe_cuota}}</td>
			<td>{{hw.total_atrasado}}</td>
			<td>{{hw.total_pagado}}</td>
			<td>{{hw.porc_pagado}}</td>
			<td>{{hw.fecha_ultimo_pago}}</td>
		</tr>
		{% endif %}
		{% endfor %}
	</table>
</div>
<!--
<div class="pagination">
    <span class="step-links"> Mostrando {{ object_list.start_index }}-{{ object_list.end_index }} de {{ object_list.paginator.count }} Resultados
        Cantidad de Registros <select name="cant_reg" id="id_cant_reg" style="width:70px">
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="todos">Todos</option>
        </select>
        {%if object_list.has_previous%}
            <a href="?page={{ object_list.first_index}}{{ultimo}}"> Primera </a>
            <a href="?page={{ object_list.previous_page_number }}{{ultimo}}"> Anterior</a>
        {%endif%}
        P&aacute;gina <input name="nro_pagina" id="id_nro_pagina" size="1" type="text" value="{{object_list.number}}"/>
        de {{ object_list.paginator.num_pages }}
        <input id="boton_pagina" type="button" value="Ir" class="historico" style="cursor: pointer"/>
        {%if object_list.has_next%}
            <a href="?page={{ object_list.next_page_number }}{{ultimo}}"> Siguiente </a>
            <a href="?page={{ object_list.end_index}}{{ultimo}}"> Ultima </a>
        {%endif%}
    </span>
</div>
-->

<div id="footer">
	<a href="{% url 'frontend_home' %}informes" class="boton-verde">Volver al módulo de Informes</a>
</div>
{% endblock %}