{% extends "lotes/base_lotes.html" %}
{% block header_scripts %}

<script type="text/javascript">
	$(document).ready(function() {
		//Cambiar calendario a español
		$.datepicker.regional['es'] = {
			closeText : 'Cerrar',
			prevText : '<Ant',
			nextText : 'Sig>',
			currentText : 'Hoy',
			monthNames : ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
			monthNamesShort : ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
			dayNames : ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
			dayNamesShort : ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
			dayNamesMin : ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
			weekHeader : 'Sm',
			dateFormat : 'dd/mm/yy',
			firstDay : 1,
			isRTL : false,
			showMonthAfterYear : false,
			yearSuffix : ''
		};
		// Setear idioma al calendario
		$.datepicker.setDefaults($.datepicker.regional['es']);
		var d = new Date();
		var curr_date = d.getDate();
		var curr_month = d.getMonth() + 1;
		var curr_year = d.getFullYear();
		if (curr_date < 10) {
			curr_date = "0" + curr_date.toString();
		}
		if (curr_month < 10) {
			curr_month = "0" + curr_month.toString();
		}
		var hoy = (curr_date + "/" + curr_month + "/" + curr_year);

		var fecha_ini = "{{fecha_ini}}";
		var fecha_fin = "{{fecha_fin}}";
		var lote_id = "{{lote_id}}";
		$('#lote_id').val(lote_id);
		$('#fecha_ini').val(fecha_ini);
		$('#fecha_fin').val(fecha_fin);
		$('#lote_id').mask('###/###/####');
		$('#fecha_ini').mask('##/##/####');
		$("#fecha_ini").datepicker({
			dateFormat : 'dd/mm/yy'
		});
		$('#fecha_fin').mask('##/##/####');
		$("#fecha_fin").datepicker({
			dateFormat : 'dd/mm/yy'
		});

		$('.pagination').show();

	});

	function validar() {
		if ($('#lote_id').val() == 0 || $('#lote_id').val() == "") {
			alert("Debe ingresar un lote");
			return;
		}
		$("#frm_busqueda").submit();
	}

</script>
{% endblock %}
{% block content %}
<div class="gri16 text-izquierda" id="breadcumb">
	<a href="{% url 'frontend_home' %}">Inicio</a><span class="verde-1">></span>
	<a href="{% url 'frontend_home' %}informes/">Informes</a>
	<span class="verde-1">> Informe Ventas</span>
</div>

<div class="clear"></div>

<h1>Informe Ventas </h1>

<div class="grid_6">
	<form name="frm_busqueda" id="frm_busqueda" method="get" action="{% url 'frontend_home' %}informes/informe_ventas/">
		<table id="lista-categoria" frame="box">
			<tr>
				<th class="acciones" colspan="2"><strong><a href="#" style="color: white;">Filtrar</a></strong></th>
			</tr>
			<tr>
				<td> Lote: </td>
				<td>
				<input name="lote_id" id="lote_id" type="text" value=""/>
				</td>
			</tr>
			<tr>
				<td>
				<input type="button" value="Buscar" onclick="validar();" class="historico" style="cursor: pointer"/>
				</td>
			</tr>
		</table>
	</form>
</div>
<div class="clear"></div>
<div id="listado-cuadro-busqueda">

	<br>
	<br>
</div>
<div id="listado-ventas">
	<table  cellpadding="0" cellspacing="0" class="listado-lotes" align="center">
		<th>Fecha</th><th>Cliente</th><th>Lote</th><th>Vendedor</th><th>Plan de Pago</th><th>Entrega Inicial</th><th>Precio Cuota</th><th>Precio final de venta</th><th>Pagos Realizados</th><th></th>
		{% for venta in lista_ventas %}
				{% if forloop.counter|divisibleby:2 %}				
				<tr>
					<td>{{venta.fecha_de_venta}}</td>
					<td>{{venta.cliente.nombres}} {{venta.cliente.apellidos}}</td>
					<td>{{venta.lote.codigo_paralot}}</td>
					<td>{{venta.vendedor.nombres}} {{venta.vendedor.apellidos}}</td>
					<td>{{venta.nombre_del_plan}}</td>
					<td>{{venta.entrega_inicial}}</td>
					<td>{{venta.precio_de_cuota}}</td>
					<td>{{venta.precio_final_de_venta}}</td>
					<td>{{venta.pagos_realizados}}</td>
					<td><a href="/movimientos/modificar_venta/{{venta.id}}"><img src="/static/custom/img/black_edit.png" /></a></td>
					<!--<td><a href="/movimientos/eliminar_pagocuota/{{pago.id}}">Holis</a></td>-->
				</tr>
				{% else %}
				<tr class="bkg_gris">
					<td>{{venta.fecha_de_venta}}</td>
					<td>{{venta.cliente.nombres}} {{venta.cliente.apellidos}}</td>
					<td>{{venta.lote.codigo_paralot}}</td>
					<td>{{venta.vendedor.nombres}} {{venta.vendedor.apellidos}}</td>
					<td>{{venta.nombre_del_plan}}</td>
					<td>{{venta.entrega_inicial}}</td>
					<td>{{venta.precio_de_cuota}}</td>
					<td>{{venta.precio_final_de_venta}}</td>
					<td>{{venta.pagos_realizados}}</td>
					<td><a href="/movimientos/modificar_venta/{{venta.id}}"><img src="/static/custom/img/black_edit.png" /></a></td>
					<!--<td><a href="/movimientos/eliminar_pagocuota/{{pago.id}}">Holis</a></td>-->
				</tr>
				{% endif %}
		{%endfor%}
		<div class="pagination">
			<span class="step-links"> Mostrando {{ lista_movimientos.start_index }}-{{ lista_movimientos.end_index }} de {{ lista_movimientos.paginator.count }} Resultados
				{%if lista_movimientos.has_previous%} <a href="?page={{ lista_movimientos.first_index}}{{ultimo}}"> Primera </a> <a href="?page={{ lista_movimientos.previous_page_number }}{{ultimo}}"> Anterior</a> {%endif%}
				P&aacute;gina |{{lista_movimientos.number}}|
				{%if lista_movimientos.has_next%} <a href="?page={{ lista_movimientos.next_page_number }}{{ultimo}}"> Siguiente </a> <a href="?page={{ lista_movimientos.end_index}}{{ultimo}}"> Ultima </a> {%endif%} </span>
		</div>
	</table>
</div>

<div id="footer">
	<a href="{% url 'frontend_home' %}informes" class="boton-verde">Volver al módulo de Informes</a>
</div>
{% endblock %} 