{% extends "lotes/base_lotes.html" %}
{% block header_scripts %}
<script type="text/javascript">
	$(document).ready(function() {
		$('#fecha_ini').focus();
		//Cambiar calendario a español
		$.datepicker.regional['es'] = {
			closeText : 'Cerrar',
			prevText : '<Ant',
			nextText : 'Sig>',
			currentText : 'Hoy',
			monthNames : ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
			monthNamesShort : ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
			dayNames : ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
			dayNamesShort : ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
			dayNamesMin : ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
			weekHeader : 'Sm',
			dateFormat : 'dd/mm/yy',
			firstDay : 1,
			isRTL : false,
			showMonthAfterYear : false,
			yearSuffix : ''
		};
		// Setear idioma al calendario
		$.datepicker.setDefaults($.datepicker.regional['es']);
		var fecha_ini = "{{fecha_ini}}";
		var fecha_fin = "{{fecha_fin}}";
		var busqueda = '{{busqueda}}';
		var busqueda_label = '{{busqueda_label}}';
		var sucursal = '{{sucursal}}';
		var sucursal_label = '{{sucursal_label}}';
		var fraccion = '{{fraccion}}';
		var fraccion_label = '{{fraccion_label}}';
		var concepto = '{{concepto}}';
		var concepto_label = '{{concepto_label}}';


		$('#fecha_ini').val(fecha_ini);
		$('#fecha_fin').val(fecha_fin);
		$('#busqueda_label').val(busqueda_label);
		$('#busqueda').val(busqueda);
		$('#sucursal_label').val(sucursal_label);
		$('#sucursal').val(sucursal);
		$('#fraccion_label').val(fraccion_label);
		$('#fraccion').val(fraccion);
		$('#concepto_label').val(concepto_label);
		$('#concepto').val(concepto);

		$('#fecha_ini').mask('##/##/####');
		$("#fecha_ini").datepicker({
			dateFormat : 'dd/mm/yy'
		});
		$('#fecha_fin').mask('##/##/####');
		$("#fecha_fin").datepicker({
			dateFormat : 'dd/mm/yy'
		});

		if ($("#fecha_ini").val() == "" && $("#fecha_fin").val() == "") {//parametros no seteados
			$('.listado-pagos').hide();
			$('.pagination').hide();
		} else {
			$('.listado-pagos').show();
			$('.pagination').show();
		}
		
		base_url= base_context + "/ajax/get_usuario_by_username/";
		params="value";
		$("#busqueda_label").autocomplete({
			source : base_url,
			minLenght : 1,
			create : function(){
			$(this).data('ui-autocomplete')._renderItem = function(ul,item){
				return $('<li>').append('<a>' +item.fields.username+'</a>').appendTo(ul);
				};
			},
			select : function(event, ui) {
				event.preventDefault();
				id_usuario = ui.item.pk;
				nombre_usuario= ui.item.fields.username;
				ui.item.value = ui.item.fields.username;
				$("#busqueda_label").val(nombre_usuario);
				$("#busqueda").val(id_usuario);			
			}
		});
		
		$('#busqueda_label').change(function() {
			if ( $('#busqueda_label').val()=='' ){
				$('#busqueda').val("");
			} 
		});

        base_url_fraccion = base_context + "/ajax/get_fracciones_by_name/";
		params="value";
        var id_fraccion;
        params = "value";
        $("#fraccion_label").autocomplete({
	        source : base_url_fraccion,
	        minLength : 1,
	        select : function(event, ui) {
		        id_fraccion = ui.item.id;
		        $("#fraccion").val(id_fraccion);
	        }
        });

        base_url_concepto = base_context + "/ajax/get_concepto_factura_by_name/";
		params="value";
        var id_concepto;
        $("#concepto_label").autocomplete({
	        source : base_url_concepto,
	        minLength : 1,
	        select : function(event, ui) {
		        id_concepto = ui.item.id;
		        $("#concepto").val(id_concepto);
	        }
        });

        $(".checkbox_todos_excepto_pago_cuotas").change(function () {
            if (document.getElementById("checkbox_todos_excepto_pago_cuotas").checked == true){
                $("#todos_excepto_pago_cuota").val(1);
            }else{
                $("#todos_excepto_pago_cuota").val(0);
            }
        });

	});
</script>
<script type="text/javascript" src="{{ STATIC_URL }}informes/informe_facturacion.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}common.js"></script>

{% endblock %}
{% block content %}
<div class="gri16 text-izquierda" id="breadcumb">
	<a href="{% url 'frontend_home' %}">Inicio</a><span class="verde-1">></span>
	<a href="{% url 'frontend_home' %}informes/">Informes</a>
	<span class="verde-1">>Informe de Facturacion</span>
</div>

<div class="clear"></div>

<h1>Informe de Facturacion</h1>

<div class="grid_6">
	<form name="frm_busqueda" id="frm_busqueda" method="get" action="{% url 'frontend_home' %}informes/informe_facturacion/">
		<table id="lista-categoria" frame="box">
			<tr>
				<th class="acciones" colspan="3"><strong><a href="#" style="color: white;">Filtrar</a></strong></th>
			</tr>
			<th></th><th>Desde:</th><th>Hasta:</th>
			<tr>
				<td> Rango de Fecha: </td>
				<td>
				<input name="fecha_ini" id="fecha_ini" type="text" value="" />
				</td>
				<td>
				<input name="fecha_fin" id="fecha_fin" type="text" value="" />
				</td>
			</tr>
			</tr>
			{%if grupo == 1%}
				<tr>
					<td>
						Usuario:
					</td>
					<td>
						<input type="text" id="busqueda_label" name="busqueda_label" placeholder="Todos los Usuarios" />
						<input type="hidden" id="busqueda" name="busqueda"/>
					</td>
					<td></td>
				</tr>
				<tr>
					<td>
						Sucursal:
					</td>
					<td>
						<input type="text" id="sucursal_label" name="sucursal_label" placeholder="Todas las sucursales" />
						<input type="hidden" id="sucursal" name="sucursal"/>
					</td>
					<td></td>
				</tr>
				<tr>
					<td>
						Fraccion:
					</td>
					<td>
						<input type="text" id="fraccion_label" name="fraccion_label" placeholder="Todas las fracciones" />
						<input type="hidden" id="fraccion" name="fraccion"/>
					</td>
					<td></td>
				</tr>
				<tr>
					<td>
						Concepto:
					</td>
					<td>
						<input type="text" id="concepto_label" name="concepto_label" placeholder="Todos los conceptos" />
						<input type="hidden" id="concepto" name="concepto"/>
					</td>
					<td></td>
				</tr>
                <tr>
                    <td><input type="checkbox" id="checkbox_todos_excepto_pago_cuotas" class="checkbox_todos_excepto_pago_cuotas"></td>
                    <td colspan="2"><span class="label_nombre_fraccion"> todos excepto pagos de cuotas </span></td>
                    <input type="hidden" id="todos_excepto_pago_cuota" name="todos_excepto_pago_cuota" value="0">
                </tr>
                <!--
                <tr>
                    <td><input type="checkbox" id="anulados" name="anulados" class="checkbox_todos_excepto_pago_cuotas"></td>
                    <td colspan="2"><span class="label_nombre_fraccion"> Anulados </span></td>
                </tr>
                -->
			{%else%}
				<tr style="display: none">
					<td>
						Sucursal:
					</td>
					<td>
						<input type="text" id="sucursal_label" name="sucursal_label" placeholder="Todos las sucursales" />
						<input type="hidden" id="sucursal" name="sucursal"/>
					</td>
					<td></td>
				</tr>
			{%endif%}
			<tr>
				<td>
				<input id="boton_buscar" type="button" value="Buscar" onclick="validar();" class="historico" style="cursor: pointer"/>
				</td>
				<td colspan="2"><a class="boton-verde" id="id_boton" onclick="informe_facturacion();">Descargar como Excel</a></td>
			</tr>
		</table>
	</form>
</div>

<div class="clear"></div>
<div id="listado-cuadro-busqueda">

	<br>
	<br>
</div>
<div id="listado-item-lote">
	<table border="1" cellpadding="0" cellspacing="0" class="listado-pagos" align="center">
		<th>Fecha</th><th>Numero</th><th>Lote</th><th>Cliente - RUC</th><th>Tipo</th><th>Usuario</th><th>Total Exentas</th><th>Total IVA 5%</th><th>Total IVA 10%</th><th>Total Facturado</th><th>Anulado</th>
		{% for hw in object_list %}
			
		{% if forloop.counter|divisibleby:2 %}
		<tr>
			<td>{{hw.fecha}}</td>
			<td><a href="{% url 'frontend_home' %}facturacion/listado/{{hw.id}}" target="_blank"><strong>{{hw.numero}}</strong></a></td>
			<td>{{hw.lote}}</td>
			<td>{{hw.cliente}} - {{hw.ruc}}</td>
			{% if hw.tipo == 'co' %}
				<td>Contado</td>
			{% else %}
				<td>Credito</td>
			{% endif %}
			<td>{{hw.usuario}}</td>
			<td>{{hw.total_exentas}}</td>
			<td>{{hw.total_iva5}}</td>
			<td>{{hw.total_iva10}}</td>
			<td>{{hw.total_facturado}}</td>
            <td>{{hw.anulado}}</td>

			
		</tr>
		{% else %}
		<tr class="bkg_gris">
			<td>{{hw.fecha}}</td>
			<td><a href="{% url 'frontend_home' %}facturacion/listado/{{hw.id}}" target="_blank"><strong>{{hw.numero}}</strong></a></td>
			<td>{{hw.lote}}</td>
			<td>{{hw.cliente}} - {{hw.ruc}}</td>
			{% if hw.tipo == 'co' %}
				<td>Contado</td>
			{% else %}
				<td>Credito</td>
			{% endif %}
			<td>{{hw.usuario}}</td>
			<td>{{hw.total_exentas}}</td>
			<td>{{hw.total_iva5}}</td>
			<td>{{hw.total_iva10}}</td>
			<td>{{hw.total_facturado}}</td>
            <td>{{hw.anulado}}</td>
			
		</tr>
		{% endif %}
		
		{% if hw.total_general_facturado %}
		<tr>
			<th colspan="7" class="celda_resumen_fraccion">Totales Generales</th>
			<td class="celda_resumen_fraccion">{{hw.total_general_exentas}}</td>
			<td class="celda_resumen_fraccion">{{hw.total_general_iva5}}</td>
			<td class="celda_resumen_fraccion">{{hw.total_general_iva10}}</td>
			<td class="celda_resumen_fraccion">{{hw.total_general_facturado}}</td>

		</tr>
		{% endif %}
		
		{% endfor %}
		<tr id='fila_totales' style="display: none;"></tr>
		<!--
		<div class="pagination">
			<span class="step-links"> Mostrando {{ object_list.start_index }}-{{ object_list.end_index }} de {{ object_list.paginator.count }} Resultados
				{%if object_list.has_previous%} <a href="?page={{ object_list.first_index}}{{ultimo}}"> Primera </a> <a href="?page={{ object_list.previous_page_number }}{{ultimo}}"> Anterior</a> {%endif%}
				P&aacute;gina |{{object_list.number}}|
				{%if object_list.has_next%} <a href="?page={{ object_list.next_page_number }}{{ultimo}}"> Siguiente </a> <a href="?page={{ object_list.end_index}}{{ultimo}}"> Ultima </a> {%endif%} </span>
		</div>
		-->
	</table>
</div>

<div id="footer">
	<a href="{% url 'frontend_home' %}" class="boton-verde">Volver al Menú Principal</a>
</div>
{% endblock %}