{% extends "lotes/base_lotes.html" %}
{% block header_scripts %}

<script type="text/javascript">
	$(document).ready(function() {
		//Cambiar calendario a español
		$.datepicker.regional['es'] = {
			closeText : 'Cerrar',
			prevText : '<Ant',
			nextText : 'Sig>',
			currentText : 'Hoy',
			monthNames : ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
			monthNamesShort : ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
			dayNames : ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
			dayNamesShort : ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
			dayNamesMin : ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
			weekHeader : 'Sm',
			dateFormat : 'dd/mm/yy',
			firstDay : 1,
			isRTL : false,
			showMonthAfterYear : false,
			yearSuffix : ''
		};
		// Setear idioma al calendario
		$.datepicker.setDefaults($.datepicker.regional['es']);

		var fraccion_ini = "{{fraccion_ini}}";
		var fraccion_fin = "{{fraccion_fin}}";
		var fecha_ini = "{{fecha_ini}}";
		var fecha_fin = "{{fecha_fin}}";
		var frac1="{{frac1}}";
		var frac2="{{frac2}}";
		var tipo_busqueda = "{{tipo_busqueda}}";
		$('#id_tipo_busqueda').val(tipo_busqueda);
		if($('#id_tipo_busqueda').val()=='nombre'){
			$('#id_fraccion_ini').val(frac1);
			$('#id_fraccion_fin').val(frac2);
			$('#id_frac1').val(fraccion_ini);
			$('#id_frac2').val(fraccion_fin);
		}
		if($('#id_tipo_busqueda').val()=='codigo'){
			$('#id_fraccion_ini').val(fraccion_ini);
			$('#id_fraccion_fin').val(fraccion_fin);
		}		
		
		$('#fecha_ini').val(fecha_ini);
		$('#fecha_fin').val(fecha_fin);

		$('#fecha_ini').mask('##/##/####');
		$("#fecha_ini").datepicker({
			dateFormat : 'dd/mm/yy'
		});
		$('#fecha_fin').mask('##/##/####');
		$("#fecha_fin").datepicker({
			dateFormat : 'dd/mm/yy'
		});

		if ($("#id_fraccion_ini").val() == "" && $("#id_fraccion_fin").val() == "") {//parametros no seteados
			$('.listado-pagos').hide();
			$('.pagination').hide();
		} else {
			$('.listado-pagos').show();
			$('.pagination').show();
		}
		setup_inputs();	

	});
	
</script>
<script type="text/javascript" src="{{ STATIC_URL }}informes/informe_general.js"></script>
{% endblock %}
{% block content %}
<div class="gri16 text-izquierda" id="breadcumb">
	<a href="{% url 'frontend_home' %}">Inicio</a><span class="verde-1">></span>
	<a href="{% url 'frontend_home' %}informes/">Informes</a>
	<span class="verde-1">> Informe general de pagos</span>
</div>

<div class="clear"></div>

<h1>Informe General de Pagos</h1>

<div class="grid_6">
	<form name="frm_busqueda" id="frm_busqueda" method="get" action="/informes/informe_general/">
		<table id="lista-categoria" frame="box">
			<tr>
				<th class="acciones" colspan="3"><strong><a href="#" style="color: white;">Filtrar</a></strong></th>
			</tr>
			<th></th><th>Desde:</th><th>Hasta:</th>
			<tr>
				<td> Rango de Fecha: </td>
				<td>
				<input name="fecha_ini" id="fecha_ini" type="text" value="" />
				</td>
				<td>
				<input name="fecha_fin" id="fecha_fin" type="text" value="" />
				</td>
			</tr>
			<tr>
				<td>
				<select id="id_tipo_busqueda" name="tipo_busqueda">
					<option value="">Elija una opcion</option>
					<option value="nombre">Nombre de Fraccion</option>
					<option value="codigo">Codigo de Fraccion</option>
				</select></td>
				<td>
					<input name="fraccion_ini" id="id_fraccion_ini" type="text" value="" />
					<input name="frac1" id="id_frac1" type="hidden" value="" />
				</td>
				<td>
					<input name="fraccion_fin" id="id_fraccion_fin" type="text" value="" />
					<input name="frac2" id="id_frac2" type="hidden" value="" />
				</td>
			</tr>
			<tr>
				<td>
				<input type="button" value="Buscar" onclick="validar();" class="historico" style="cursor: pointer"/>
				</td>
				<td><a class="boton-verde" id="id_boton" onclick="retrieve_informe_general();">Descargar como Excel</a></td>
			</tr>
		</table>
	</form>
</div>

<div class="clear"></div>
<div id="listado-cuadro-busqueda">

	<br>
	<br>
</div>
<div id="listado-item-lote">
	<table id="tabla_pagos" width="50%" cellpadding="0" cellspacing="0" class="listado-pagos" align="center">
		<th>Nombre Fracci&oacute;n</th><th>Fracci&oacute;n</th><th>Lote Nro</th><th>Cliente</th><th>Cuota Nº</th><th>Plan de Pago</th><th>Fecha de Pago</th><th>Total de Cuotas</th><th>Total de Mora</th><th>Total de Pago</th>
		{% for cuota in lista_cuotas %}
		{% if forloop.counter|divisibleby:2 %}
		<tr>
			<td>{{cuota.fraccion}}</td>
			<td>{{cuota.fraccion_id}}</td>
			<td>{{cuota.lote}}</td>
			<td>{{cuota.cliente}}</td>
			<td>{{cuota.cuota_nro}}</td>
			<td>{{cuota.plan_de_pago}}</td>
			<td>{{cuota.fecha_pago}}</td>
			<td>{{cuota.total_de_cuotas}}</td>
			<td>{{cuota.total_de_mora}}</td>
			<td>{{cuota.total_de_pago}}</td>
		</tr>
		{% else %}
		<tr class="bkg_gris">
			<td>{{cuota.fraccion}}</td>
			<td>{{cuota.fraccion_id}}</td>
			<td>{{cuota.lote}}</td>
			<td>{{cuota.cliente}}</td>
			<td>{{cuota.cuota_nro}}</td>
			<td>{{cuota.plan_de_pago}}</td>
			<td>{{cuota.fecha_pago}}</td>
			<td>{{cuota.total_de_cuotas}}</td>
			<td>{{cuota.total_de_mora}}</td>
			<td>{{cuota.total_de_pago}}</td>
		</tr>
		{% endif %}
		{% if cuota.total_cuotas %}
		<tr>
			<th colspan="7" class="celda_resumen_fraccion">Resumen de la Fracción</th>
			<td class="celda_resumen_fraccion">{{cuota.total_cuotas}}</td>
			<td class="celda_resumen_fraccion">{{cuota.total_mora}}</td>
			<td class="celda_resumen_fraccion">{{cuota.total_pago}}</td>
		</tr>
		{% endif %}
		{% endfor %}
		<div class="pagination">
			<span class="step-links"> Mostrando {{ lista_cuotas.start_index }}-{{ lista_cuotas.end_index }} de {{ lista_cuotas.paginator.count }} Resultados
				{%if lista_cuotas.has_previous%} <a href="?page={{ lista_cuotas.first_index}}{{ultimo}}"> Primera </a> <a href="?page={{ lista_cuotas.previous_page_number }}{{ultimo}}"> Anterior</a> {%endif%}
				P&aacute;gina |{{lista_cuotas.number}}|
				{%if lista_cuotas.has_next%} <a href="?page={{ lista_cuotas.next_page_number }}{{ultimo}}"> Siguiente </a> <a href="?page={{ lista_cuotas.end_index}}{{ultimo}}"> Ultima </a> {%endif%} </span>
		</div>
	</table>
</div>
<div id="footer">
	<a href="{% url 'frontend_home' %}informes" class="boton-verde">Volver al módulo de Informes</a>
</div>
{% endblock %}