{% extends "lotes/base_lotes.html" %}
{% block header_scripts %}

<script type="text/javascript">
	$(document).ready(function() {
		var fraccion_ini = "{{fraccion_ini}}";
		var fraccion_fin= "{{fraccion_fin}}";
		$('#fraccion_ini').val(fraccion_ini);
		$('#fraccion_fin').val(fraccion_fin);
		
		if($('#fraccion_ini').val()!="" && $('#fraccion_fin').val()!=""){ // parametros seteados
			$('.listado-lotes').show();
			$('.pagination').show();
		}
		else{
			$('.listado-lotes').hide();
			$('.pagination').hide();
		}		
	});
	function validar() {
		if ($('#fraccion_ini').val() == 0 || $('#fraccion_fin').val() == 0 || $('#fraccion_ini').val() == "" || $('#fraccion_fin').val() == "") {
			alert("Debe ingresar un rango de fracciones");
			return;
		}
		$("#frm_busqueda").submit();
	}
	function retrieve_lotes_libres() {
		if ($('#fraccion_ini').val() == 0 || $('#fraccion_fin').val() == 0 || $('#fraccion_ini').val() == "" || $('#fraccion_fin').val() == "") {
			alert("Debe ingresar un rango de fracciones");
			return;
		}
		window.location.href = "/informes/lotes_libres_reporte_excel?fraccion_ini=" + $('#fraccion_ini').val() + "&fraccion_fin=" + $('#fraccion_fin').val();
	}
	
	
</script>
{% endblock %}
{% block content %}
<div class="gri16 text-izquierda" id="breadcumb">
	<a href="/">Inicio</a><span class="verde-1">></span>
	<a href="/informes/">Informes</a>
	<span class="verde-1">> Lotes Libres</span>
</div>
<div class="clear"></div>
<h1>Listado de Lotes Libres</h1>
<div class="grid_6">	
	<form name="frm_busqueda" id="frm_busqueda" method="get" action="/informes/lotes_libres/">		
		<table id="lista-categoria" frame="box">			
			<tr>
				<th class="acciones" ><strong><a href="#" style="color: white;">Filtrar</a></strong></th>
				<th>Desde:</th>
				<th>Hasta:</th>
			</tr>
			<tr>
				<td> Rango de Fracciones: </td>
				<td>
				<input name="fraccion_ini" id="fraccion_ini" type="text" value="" />
				</td>
				<td>
				<input name="fraccion_fin" id="fraccion_fin" type="text" value="" />
				</td>
			</tr>
			<tr>
				<td>
				<input type="button" value="Buscar"  onclick="validar();" class="historico" style="cursor: pointer"/>
				</td>
				<td>
				<a class="boton-verde" id="id_boton" onclick="retrieve_lotes_libres();">Descargar como Excel</a>
				</td>
			</tr>
		</table>
	</form>
</div>
<div class="clear"></div>
<div id="listado-item-lote">
	<table   cellpadding="0" cellspacing="0" class="listado-lotes" align="center">
		<th>Nombre Fracci&oacute;n</th><th>Fracci&oacute;n</th><th>Lote Nro</th><th>Superficie</th><th>Precio Contado</th><th>Precio Credito</th><th>Precio Costo</th>
			{% for lote in lista_lotes %}
				{% if forloop.counter|divisibleby:2 %}
					<tr>
						<td>{{lote.fraccion}}</td>
						<td>{{lote.fraccion_id}}</td>
						<td>{{lote.lote}}</td>
						<td>{{lote.superficie}}</td>
						<td>{{lote.precio_contado}}</td>
						<td>{{lote.precio_credito}}</td>
						<td>{{lote.precio_costo}}</td>						
					</tr>
				{% else %}
					<tr class="bkg_gris">
						<td>{{lote.fraccion}}</td>
						<td>{{lote.fraccion_id}}</td>
						<td>{{lote.lote}}</td>
						<td>{{lote.superficie}}</td>
						<td>{{lote.precio_contado}}</td>
						<td>{{lote.precio_credito}}</td>
						<td>{{lote.precio_costo}}</td>						
					</tr>			
				{% endif %}
				{% if lote.total_costo_fraccion %}
					<tr>
						<th colspan="3" class="celda_resumen_fraccion">Resumen de la Fracción</th>
						<td class="celda_resumen_fraccion">{{lote.total_superficie_fraccion}}</td>
						<td class="celda_resumen_fraccion">{{lote.total_contado_fraccion}}</td>
						<td class="celda_resumen_fraccion">{{lote.total_credito_fraccion}}</td>
						<td class="celda_resumen_fraccion">{{lote.total_costo_fraccion}}</td>						
					</tr>
				{% endif %}
			{% endfor %}
		<div class="pagination">
			<span class="step-links"> {%if object_list.has_previous%} <a href="?page={{ object_list.previous_page_number }}"> Anterior</a> {%endif%}
				P&aacute;gina
				|{{object_list.number}}|

				{%if object_list.has_next%} <a href="?page={{ object_list.next_page_number }}"> Siguiente</a> {%endif%} </span>
		</div>
	</table>
</div>
<div id="footer">
	<a href="/informes" class="boton-verde">Volver al módulo de Informes</a>
</div>
{% endblock %}