{% extends "lotes/base_lotes.html" %}
{% block header_scripts %}

<script type="text/javascript">

        var fracciones_excluidas_json = '{{ fracciones_excluidas_json|safe }}'

        $(document).ready(function() {

		$('#id_tipo_busqueda').focus();
		var tipo_busqueda = "{{tipo_busqueda}}";
		var cant_reg = "{{cant_reg}}";
        $('#id_tipo_busqueda').val(tipo_busqueda);
        $('#id_cant_reg').val(cant_reg);
		var fraccion_ini="{{fraccion_ini}}";
		var fraccion_fin="{{fraccion_fin}}";
		var frac1="{{frac1}}";
		var frac2="{{frac2}}";

		
		if($('#id_tipo_busqueda').val()=='nombre'){
			$('#id_fraccion_ini').val(frac1);
			$('#id_fraccion_fin').val(frac2);
			$('#id_frac1').val(fraccion_ini);
			$('#id_frac2').val(fraccion_fin);
		}
		if($('#id_tipo_busqueda').val()=='codigo'){
			$('#id_fraccion_ini').val(fraccion_ini);
			$('#id_fraccion_fin').val(fraccion_fin);
		}	
	
        $('#id_cant_reg').change(function(){
            var page = $("#id_nro_pagina").val();
            var cant_reg = $("#id_cant_reg").val();
            var fraccion_ini;
            var fraccion_fin;
            var frac1;
            var frac2;
            var tipo_busqueda = $("#id_tipo_busqueda").val();
            if($('#id_tipo_busqueda').val()=='nombre'){
                fraccion_ini = $('#id_fraccion_ini').val();
			    fraccion_fin = $('#id_fraccion_fin').val();
                frac1 = $('#id_frac1').val();
                frac2 = $('#id_frac2').val();
            }
            if($('#id_tipo_busqueda').val()=='codigo'){
                frac1 = $('#id_fraccion_ini').val();
                frac2 = $('#id_fraccion_fin').val();
            }

            window.location.replace("/informes/lotes_libres/?page="+page+"&tipo_busqueda="+tipo_busqueda+"&fraccion_ini="+fraccion_ini+"&frac1="+frac1+"&fraccion_fin="+fraccion_fin+"&frac2="+frac2+"&cant_reg="+cant_reg);
            fraccion_ini = $('#id_fraccion_ini').val();
        });

        $('#boton_pagina').click(function() {
            var page = $("#id_nro_pagina").val();
            var tipo_busqueda = $("#id_tipo_busqueda").val();
            var fraccion_ini = $("#id_fraccion_ini").val();
            var fraccion_fin = $("#id_fraccion_fin").val();
            var frac1 = $("#id_frac1").val();
            var frac2 = $("#id_frac2").val();
            var cant_reg = $("#cant_reg").val();
            window.location.replace("/informes/lotes_libres/?page="+page+"&tipo_busqueda="+tipo_busqueda+"&fraccion_ini="+fraccion_ini+"&frac1="+frac1+"&fraccion_fin="+fraccion_fin+"&frac2="+frac2+"&cant_reg="+cant_reg);
        });

		if(($('#id_frac1').val()!="" || $('#id_frac2').val()!="") || ($('#id_fraccion_ini').val()!="" || $('#id_fraccion_fin').val()!="")){ // parametros seteados
			$('.listado-lotes').show();
			$('.pagination').show();
		}
		else{
			$('.listado-lotes').hide();
			$('.pagination').hide();
		}
		
		setup_inputs();		
	});
	
	
	
</script>
<script type="text/javascript" src="{{ STATIC_URL }}informes/lotes_libres.js"></script>
{% endblock %}
{% block content %}
<div class="gri16 text-izquierda" id="breadcumb">
	<a href="{% url 'frontend_home' %}">Inicio</a><span class="verde-1">></span>
	<a href="{% url 'frontend_home' %}informes/">Informes</a>
	<span class="verde-1">> Lotes Libres</span>
</div>
<div class="clear"></div>
<h1>Listado de Lotes Libres</h1>
<div class="grid_6">	
	<form name="frm_busqueda" id="frm_busqueda" method="get" action="{% url 'frontend_home' %}informes/lotes_libres/">		
		<table id="lista-categoria" frame="box">			
			<tr>
				<th class="acciones" colspan="3"><strong>Sucursal</strong></th>
			</tr>
			<tr>
			<tr>
			<td colspan="3">
				<select id="select_sucursal" name="sucursal">
                    {% for sucursal_obj in sucursales %}
                        {% if sucursal.id == sucursal_obj.id %}
					        <option value="{{sucursal_obj.id}}" selected>{{sucursal_obj.nombre}}</option>
                        {% else %}
                            <option value="{{sucursal_obj.id}}" >{{sucursal_obj.nombre}}</option>
                        {% endif %}
                    {% endfor %}
				</select>

			</td>
			</tr>
			<tr>
			<td colspan="3">
				<div id="fracciones_por_sucursal"></div>
			</td>
			</tr>
			<tr>
				<td>
				<input id="boton_buscar" type="button" value="Buscar"  onclick="validar();" class="historico" style="cursor: pointer"/>
				</td>
				<td colspan="2">
				<a class="boton-verde" id="id_boton" onclick="retrieve_lotes_libres();">Descargar Excel</a>
				</td>
			</tr>
		</table>
        <input type="hidden" name="formato_reporte" id="formato_reporte" value="pantalla">
        <div id="fracciones_excluir">
            {% for fraccion_id in fracciones_excluidas %}
                <input type="hidden" name="fracciones_excluir" value="{{ fraccion_id }}">
            {% endfor %}
        </div>
	</form>

</div>
<div class="clear"></div>
<!--
<div class="pagination">
    <span class="step-links">
{#				Mostrando {{ lista_lotes.start_index }}-{{ lista_lotes.end_index }} de {{ lista_lotes.paginator.count }} Resultados#}
        Cantidad de Registros <select name="cant_reg" id="id_cant_reg" style="width:70px">
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="todos">Todos</option>
        </select>
        {%if lista_lotes.has_previous%}
        <a href="?page={{ lista_lotes.first_index}}{{ultimo}}"> Primera </a>
        <a href="?page={{ lista_lotes.previous_page_number }}{{ultimo}}"> Anterior</a>
        {%endif%}
        P&aacute;gina <input name="nro_pagina" id="id_nro_pagina" size="1" type="text" value="{{lista_lotes.number}}"/>
        de {{ lista_lotes.paginator.num_pages }}
        <input id="boton_pagina" type="button" value="Ir" class="historico" style="cursor: pointer"/>
        {%if lista_lotes.has_next%}
        <a href="?page={{ lista_lotes.next_page_number }}{{ultimo}}"> Siguiente </a>
        <a href="?page={{ lista_lotes.end_index}}{{ultimo}}"> Ultima </a>
        {%endif%}
    </span>
</div>
-->
<div id="listado-item-lote">
	<table   cellpadding="0" cellspacing="0" class="listado-lotes" align="center">
		<!--<th>Nombre Fracci&oacute;n</th><th>Fracci&oacute;n</th><th>Lote Nro</th><th>Superficie</th><th>Precio Contado</th><th>Precio Credito</th><th>Precio Cuota</th>-->
			{% for lote in lista_lotes %}
				{% if lote.misma_fraccion == False%}
				<tr>
					<th colspan="10"></th>
				</tr>
				<tr>
					<th colspan="10" class="celda_resumen_fraccion">{{lote.fraccion}}</th>
				</tr>
				<tr>
					<th>Nombre Fracci&oacute;n</th><th>Fracci&oacute;n</th><th>Lote Nro</th><th>Superficie</th><th>Precio Contado</th><th>Precio Credito</th><th>Precio Cuota</th>
				</tr>
				{% endif %}
				{% if forloop.counter|divisibleby:2 %}
					<tr>
						<td>{{lote.fraccion}}</td>
						<td>{{lote.fraccion_id}}</td>
						<td><a href="{% url 'frontend_detalle_lote' lote.id %}">{{lote.lote}}</a></td>
						<td>{{lote.superficie}}</td>
						<td>{{lote.precio_contado}}</td>
						<td>{{lote.precio_credito}}</td>
						<td>{{lote.importe_cuota}}</td>						
					</tr>
				{% else %}
					<tr class="bkg_gris">
						<td>{{lote.fraccion}}</td>
						<td>{{lote.fraccion_id}}</td>
						<td><a href="{% url 'frontend_detalle_lote' lote.id %}" target="_blank">{{lote.lote}}</a></td>
						<td>{{lote.superficie}}</td>
						<td>{{lote.precio_contado}}</td>
						<td>{{lote.precio_credito}}</td>
						<td>{{lote.importe_cuota}}</td>						
					</tr>			
				{% endif %}
				{% if lote.total_importe_cuotas %}
					<tr>
						<th colspan="2" class="celda_resumen_fraccion">Resumen de la Fracción</th>
						<th colspan="5" class="celda_resumen_fraccion">Lotes libres: {{lote.total_lotes}}</th>
						<!--
						<th class="celda_resumen_fraccion">{{lote.total_superficie_fraccion}}</th>
						<th class="celda_resumen_fraccion">{{lote.total_contado_fraccion}}</th>
						<th class="celda_resumen_fraccion">{{lote.total_credito_fraccion}}</th>
						<th class="celda_resumen_fraccion">{{lote.total_importe_cuotas}}</th>
						-->						
					</tr>
				{% endif %}
				{% if lote.ultimo_registro == True %}
					<tr>
						<th colspan="2" class="celda_resumen_fraccion">Resumen Total</th>
						<th colspan="5" class="celda_resumen_fraccion">Lotes libres: {{lote.total_general_lotes}}</th>
						<!--
						<th class="celda_resumen_fraccion">{{lote.total_superficie_fraccion}}</th>
						<th class="celda_resumen_fraccion">{{lote.total_contado_fraccion}}</th>
						<th class="celda_resumen_fraccion">{{lote.total_credito_fraccion}}</th>
						<th class="celda_resumen_fraccion">{{lote.total_importe_cuotas}}</th>
						-->						
					</tr>
				{% endif %}
			{% endfor %}
	</table>
</div>
	<!--
    <div class="pagination">
        <span class="step-links">
{#				Mostrando {{ lista_lotes.start_index }}-{{ lista_lotes.end_index }} de {{ lista_lotes.paginator.count }} Resultados#}
            Cantidad de Registros <select name="cant_reg" id="id_cant_reg" style="width:70px">
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="todos">Todos</option>
            </select>
            {%if lista_lotes.has_previous%}
            <a href="?page={{ lista_lotes.first_index}}{{ultimo}}"> Primera </a>
            <a href="?page={{ lista_lotes.previous_page_number }}{{ultimo}}"> Anterior</a>
            {%endif%}
            P&aacute;gina <input name="nro_pagina" id="id_nro_pagina" size="1" type="text" value="{{lista_lotes.number}}"/>
            de {{ lista_lotes.paginator.num_pages }}
            <input id="boton_pagina" type="button" value="Ir" class="historico" style="cursor: pointer"/>
            {%if lista_lotes.has_next%}
            <a href="?page={{ lista_lotes.next_page_number }}{{ultimo}}"> Siguiente </a>
            <a href="?page={{ lista_lotes.end_index}}{{ultimo}}"> Ultima </a>
            {%endif%}
        </span>
    </div>
   -->
<div id="footer">
	<a href="{% url 'frontend_home' %}informes" class="boton-verde">Volver al módulo de Informes</a>
	<a class="boton-verde" id="id_boton_2" onclick="retrieve_lotes_libres();">Descargar Excel</a>
</div>
{% endblock %}