{% extends "lotes/base_lotes.html" %}
{% block header_scripts %}

<script type="text/javascript">
	$(document).ready(function() {
		$('#busqueda').mask('###/###/####');
		if($('#fraccion_ini').val()=="" && $('#fraccion_fin').val()==""){
		var request_lotes = $.ajax({
			url : '/ajax/get_lotes_libres/',
			type : "GET",
			data : {
				fraccion_ini : $('#fraccion_ini').val(),
				fraccion_fin : $('#fraccion_fin').val()
			},
			dataType : "json"
		});
		request_lotes.success(function(data) {

			calculartotales(data);
		});
		}
		

	});

	function retrieve_lotes_libres() {

		window.location.href = "/informes/lotes_libres_reporte_excel?fraccion_ini=" + $('#fraccion_ini').val() + "&fraccion_fin=" + $('#fraccion_fin').val();

	}

	function format(nro) {

		var number = new String(nro);
		var result = '';
		while (number.length > 3) {
			result = '.' + number.substr(number.length - 3) + result;
			number = number.substring(0, number.length - 3);
		}
		result = number + result;
		return result;
	};

	
	function validar() {
		
		var request_lotes = $.ajax({
			url : '/ajax/get_lotes_libres/',
			type : "GET",
			data : {
				fraccion_ini : $('#fraccion_ini').val(),
				fraccion_fin : $('#fraccion_fin').val()
			},
			dataType : "json"
		});
		request_lotes.success(function(data) {
			$(".custom_class").empty();
			calculartotales(data);
		});
		
	}

	function calculartotales(data) {
		var fraccion_actual = data[0].fraccion_id;
		//totales por fraccion
		var total_lotes = 0;
		var total_superficie = 0;
		var total_contado = 0;
		var total_credito = 0;
		var total_costo = 0;
		//totales generales
		var total_general_lotes = 0;
		var total_general_superficie = 0;
		var total_general_contado = 0;
		var total_general_credito = 0;
		var total_general_costo = 0;

		for (var i = 0; i < data.length; i++) {
			//se suman los totales generales
			total_general_lotes += 1;
			total_general_superficie += data[i].superficie;
			total_general_contado += data[i].precio_contado;
			total_general_credito += data[i].precio_credito;
			total_general_costo += data[i].precio_costo;
			if (data[i].fraccion_id == fraccion_actual) {
				total_lotes += 1;
				total_superficie += data[i].superficie;
				total_contado += data[i].precio_contado;
				total_credito += data[i].precio_credito;
				total_costo += data[i].precio_costo;
				$('#tabla_lotes').append('<tr class="custom_class"><td>' + data[i].fraccion + "</td><td>" + data[i].fraccion_id + "</td><td>" + data[i].lote + "</td><td>" + data[i].superficie + "</td><td>" + format(data[i].precio_contado) + "</td><td>" + format(data[i].precio_credito) + "</td><td>" + format(data[i].precio_costo) + "</td></tr>");
				//... y acumulamos para los totales generales

			} else {
				//si es la ultima fila correspondiente a la fraccion actual
				$('#tabla_lotes').append('<tr class="custom_class"><td colspan="2">'+"Totales de Fraccion: </td><td>" + total_lotes + "</td><td>" + total_superficie + "</td><td>" + format(total_contado) + "</td><td>" + format(total_credito) + "</td><td>" + format(total_costo) + "</td></tr>");
				$('#tabla_lotes').append('<tr class="custom_class"><td>' + data[i].fraccion + "</td><td>" + data[i].fraccion_id + "</td><td>" + data[i].lote + "</td><td>" + data[i].superficie + "</td><td>" + format(data[i].precio_contado) + "</td><td>" + format(data[i].precio_credito) + "</td><td>" + format(data[i].precio_costo) + "</td></tr>");
				fraccion_actual = data[i].fraccion_id;
				total_lotes=0;
				total_superficie = 0;
				total_contado = 0;
				total_credito = 0;
				total_costo = 0;

				total_superficie += data[i].superficie;
				total_contado += data[i].precio_contado;
				total_credito += data[i].precio_credito;
				total_costo += data[i].precio_costo;
				total_lotes+=1;
			}

			if (i == data.length - 1) {
				$('#tabla_lotes').append('<tr class="custom_class"><td colspan="2">'+"Totales de Fraccion: </td><td>" + total_lotes + "</td><td>" + total_superficie + "</td><td>" + format(total_contado) + "</td><td>" + format(total_credito) + "</td><td>" + format(total_costo) + "</td></tr>");
			}

		}
		$('#tabla_lotes').append('<tr class="custom_class"><td colspan="2">'+"Totales Generales: </td><td>" + total_general_lotes + "</td><td>" + total_general_superficie + "</td><td>" + format(total_general_contado) + "</td><td>" + format(total_general_credito) + "</td><td>" + format(total_general_costo) + "</td></tr>");

	}

</script>
{% endblock %}
{% block content %}
<div class="gri16 text-izquierda" id="breadcumb">
	<a href="/">Inicio</a><span class="verde-1">></span>
	<a href="/informes/">Informes</a>
	<span class="verde-1">> Lotes Libres</span>
</div>
<div class="clear"></div>

<div class="grid_10">
	<h1>Listado de Lotes Libres</h1>
</div>
<div class="grid_6">
	<form name="frm_busqueda" id="frm_busqueda" method="post" action="/informes/listado_busqueda_lotes/">
		{% csrf_token %}
		<table>

			<tr>
			<tr>
				Rango de Fracci&oacute;n:
			</tr>
			<td>
			<input name="fraccion_ini" id="fraccion_ini" type="text" value="" placeholder="Fraccion inicial"/>
			</td>
			<td>
			<input name="fraccion_fin" id="fraccion_fin" type="text" value="" placeholder="Fraccion final"/>
			</td>
			</tr>
			<tr>
				<td>
				<input type="button" value="Buscar" onclick="validar();" class="historico" style="cursor: pointer"/>
				</td>
				<td>
				<input name="tabla" type="hidden" value="lote"/>
				</td>

			</tr>

		</table>

	</form>

</div>
<div class="grid_6">
	<a class="boton-verde" id="id_boton" onclick="retrieve_lotes_libres();">Descargar como Excel</a>
</div>
<div class="clear"></div>
<div id="listado-cuadro-busqueda">

	<br>
	<br>
</div>
<div id="listado-item-lote">
	<table id="tabla_lotes" table width="50%" border="1" cellpadding="0" cellspacing="0" class="listado-lotes" align="center">
		<th>Nombre Fracci&oacute;n</th><th>Fracci&oacute;n</th><th>Lote Nro</th><th>Superficie</th><th>Precio Contado</th><th>Precio Credito</th><th>Precio Costo</th>

		<div class="pagination">
			<span class="step-links"> {%if object_list.has_previous%} <a href="?page={{ object_list.previous_page_number }}"> Anterior</a> {%endif%}
				P&aacute;gina
				|{{object_list.number}}|

				{%if object_list.has_next%} <a href="?page={{ object_list.next_page_number }}"> Siguiente</a> {%endif%} </span>
		</div>
	</table>
</div>

<div id="footer">
	<a href="/informes" class="boton-verde">Volver al módulo de Informes</a>
</div>
{% endblock %}