{% extends "lotes/base_lotes.html" %}
{% block header_scripts %}
<script type="text/javascript">
	function buscar() {
		if ($("#id_log").val() == "") {
			alert("Debe ingresar un rango de fecha.");
		} else {
			$("#frm_busqueda").submit();
		}
	}
	$(document).ready(function() {
		
		
	});

</script>
{%endblock%}
{% block content %}
<div class="gri16 text-izquierda" id="breadcumb">
	<a href="{% url 'frontend_home' %}">Inicio</a> 
	<a href="{% url 'frontend_home' %}parametros/">> Parametros</a>  
	<a href="{% url 'frontend_home' %}parametros/log_usuario/">> Logs de Usuarios</a> 
	<span class="verde-1">> Listado de Logs de Usuarios</span> 
</div>
<div class="clear"></div>
<h1>Listado de Logs de Usuarios</h1>
<div class="grid_6">
	<form name="frm_busqueda" id="frm_busqueda" method="post" action="/parametros/log_usuario/listado_busqueda_log_usuario/">
		{% csrf_token %}
		<table id="lista-categoria" frame="box">
			<tr>
				<th class="acciones"  colspan="3"><strong><a href="#" style="color: white;">Filtrar</a></strong></th>
			</tr>
			<tr>
				<td>Log Usuario:</td>
				<td><input id="id_log" name="timbrado" type="hidden" maxlength="100"/>
					<input id="id_fecha_log" type="text" name="fecha_timbrado" maxlength="100" /><br><br>
				</td>
			</tr>
			<tr>
				<td></td>
				<td><input type="button" value="Buscar" onclick="buscar();" class="historico" style="cursor: pointer"/></td>
			</tr>
		</table>
	</form>
</div>
<div class="clear"></div>
<div id="listado-cuadro-busqueda">
	
</div>
<div id="listado-item-lote">
		<table border="1" cellpadding="0" cellspacing="0" class="listado-lotes" align="center">
				<th>ID</th><th>Fecha y Hora</th><th>Usuario</th><th>Accion</th><th>Tipo Entidad</th><th>ID Entidad</th><th>Codigo Lote</th>
				{% for log in object_list %}
				{% if forloop.counter|divisibleby:2 %}
					<tr>
						<td>{{log.id}}</td>
						<td>{{log.fecha_hora}}</td>
						<td>{{log.usuario}}</td>
						<td>{{log.accion}}</td>
						<td>{{log.tipo_objeto}}</td>
						<td>{{log.id_objeto}}</td>
						<td>{{log.codigo_lote}}</td>
					</tr>
					{% else %}
					<tr class="bkg_gris">
						<td>{{log.id}}</td>
						<td>{{log.fecha_hora}}</td>
						<td>{{log.usuario}}</td>
						<td>{{log.accion}}</td>
						<td>{{log.tipo_objeto}}</td>
						<td>{{log.id_objeto}}</td>
						<td>{{log.codigo_lote}}</td>
					</tr>
					{% endif %}				
				{% endfor %}
		<div class="pagination">
			<span class="step-links">
				Mostrando {{ object_list.start_index }}-{{ object_list.end_index }} de {{ object_list.paginator.count }} Resultados
				{%if object_list.has_previous%} 
				<a href="?page={{ object_list.first_index}}{{ultimo}}"> Primera </a> 
				<a href="?page={{ object_list.previous_page_number }}{{ultimo}}"> Anterior</a> 
				{%endif%}
				P&aacute;gina |{{object_list.number}}|		
				{%if object_list.has_next%} 
				<a href="?page={{ object_list.next_page_number }}{{ultimo}}"> Siguiente </a> 				
				<a href="?page={{ object_list.end_index}}{{ultimo}}"> Ultima </a> 
				{%endif%} 
			</span>
		</div>
	</table>
</div>

<div id="footer"><a href="{% url 'frontend_home' %}parametros/timbrado" class="boton-verde">Volver al módulo de Timbrado</a></div>
{% endblock %}