{% extends "lotes/base_lotes.html" %}
{% block header_scripts %}
<script type="text/javascript">
	function buscar() {
		if ($("#id_usuario").val() == "") {
			alert("Debe seleccionar un usuario para buscar.");
		} else {
			$("#frm_busqueda").submit();
		}
	}
	$(document).ready(function() {
		//autocomplete para planes de pago
		var id_usuario;
		$("#id_nombre_usuario").focus();
		$("#id_nombre_usuario").empty();
		base_url= base_context + "/ajax/get_usuario_by_username/";
		params="value";
		$("#id_nombre_usuario").autocomplete({
			source : base_url,
			minLenght : 1,
			create : function(){
			$(this).data('ui-autocomplete')._renderItem = function(ul,item){
				return $('<li>').append('<a>' +item.fields.username+'</a>').appendTo(ul);
				};
			},
			select : function(event, ui) {
				event.preventDefault();
				id_usuario = ui.item.pk;
				nombre_usuario= ui.item.fields.username;
				ui.item.value = ui.item.fields.username;
				$("#id_nombre_usuario").val(nombre_usuario);
				$("#id_usuario").val(id_usuario);			
			}
		});
	});

</script>
{%endblock%}
{% block content %}
<div class="gri16 text-izquierda" id="breadcumb">
	<a href="{% url 'frontend_home' %}">Inicio</a> 
	<a href="{% url 'frontend_home' %}parametros/">> Parametros</a>  
	<a href="{% url 'frontend_home' %}parametros/coordenadas_factura/">> Coordenadas de Impresion de Facturas</a> 
	<span class="verde-1">> Listado de Coordenadas de Impresion de Facturas</span> 
</div>
<div class="clear"></div>
<h1>Listado de Coordenadas de Impresion de Facturas</h1>
<div class="grid_6">
	<form name="frm_busqueda" id="frm_busqueda" method="post" action="/parametros/coordenadas_factura/listado_busqueda_coordenadas_factura/">
		{% csrf_token %}
		<table id="lista-categoria" frame="box">
			<tr>
				<th class="acciones"  colspan="3"><strong><a href="#" style="color: white;">Filtrar</a></strong></th>
			</tr>
			<tr>
				<td>Usuario:</td>
				<td><input id="id_usuario" name="usuario" type="hidden" maxlength="100"/>
					<input id="id_nombre_usuario" type="text" name="nombre_usuario" maxlength="100" /><br><br>
				</td>
			</tr>
			<tr>
				<td></td>
				<td><input type="button" value="Buscar" onclick="buscar();" class="historico" style="cursor: pointer"/></td>
			</tr>
		</table>
	</form>
</div>
<div class="clear"></div>
<div id="listado-cuadro-busqueda">
	<a href="{% url 'frontend_home' %}parametros/coordenadas_factura/agregar" class="boton-verde">Agregar Coordenadas de Impresion de Facturas</a>
	<br><br>
</div>
<div id="listado-item-lote">
		<table border="1" cellpadding="0" cellspacing="0" class="listado-lotes" align="center">
				<th>id</th><th>Usuario</th>
				{% for hw in object_list %}
				{% if forloop.counter|divisibleby:2 %}
					<tr>
						<td><a href="{{hw.id}}">{{hw.id}} <strong>(Ver Detalles)</strong></a></td>
						<td>{{hw.usuario}}</td>
						
					</tr>
					{% else %}
					<tr class="bkg_gris">
						<td><a href="{{hw.id}}">{{hw.id}} <strong>(Ver Detalles)</strong></a></td>
						<td>{{hw.usuario}}</td>
						
					</tr>
					{% endif %}				
				{% endfor %}
		<div class="pagination">
			<span class="step-links">
				Mostrando {{ object_list.start_index }}-{{ object_list.end_index }} de {{ object_list.paginator.count }} Resultados
				{%if object_list.has_previous%} 
				<a href="?page={{ object_list.first_index}}{{ultimo}}"> Primera </a> 
				<a href="?page={{ object_list.previous_page_number }}{{ultimo}}"> Anterior</a> 
				{%endif%}
				P&aacute;gina |{{object_list.number}}|		
				{%if object_list.has_next%} 
				<a href="?page={{ object_list.next_page_number }}{{ultimo}}"> Siguiente </a> 				
				<a href="?page={{ object_list.end_index}}{{ultimo}}"> Ultima </a> 
				{%endif%} 
			</span>
		</div>
	</table>
</div>

<div id="footer">
	<div class="pagination">
			<span class="step-links"> Mostrando {{ object_list.start_index }}-{{ object_list.end_index }} de {{ object_list.paginator.count }} Resultados
				{%if object_list.has_previous%} <a href="?page={{ object_list.first_index}}{{ultima_busqueda}}"> Primera </a> <a href="?page={{ object_list.previous_page_number }}{{ultima_busqueda}}"> Anterior</a> {%endif%}
				P&aacute;gina |{{object_list.number}}|
				{%if object_list.has_next%} <a href="?page={{ object_list.next_page_number }}{{ultima_busqueda}}"> Siguiente </a> <a href="?page={{ object_list.end_index}}{{ultima_busqueda}}"> Ultima </a> {%endif%} </span>
		</div></br>
	<a href="{% url 'frontend_home' %}parametros/coordenadas_factura" class="boton-verde">Volver al módulo de Coordenadas de Impresion de Facturas</a>
	</div>
{% endblock %}