{% extends "lotes/base_lotes.html" %}

{% block content %}
<div class="gri16 text-izquierda" id="breadcumb">
	<a href="{% url 'frontend_home' %}">Inicio</a> 
	<span class="verde-1">> Parametros </span> 
</div>
<a href="{% url 'frontend_home' %}parametros/plan_pago/" class="boton-verde">Planes de pago</a>
<br><br><br>
<a href="{% url 'frontend_home' %}parametros/timbrado/" class="boton-verde">Timbrado</a>
<br><br><br>
<a href="{% url 'frontend_home' %}parametros/plan_pago_vendedores/" class="boton-verde">Planes de pago Vendedores</a>
<br><br><br>
<a href="{% url 'frontend_home' %}parametros/concepto_factura/" class="boton-verde">Conceptos de Facturas</a><br>
<br><br><br>
<a href="{% url 'frontend_home' %}parametros/log_usuario/" class="boton-verde">Logs de Usuario</a><br>
<br><br><br>
<a href="{% url 'frontend_home' %}parametros/coordenadas_factura/" class="boton-verde">Coordenadas de Impresion de Facturas</a><br>
<br><br><br>
<a href="{% url 'frontend_home' %}parametros/generales/" class="boton-verde">Parametros generales</a><br>
<br><br><br>
<a href="{% url 'frontend_home' %}" class="boton-verde">Volver a la P&aacute;gina pricipal</a>
{% endblock %}