@charset "utf-8";
/* CSS Document */
/*
body {
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	font-size: 12px;
}

#listado-cuadro-busqueda {
	border: 1px solid green;
	padding: 8px 12px;
}

#listado-item-cliente {
	border: 1px solid orange;
	padding: 8px 12px;
}

#listado-footer {
	border: 1px solid blue;
	padding: 8px 12px;
}
*/
/* Detalle de Clientes */
/*
#detalle-cliente {
	border: 1px solid rgb(204,204,204);
}

#detalle-cliente-header {
	padding: 8px 12px;
	border-bottom: 1px solid rgb(238,238,238);
}

.fieldWrapper {
	padding: 8px 12px;
	border-bottom: 1px solid rgb(238,238,238);
}

label {
	width: 8em;
	display: inline-block;
	vertical-align: top;
}
.required {
	font-weight: bold;
}

input[type="text"], select {
	border: 1px solid rgb(204,204,204);
	font-size: 11px;
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	padding: 2px 3px;
}
input[type="text"] {
	width: 20em;
}

.cliente-form-button {
	border: 1px solid rgb(204,204,204);
	margin: 8px 12px;
}
*/