{% extends "lotes/base_lotes.html" %}

{% block header_scripts %}

<script type="text/javascript" src="{{ STATIC_URL }}modificar_pago.js"></script>
{% endblock %}

{% block content %}
<div class="gri16 text-izquierda" id="breadcumb">
	<a href="{% url 'frontend_home' %}">Inicio</a><span class="verde-1">></span>
	<a href="{% url 'frontend_home' %}movimientos/">Movimientos</a>
	<span class="verde-1">> Agregar Pago</span>
</div>
<div class="clear"></div>

<div class="grid_10">
	<h1>Agregar Pago</h1>
</div>

<div class="grid_6">
	<a href="#" class="historico">Buscar</a>
</div>

<div class="clear"></div>
<div class="grid_16" align="center">
	<div id="{{message_id}}">{{ message }}</div>
	<form id="main_pago_form" action="" method="post">
		<table width="94%" border="0" cellpadding="0" cellspacing="0" id="forms" align="center">
			{% csrf_token %}
			<div class="fieldWrapperMovimientos">
				<tr>
					<td><label for="id_lote">Lote: </label></td>
					<td class="noimage">
						{{venta.lote.codigo_paralot}}
						<input type="hidden" id="id_venta" name="venta_id" value="{{venta.id}}" />
					</td>
				</tr>
			</div>
			<div class="fieldWrapperMovimientos">
				<tr>
					<td><label for="lote_seleccionado_fraccion">Fraccion: </label></td>
					<td class="noimage" id="lote_seleccionado_fraccion">{{venta.lote.manzana.fraccion.nombre}}</td>
				</tr>
			</div>
			<div class="fieldWrapperMovimientos">
				<input id="id_cliente" type="hidden" name="cliente"  maxlength="100"/>
				<tr>
					<td><label>Cliente: </label></td>
					<td class="noimage"><div id="cliente_seleccionado"></div>
					<ul class="errorlist">
						<li id="cliente_error"></li>
					</ul>{{venta.cliente.apellidos}}  {{venta.cliente.nombres}} </td>
				</tr>
			</div>
			<div class="fieldWrapperMovimientos">
				<tr>
					<td><label for="id_fecha">Fecha de Pago: </label></td>
					<td class="noimage">
					<input id="id_fecha" type="text" name="fecha" maxlength="10" value="{{fecha_pago}}"/>
					</td>
				</tr>
			</div>
			<div class="fieldWrapperMovimientos">
				<tr>
					<td><label for="nro_cuotas_a_pagar">Cantidad de Cuotas Pagadas: </label></td>
					<td class="noimage">
					<input id="nro_cuotas_a_pagar" type"number" name="nro_cuotas_a_pagar" value ="" maxlength="4" />
					</td>
				</tr>
				<tr>
					<td><label for="monto_cuota">Monto de cada Cuota: </label></td>
					<td class="noimage">
					<input id="monto_cuota" type="text" name="monto_cuota" maxlength="10" value=""/>
					</td>
				</tr>
				<tr>
					<td><label for="total_mora">Total de Mora: </label> </td>
					<td class="noimage">
					<input id="total_mora" type="number" name="total_mora" maxlength="10" value=""/>
					</td>
				</tr>
			</div>
			<div class="fieldWrapperMovimientos">				
				<tr>
					<td><label for="total_pago">Monto Total a Pagar: </label></td>
					<td class="noimage">
					<input id="monto_total" type="number" name="monto_total" maxlength="10" value=""/>
					</td>
				</tr>
			</div>
		</table>
		<input id="enviar_pago" style="cursor: pointer;" type="submit" value="Guardar Pago" />
		<br>
		<br>
		<br>
	</form>
	<div class="clear"></div>
</div>

<div id="footer">
	<a href="{% url 'frontend_home' %}" class="boton-verde">Volver al Menú Principal</a>
	
</div>

{% endblock %}