{% extends "lotes/base_lotes.html" %}

{% block header_scripts %}
<!--
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}ajax_config.js"></script>
-->
<script type="text/javascript" src="{{ STATIC_URL }}movimientos.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}movimientos_pagos.js"></script>
<script>
	var grupo = "{{grupo}}";
	var codigo_lote = "{{codigo_lote}}";
</script>
{% endblock %}

{% block content %}
<div class="gri16 text-izquierda" id="breadcumb">
	<a href="{% url 'frontend_home' %}">Inicio</a><span class="verde-1">></span>
	<a href="{% url 'frontend_home' %}movimientos/">Movimientos</a>
	<span class="verde-1">> Consulta de Cuotas</span>
</div>
<div class="clear"></div>

<div class="grid_10">
	<h1>Consultar Cuotas</h1>
</div>

<div class="grid_6">
	<a href="#" class="historico">Buscar</a>
</div>
<div class="clear"></div>
<div class="grid_16" align="center">
	<form id="main_pago_form" action="" method="post">
		<table width="94%" border="0" cellpadding="0" cellspacing="0" id="forms" align="center">
			{% csrf_token %}
			<div class="fieldWrapperMovimientos">
				<tr>
					<td><label for="id_lote">Lote: </label></td>
					<td class="noimage">
					<input id="id_lote" type="text" name="lote" maxlength="12" onblur="retrievePlanes();" />
					<input id="detalle" type="hidden" name="detalle" />
					<!--<input id="id_lote" type="text" name="lote" maxlength="12" onblur="retrieveData();" />-->
					<input id="id_venta_pagos" type="hidden" name="id_venta" />
					<ul class="errorlist">
						<li id="lote_error"></li>
					</ul></td>
				</tr>
				<tr>
					<td><label>Obs del Lote: </label></td>
					<td class="noimage"><div id="id_obs_lote" name="obs_lote"></td>
				</tr>
				<tr>
					<td><label>Ficha del Lote: </label></td>
					<td class="noimage"><div id="lote_seleccionado_detalles"></td>
				</tr>
			</div>
				<div class="fieldWrapperMovimientos">
				<!--<input id="id_cliente" type="hidden" name="cliente"  maxlength="100" onchange="retrieveLotePago();" />-->
				<input id="id_cliente" type="hidden" name="cliente"  maxlength="100"/>
				<tr>
					<td><label>Cliente: </label></td>
					<td class="noimage"><div id="cliente_seleccionado"></div>
					<ul class="errorlist">
						<li id="cliente_error"></li>
					</ul></td>
				</tr>
			</div>
			<div class="fieldWrapperMovimientos">
				<tr>
					<td><label for="lote_seleccionado_fraccion">Fraccion: </label></td>
					<td class="noimage" id="lote_seleccionado_fraccion"></td>
				</tr>
				<tr>
					<td><label for="resumen_cuotas">Cuotas Pagadas/Total: </label></td>
					<td class="noimage" id="resumen_cuotas"></td>
				</tr>
			</div>
			<div class="fieldWrapperMovimientos">
				<tr>
					<input type="hidden" id="proximo_vencimiento">
					<td><label for="cuota_a_pagar">Cuota a Pagar: </label></td>
					<td id="cuotas_a_pagar">
					<table border="1" cellpadding="0" cellspacing="0"  id="id_cuota_pagar" class="listado-cuotas-estado">
						<tr>
							<th>Nro Cuota</th>
							<th>Fecha de Vencimiento</th>
							<th>Monto Cuota</th>
						</tr>
					</table>
					</td>
				</tr>
			</div>
			<div class="fieldWrapperMovimientos">
				<tr>
					<td><label for="id_fecha">Fecha de Pago: </label></td>
					<td class="noimage">
						<input class="fecha_pago" type="text" name="fecha" maxlength="10"/>
					</td>
				</tr>
			</div>
			<div class="fieldWrapperMovimientos">
				<tr>
					<td><label for="nro_cuotas_a_pagar">Cantidad de Cuotas a Pagar: </label></td>
					<td class="noimage">
					<input id="nro_cuotas_a_pagar" type="number" name="nro_cuotas_a_pagar" maxlength="4"  />
					</td>
				</tr>
			</div>
			<div class="fieldWrapperMovimientos">
				<tr>
					<td><label for="total_cuotas">Total monto Cuotas: </label></td>
					<td class="noimage">
					<input id="total_cuotas" type="hidden" name="total_cuotas" readonly maxlength="100" />
					<div id="total_cuotas2"></div></td>
				</tr>
				<tr>
					<td><label for="total_mora">Total Intereres y Gestiones: </label></td>
					<td class="noimage">
					<input id="total_mora" type="hidden" name="total_mora" readonly maxlength="100" />
					<br><div id="total_mora2"></div><br>
					<input type="button" class="historico" data-toggle="modal" value="Ver detalles" data-target=".bs-example-modal-sm" onclick="dibujarDetalle()"/>
					<!--<div id="total_mora2"></div>-->
					<!-- Small modal -->
					
					<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-sm">
							<div class="modal-content">
							<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					        <h4 class="modal-title">Detalles de Intereses y Gestiones</h4>
					        </div>
					      	<div id="contenido_modal" class="modal-body"></div>							
							</div>
						</div>
					</div>
					</td>
				</tr>
				<tr>
					<td><label for="total_pago">Monto Total a Pagar: </label></td>
					<td class="noimage">
					<input id="total_pago" type="hidden" name="total_pago" readonly maxlength="100" />
					<div id="total_pago2"></div></td>
				</tr>
				<tr>
					<td><label for="fecha_vencimiento">Fecha de &Uacute;ltima Venta: </label></td>
					<td class="noimage">
					<input id="id_fecha_venta" type="hidden" name="fecha_venta" maxlength="10" />
					<input id="id_fecha_venta2" type="text" name="fecha_venta2" maxlength="10" />
					</td>
				</tr>
			</div>
						<div class="fieldWrapperMovimientos">
				<!--<input id="id_vendedor" type="hidden" name="vendedor" readonly maxlength="100" onchange="retrieveCliente()" />-->
				<input id="id_vendedor" type="hidden" name="vendedor" readonly maxlength="100" onchange="calcularInteres();"/>
				<tr>
					<td><label>Vendedor: </label></td>
					<td class="noimage"><div id="vendedor_seleccionado"></div>
					<br>
					<ul class="errorlist">
						<li id="vendedor_error"></li>
					</ul></td>
				</tr>
			</div>
			<div class="fieldWrapperMovimientos">
				<!--<input id="id_plan_pago" type="hidden" name="plan_pago" readonly maxlength="100" onchange="retrievePlanPago()" />-->
				<input id="id_plan_pago" type="hidden" name="plan_pago" readonly maxlength="100"/>
				<tr>
					<td><label>Plan de pago: </label><td class="noimage"><div id="plan_pago_seleccionado"></div>
					<br>
					<ul class="errorlist">
						<li id="plan_pago_error"></li>
					</ul></td>
				</tr>
				<!--<input id="id_plan_pago_vendedores" type="hidden" name="plan_pago_vendedores" readonly maxlength="100" onchange="retrievePlanPagoVendedor()"/>-->
				<input id="id_plan_pago_vendedores" type="hidden" name="plan_pago_vendedores" readonly maxlength="100"/>
				<tr>
					<td><label>Plan de pago Vendedor: </label><td class="noimage"><div id="plan_pago_vendedor_seleccionado"></div>
					<br>
					<ul class="errorlist">
						<li id="plan_pago_vendedor_error"></li>
					</ul></td>
				</tr>
			</div>

		</table>
		<input type="hidden" id="facturar" value="" name="facurar">
		<br>
		<br>
		<br>
	</form>
	<input type="hidden" id="poner_puntos" />
	<div class="clear"></div>
</div>
<div id="footer">
	<a href="{% url 'frontend_home' %}" class="boton-verde">Volver al Menú Principal</a>
</div>

{% endblock %}