{% if ventas %}
{% for venta in ventas %}
    <table cellpadding="0" cellspacing="0" border="1" class="listado-lotes"  align="center" id="listado_cuotas_{{ venta.id }}">
        <thead>
        <tr style="display: none">
            <input type="hidden" id="venta_id" value="{{ venta.id }}">
            <input type="hidden" id="interes_original_{{ venta.id }}" value="{{ venta.totalIntereses }}">
        </tr>
        <tr>
            <th colspan="2">
                <b>Fraccion - Lote: </b> {{ venta.fraccion }} - {{ venta.lote }}
            </th>
            <th colspan="2">
                <b>Cuotas pagadas: </b> {{ venta.fraccion }}
            </th>
            <th colspan="2">
                <b>Cantidad de Cuotas a pagar: </b> <input style="color: black; text-align: center" type="number"
                                               id="cantidad_cuotas_{{ venta.id }}" class="cantidad_cuotas" value="1">
            </th>
        </tr>
        <tr>
            <th>Nro Cuota</th>
            <th>Fecha Vencimento</th>
            <th>Fecha Vencimento con 5 días hábiles de gracia</th>
            <th>Días de Atraso</th>
            <th>Monto Cuota</th>
            <th>Monto Intereses</th>
        </tr>
        </thead>
        <tbody id="lista_cuotas_{{ venta.id }}">
        {% for cuota in venta.cuotas %}
            <tr>
                <td class="cuota_nro_{{ venta.id }}">{{ cuota.nro_cuota }}</td>
                <td>{{ cuota.fecha }}</td>
                <td>{{ cuota.vencimiento_gracia }}</td>
                {% if cuota.dias_atraso %}
                    <td>{{ cuota.dias_atraso }}</td>
                {% else %}
                    <td>0</td>
                {% endif  %}
                <td style="text-align: right">{{ cuota.monto_cuota }}</td>
                {% if cuota.intereses %}
                    <td style="text-align: right"><input type="text" id="cuota_intereses_{{ venta.id }}" class="cuota_intereses" value="{{ cuota.intereses }}" style="text-align: right; font-size: 13px"/></td>
                {% else %}
                    <td style="text-align: right">0</td>
                {% endif  %}
            </tr>
        {% endfor %}
        {% if venta.gestion_cobranza %}
            {% if venta.gestion_cobranza != '0' %}
                <tr>
                    <td colspan="4" style="text-align: right">Gestion Cobranza</td>
                    <td colspan="2" style="text-align: right"><input type="text" id="gestion_cobranza_{{ venta.id }}" class="gestion_cobranza" value="{{ venta.gestion_cobranza }}" style="text-align: right; font-size: 13px"/></td>
                </tr>
            {% endif %}
        {% endif %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" style="text-align: right"><b>Totales</b></td>
                <td style="text-align: right" class="total_monto_cuota_lote" id="total_monto_cuota_lote_{{ venta.id }}">{{ venta.totalMontoCuotas }}</td>
                <td style="text-align: right" class="total_monto_intereses_lote" id="total_monto_intereses_lote_{{ venta.id }}">{{ venta.totalIntereses }}</td>
            </tr>
            <tr>
                <td colspan="4" style="text-align: right"><b>Total a Pagar Lote</b></td>
                <td colspan="2" style="text-align: right"><b class="total_monto_lote" id="total_monto_lote_{{ venta.id }}">{{ venta.totalPagoLote }}</b></td>
            </tr>
        </tfoot>
    </table>
{% endfor %}
<table  cellpadding="0" cellspacing="0" border="1" class="listado-lotes-totales" align="right" style="width: 100%">
    <thead>
        <tr>
            <th colspan="6">Totales</th>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
        <!--
        <tr>
            <td colspan="2" style="text-align: right"><b>Cantidad Cuotas </b></td>
            <td style="text-align: right">{{ cant_cuotas }}</td>
        </tr>
        -->
        <tr>
            <td colspan="5" style="text-align: right; width: 70%"><b>Total Cuotas </b></td>
            <td style="text-align: right" id="total_pago_cuotas_cliente">{{ total_pago_cuotas }}</td>
        </tr>
        <tr>
            <td colspan="5" style="text-align: right"><b>Total Interes y Gestiones</b></td>
            <td style="text-align: right" id="total_pago_intereses_cliente">{{ total_pago_intereses }}</td>
        </tr>
        <tr>
            <td colspan="5" style="text-align: right"><b>Total a Pagar</b></td>
            <td style="text-align: right"><b id="total_pago_cliente">{{ total_pago }}</b></td>
        </tr>
    </tfoot>
</table>
<div>
    <input type="button" class="button_verde" id="procesar_pagos" value="Procesar Pagos">
</div>
{% else %}
    <table cellpadding="0" cellspacing="0" border="1" class="listado-lotes"  align="center">
        <tr>
            <td>No se encontraron ventas del cliente.</td>
        </tr>
    </table>
{% endif %}
