{% extends "lotes/base_lotes.html" %}

{% block content %}
<div class="gri16 text-izquierda" id="breadcumb">
	<a href="/">Inicio</a> <span class="verde-1">></span>  
	<a href="/movimientos/">Movimientos</a> 
	<span class="verde-1">> Listado de Pagos</span> 
</div>
<div class="clear"></div>

					<div class="grid_10">
  						<h1>Listado de Pagos</h1>
					</div>

					<div class="grid_6">
  						<a href="#" class="historico">Buscar</a>
					</div>

					<div class="clear"></div>
					<div id="listado-cuadro-busqueda">
						<a href="/movimientos/agregar" class="boton-verde">Agregar Cuota</a>
						<br><br>
					</div>
					<div id="listado-item-lote">
						<table width="50%" border="1" cellpadding="0" cellspacing="0" class="listado-pagos" align="center">
							<th>Codigo</th><th>Lote Nro</th><th>Cliente</th><th>Cuotas a Pagar</th><th>Plan de Pago</th><th>Fecha de Pago</th><th>Total de Cuotas</th><th>Total de Mora</th><th>Total de Pago</th>
{% for hw in object_list %}
		<tr>
			<td>
				<!--<a href="/lotes/listado/pagos/{{ hw.id }}/">{{hw.id}} <strong>(Ver Detalles)</strong></a>-->
				<a href="#">{{hw.id}} <strong>(Ver Detalles)</strong></a>
			</td>
			<td>
				{{hw.lote}}
			</td>
			<td>
			    {{hw.cliente}}
			</td>
			<td>
			    {{hw.nro_cuotas_a_pagar}}
			</td>
			<td>
			    {{hw.plan_de_pago}}
			</td>
			<td>
			    {{hw.fecha_de_pago}}
			</td>			
			<td>
				{{hw.total_de_cuotas}}
			</td>
			<td>
				{{hw.total_de_mora}}
			</td>
			<td>
				{{hw.total_de_pago}}
			</td>
			
		</tr>

{% endfor %}
						</table>
					</div>

<div id="footer"><a href="/movimientos" class="boton-verde">Volver al módulo de Movimientos</a></div>
{% endblock %}