{% extends "lotes/base_lotes.html" %}

{% block content %}
<div class="gri16 text-izquierda" id="breadcumb">
	<a href="/">Inicio</a> <span class="verde-1">></span>  
	<a href="/movimientos/">Movimientos</a> 
	<span class="verde-1">> Listado de Recuperacion</span> 
</div>
<div class="clear"></div>

					<div class="grid_10">
  						<h1>Listado de Recuperacion</h1>
					</div>

					<div class="grid_6">
  						<a href="#" class="historico">Buscar</a>
					</div>

					<div class="clear"></div>
					<div id="listado-cuadro-busqueda">
						<a href="/movimientos/recuperacion_lotes" class="boton-verde">Agregar Recuperacion</a>
						<br><br>
					</div>
					<div id="listado-item-lote">
						<table width="50%" border="1" cellpadding="0" cellspacing="0" class="listado-lotes" align="center">
							<th>Codigo</th><th>Lote</th><th>Fecha de Recuperacion</th><th>Cliente</th><th>Vendedor</th><th>Venta</th>
{% for hw in object_list %}
		<tr>
			<td>
				<!--<a href="/lotes/listado/pagos/{{ hw.id }}/">{{hw.id}} <strong>(Ver Detalles)</strong></a>-->
				<a href="#">{{hw.id}} <strong>(Ver Detalles)</strong></a>
			</td>
			<td>
			    {{hw.lote}}
			</td>
			<td>
			    {{hw.fecha_de_recuperacion}}
			</td>
			<td>
			    {{hw.cliente}}
			</td>
			<td>
			    {{hw.vendedor}}
			</td>
			<td>
			    {{hw.venta}}
			</td>
			
						
									
		</tr>

{% endfor %}
						</table>
					</div>

<div id="footer"><a href="/movimientos" class="boton-verde">Volver al módulo de Movimientos</a></div>
{% endblock %}