{% extends "lotes/base_lotes.html" %}
{% block header_scripts %}
<script type="text/javascript">
$(document).ready(function() {
	$('#fecha_hasta').mask('##/##/####');
	$("#fecha_hasta").datepicker({ dateFormat: 'dd/mm/yy' });
	$("#fecha_hasta").hide();
});	
function buscar(){
	if($("#tipo_busqueda").val()==0){
		alert("Debe elegir un tipo de busqueda.");
	}
	else{
		if($("#busqueda").val()==""){
			alert("Debe ingresar un nombre para buscar.");
		}else{
			$("#frm_busqueda").submit();
		}
	}
}	
function desplegar_fecha(){
	
	if($("#tipo_busqueda").val()=='fecha'){
		$("#fecha_hasta").show();		
		$('#busqueda').mask('##/##/####');
	    $("#busqueda").datepicker({ dateFormat: 'dd/mm/yy' });
	} else{
		$("#fecha_hasta").hide();
		$("#busqueda").datepicker("destroy");
		$("#busqueda").removeClass("hasDatepicker");
		$("#busqueda").unmask();
		$("#fecha_hasta").val("");
		$("#busqueda").val("");
	}	
}
</script>
{% endblock %}
{% block content %}
<div class="gri16 text-izquierda" id="breadcumb">
	<a href="/">Inicio</a> <span class="verde-1">></span>  
	<a href="/movimientos/">Movimientos</a> 
	<span class="verde-1">> Listado de Reservas</span> 
</div>
<div class="clear"></div>

					<div class="grid_10">
  						<h1>Listado de Reservas</h1>
					</div>

					<div class="grid_6">
  						<form name="frm_busqueda" id="frm_busqueda" method="post" action="/movimientos/listado_busqueda_reservas/">
							
							{% csrf_token %}
							
							<select id="tipo_busqueda" name="tipo_busqueda" onchange="desplegar_fecha();">
								<option value="0">Elija una opcion</option>
								<option value="lote">Lote</option>
								<option value="cliente">Cliente</option>
								<option value="fecha">Fecha de Reserva</option>
							</select>
							<input id="busqueda" name="busqueda" />
							
							<input name="fecha_hasta" id="fecha_hasta" type="text" value=""/>
  							<input name="tabla" type="hidden" value="venta"/>
  							
  							<input type="button" value="Buscar" onclick="buscar();" class="historico" style="cursor: pointer"/>
  							
  							
  						</form>
					</div>

					<div class="clear"></div>
					<div id="listado-cuadro-busqueda">
						<a href="/movimientos/reservas_lotes" class="boton-verde">Agregar Reserva</a>
						<br><br>
					</div>
					<div id="listado-item-lote">
						<table width="50%" border="1" cellpadding="0" cellspacing="0" class="listado-lotes" align="center">
							<th>Codigo</th><th>Lote</th><th>Fracci&oacute;n</th><th>Cliente</th><th>Fecha de Reserva</th>
{% for hw in object_list %}
		<tr>
			<td>
			    {{hw.id}}
			</td>			
			<td>
			    {{hw.lote}}
			</td>
			<td>
				 {% for f in fraccion %}
					{% if forloop.counter == forloop.parentloop.counter %}
						{{ f.id}}
					{% endif %}
				 {% endfor %}				
			</td>
			<td>
			    {{hw.cliente}}
			</td>
			<td>
			    {{hw.fecha_de_reserva}}
			</td>												
		</tr>

{% endfor %}
<div class="pagination">
    <span class="step-links">
        <div class="pagination">
    <span class="step-links">
        {%if object_list.has_previous%}
        <a href="?page={{ object_list.previous_page_number }}{{ultima_busqueda}}"> Anterior</a>
		{%endif%}
    	P&aacute;gina
    	|{{object_list.number}}|
    	
    	{%if object_list.has_next%}
		<a href="?page={{ object_list.next_page_number }}{{ultima_busqueda}}"> Siguiente</a>
		{%endif%}
    </span>
</div>

						</table>
					</div>

<div id="footer"><a href="/movimientos" class="boton-verde">Volver al módulo de Movimientos</a></div>
{% endblock %}