{% extends "lotes/base_lotes.html" %}
{% block header_scripts %}

<script type="text/javascript">
	$(document).ready(function() {
		//Cambiar calendario a español
		$.datepicker.regional['es'] = {
			closeText : 'Cerrar',
			prevText : '<Ant',
			nextText : 'Sig>',
			currentText : 'Hoy',
			monthNames : ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
			monthNamesShort : ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
			dayNames : ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
			dayNamesShort : ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
			dayNamesMin : ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
			weekHeader : 'Sm',
			dateFormat : 'dd/mm/yy',
			firstDay : 1,
			isRTL : false,
			showMonthAfterYear : false,
			yearSuffix : ''
		};
		// Setear idioma al calendario
		$.datepicker.setDefaults($.datepicker.regional['es']);
		var busqueda_label = "{{busqueda_label}}";
		var busqueda = "{{busqueda}}";
		var fecha_desde = "{{fecha_desde}}";
		var fecha_hasta = "{{fecha_hasta}}";
		var tipo_busqueda = "{{tipo_busqueda}}";
		
		 $('#tipo_busqueda').val(tipo_busqueda);
		 $('#busqueda_label').val(busqueda_label);
		 $('#fecha_desde').val(fecha_desde);
		 $('#fecha_hasta').val(fecha_hasta);
		 $('#id_busqueda').val(busqueda);
		 
		 desplegar_campos();
		 
	}); 
</script>
<script type="text/javascript" src="{{ STATIC_URL }}listados/listado_ventas.js"></script>
{% endblock %}
{% block content %}
<div class="gri16 text-izquierda" id="breadcumb">
	<a href="{% url 'frontend_home' %}">Inicio</a><span class="verde-1">></span>
	<a href="{% url 'frontend_home' %}movimientos/">Movimientos</a>
	<span class="verde-1">> Listado de Ventas</span>
</div>
<div class="clear"></div>

<h1>Listado de Ventas</h1>

<div class="grid_6">
	<form name="frm_busqueda" id="frm_busqueda" method="get" action="{% url 'frontend_home' %}movimientos/listado_busqueda_ventas/">
		<table id="lista-categoria" frame="box">
			<tr>
				<th class="acciones" colspan="3"><strong><a href="#" style="color: white;">Filtrar</a></strong></th>
			</tr>
			<tr>
				<td>
				<select id="tipo_busqueda" name="tipo_busqueda" onchange="desplegar_campos();">
					<!-- <option value="">Elija una opcion</option> -->
					<option value="lote">Lote</option>
					<option value="cliente">Cliente</option>
					<option value="vendedor">Vendedor</option>
					<option value="fecha">Fecha de Venta</option>
					<option value="fraccion">Fraccion</option>
				</select></td>
			</tr>
			<tr>
				<td>
				<input name="busqueda_label" id="busqueda_label" type="text" value=""/>
				<input name="busqueda" id="id_busqueda" type="hidden" value=""/>
				<input name="fecha_desde" id="fecha_desde" type="text" value="" style=" display: none;"/>
				<input name="fecha_hasta" id="fecha_hasta" type="text" value="" style=" display: none;"/>
				<label id="label_contado">Contado</label><input id="contado" name="contado" type="checkbox" />
				<input name="tabla" type="hidden" value="venta"/>
				<input type="button" value="Buscar" onclick="buscar();" class="historico" style="cursor: pointer"/>
				</td>
			</tr>
		</table>
	</form>
</div>

<div class="clear"></div>
<div id="listado-cuadro-busqueda">
	<a href="{% url 'frontend_home' %}movimientos/ventas_lotes/" class="boton-verde">Agregar Venta</a>
	<br>
	<br>
</div>
<div id="listado-item-lote">
	<table width="50%" cellpadding="0" cellspacing="0" class="listado-ventas" align="center">
		<th>Venta Nro</th><th>Lote Nro</th><th>Fracci&oacute;n</th><th>Cliente</th><th>Vendedor</th><th>Fecha de Venta</th><th>Precio Final de Venta</th><th>Plan de Pago</th><th>Es Recuperada</th>
		{% for lot in object_list %}
		{% if forloop.counter|divisibleby:2 %}
		<tr>
			<td><a href="{% url 'frontend_home' %}movimientos/modificar_venta/{{ lot.id }}/">{{lot.id}} <strong>(Ver Detalles)</strong></a></td>
			<td>{{lot.lote}}</td>
			<td>{{lot.lote.manzana.fraccion}}</td>
			<td>{{lot.cliente}}</td>
			<td>{{lot.vendedor}}</td>
			<td>{{lot.fecha_de_venta}}</td>
			<td>{{lot.precio_final_de_venta}}</td>
			<td>{{lot.plan_de_pago}}</td>
			{% if lot.recuperado == True %} 
				<td>Si</td>
			{% else %}
				<td>NO</td>
			{% endif %}
		</tr>
		{% else %}
		<tr class="bkg_gris">
			<td><a href="{% url 'frontend_home' %}movimientos/modificar_venta/{{ lot.id }}/">{{lot.id}} <strong>(Ver Detalles)</strong></a></td>
			<td>{{lot.lote}}</td>
			<td>{{lot.lote.manzana.fraccion}}</td>
			<td>{{lot.cliente}}</td>
			<td>{{lot.vendedor}}</td>
			<td>{{lot.fecha_de_venta}}</td>
			<td>{{lot.precio_final_de_venta}}</td>
			<td>{{lot.plan_de_pago}}</td>
			{% if lot.recuperado == True %} 
				<td>Si</td>
			{% else %}
				<td>NO</td>
			{% endif %}
		</tr>
		{% endif %}
		{%endfor%}
		<div class="pagination">
			<span class="step-links"> Mostrando {{ object_list.start_index }}-{{ object_list.end_index }} de {{ object_list.paginator.count }} Resultados
				{%if object_list.has_previous%} <a href="?page={{ object_list.first_index}}{{ultima_busqueda}}"> Primera </a> <a href="?page={{ object_list.previous_page_number }}{{ultima_busqueda}}"> Anterior</a> {%endif%}
				P&aacute;gina |{{object_list.number}}|
				{%if object_list.has_next%} <a href="?page={{ object_list.next_page_number }}{{ultima_busqueda}}"> Siguiente </a> <a href="?page={{ object_list.end_index}}{{ultima_busqueda}}"> Ultima </a> {%endif%} </span>
		</div>
	</table>
</div>

<div id="footer">
	<a href="{% url 'frontend_home' %}movimientos" class="boton-verde">Volver al módulo de Movimientos</a>
</div>
{% endblock %}