{% extends "lotes/base_lotes.html" %}
{% block header_scripts %}
<script type="text/javascript">
	$(document).ready(function() {
		//Cambiar calendario a español
		$.datepicker.regional['es'] = {
			closeText : 'Cerrar',
			prevText : '<Ant',
			nextText : 'Sig>',
			currentText : 'Hoy',
			monthNames : ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
			monthNamesShort : ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
			dayNames : ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
			dayNamesShort : ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
			dayNamesMin : ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
			weekHeader : 'Sm',
			dateFormat : 'dd/mm/yy',
			firstDay : 1,
			isRTL : false,
			showMonthAfterYear : false,
			yearSuffix : ''
		};
		// Setear idioma al calendario
		$.datepicker.setDefaults($.datepicker.regional['es']);
		var busqueda_label = "{{busqueda_label}}";
		var busqueda = "{{busqueda}}";
		var fecha_hasta = "{{busqueda_label}}";
		var tipo_busqueda = "{{tipo_busqueda}}";

		$('#tipo_busqueda').val(tipo_busqueda);
		$('#id_busqueda_label').val(busqueda_label);
		$('#fecha_hasta').val(fecha_hasta);
		$('#id_busqueda').val(busqueda);

	});

</script>
<script type="text/javascript" src="{{ STATIC_URL }}listados/listado_pagos.js"></script>
{% endblock %}
{% block content %}
<div class="gri16 text-izquierda" id="breadcumb">
	<a href="/">Inicio</a><span class="verde-1">></span>
	<a href="/movimientos/">Movimientos</a>
	<span class="verde-1">> Listado de Pagos</span>
</div>
<div class="clear"></div>

<h1>Listado de Pagos</h1>

<div class="grid_6">
	<form name="frm_busqueda" id="frm_busqueda" method="get" action="/movimientos/listado_busqueda_pagos/">
		<table id="lista-categoria" frame="box">
			<tr>
				<th class="acciones" colspan="3"><strong><a href="#" style="color: white;">Filtrar</a></strong></th>
			</tr>
			<tr>
				<td>
				<select id="tipo_busqueda" name="tipo_busqueda" onchange="desplegar_campos();">
					<option value="">Elija una opcion</option>
					<option value="lote">Lote</option>
					<option value="cliente">Cliente</option>
					<option value="fecha">Fecha de Pago</option>
				</select></td>
			</tr>
			<tr>
				<td>
				<input name="busqueda_label" id="id_busqueda_label" type="text" value=""/>
				<input name="busqueda" id="id_busqueda" type="hidden" value=""/>
				<input name="fecha_hasta" id="fecha_hasta" type="text" value="" style=" display: none;"/>
				<input name="tabla" type="hidden" value="venta"/>
				<input type="button" value="Buscar" onclick="buscar();" class="historico" style="cursor: pointer"/>
				</td>
			</tr>
		</table>
	</form>
</div>

<div class="clear"></div>
<div id="listado-cuadro-busqueda">
	<a href="/movimientos/pago_cuotas" class="boton-verde">Agregar Pago de Cuota</a>
	<br>
	<br>
</div>
<div id="listado-item-lote">
	<table width="50%" cellpadding="0" cellspacing="0" class="listado-pagos" align="center">
		<th>Fracci&oacute;n</th><th>Lote Nro</th><th>Cliente</th><th>Cuotas Pagadas</th><th>Plan de Pago</th><th>Fecha de Pago</th><th>Total de Cuotas</th><th>Total de Mora</th><th>Total de Pago</th>
		{% for hw in object_list %}
		{% if forloop.counter|divisibleby:2 %}
		<tr>
			<td> {{hw.lote.manzana.fraccion}} </td>
			<td> {{hw.lote}} </td>
			<td> {{hw.cliente}} </td>
			<td> {{hw.nro_cuotas_a_pagar}} </td>
			<td> {{hw.plan_de_pago}} </td>
			<td> {{hw.fecha_de_pago}} </td>
			<td> {{hw.total_de_cuotas}} </td>
			<td> {{hw.total_de_mora}} </td>
			<td> {{hw.total_de_pago}} </td>
		</tr>
		{% else %}
		<tr class="bkg_gris">
			<td> {{hw.lote.manzana.fraccion}} </td>
			<td> {{hw.lote}} </td>
			<td> {{hw.cliente}} </td>
			<td> {{hw.nro_cuotas_a_pagar}} </td>
			<td> {{hw.plan_de_pago}} </td>
			<td> {{hw.fecha_de_pago}} </td>
			<td> {{hw.total_de_cuotas}} </td>
			<td> {{hw.total_de_mora}} </td>
			<td> {{hw.total_de_pago}} </td>
		</tr>
		{%endif%}
		{%endfor%}
		<div class="pagination">
			<span class="step-links">
				<div class="pagination">
					<span class="step-links"> Mostrando {{ object_list.start_index }}-{{ object_list.end_index }} de {{ object_list.paginator.count }} Resultados
						{%if object_list.has_previous%} <a href="?page={{ object_list.first_index}}{{ultimo}}"> Primera </a> <a href="?page={{ object_list.previous_page_number }}{{ultimo}}"> Anterior</a> {%endif%}
						P&aacute;gina |{{object_list.number}}|
						{%if object_list.has_next%} <a href="?page={{ object_list.next_page_number }}{{ultimo}}"> Siguiente </a> <a href="?page={{ object_list.end_index}}{{ultimo}}"> Ultima </a> {%endif%} </span>
				</div>
	</table>
</div>

<div id="footer">
	<a href="/movimientos" class="boton-verde">Volver al módulo de Movimientos</a>
</div>
{% endblock %}