{% extends "lotes/base_lotes.html" %}
{% block header_scripts %}

<script type="text/javascript">
var total_pago_cuotas_cliente = 0;
var total_pago_intereses_cliente = 0;
var total_pago_cliente = 0;
	$(document).ready(function() {
		$("#busqueda_label").focus();
		var tipo_busqueda=$("#tipo_busqueda").val();
		var busqueda_label=$("#busqueda_label").val();			
		var busqueda=$("#busqueda").val();			
		
		$("#busqueda_label").focus(); 
		autocompleteClientePorNombreOCedula(tipo_busqueda, busqueda_label, busqueda);
		
		$("#tipo_busqueda").change(function(){
			//alert("cambió");
			tipo_busqueda=$("#tipo_busqueda").val();
			busqueda_label=$("#busqueda_label").val();			
			busqueda=$("#busqueda").val();	
			autocompleteClientePorNombreOCedula(tipo_busqueda, busqueda_label, busqueda);
		});

	});
	function buscar() {
		if ($("#tipo_busqueda").val() == 0) {
			alert("Debe elegir un tipo de busqueda.");
		} else {
			if ($("#busqueda_label").val() == "") {
				alert("Debe ingresar un nombre para buscar.");
			} else {
				$("#frm_busqueda").submit();
			}
		}
	}

	function autocompleteClientePorNombreOCedula(tipo_busqueda, busqueda_label, busqueda){
        if (tipo_busqueda == 'nombre') {
            console.log("por nombre");
            $("#busqueda_label").val("");
            var id_cliente;
            $("#busqueda").empty();
            base_url = base_context + "/ajax/get_cliente_id_by_name/";
            params = "value";
            $("#busqueda_label").autocomplete({
                source : base_url,
                minLength : 1,
                dataType: "json",
                create : function(){
                    $(this).data('ui-autocomplete')._renderItem = function(ul,item){
                        return $('<li>').append('<a>'+item.cedula +" - "+item.nombres + " "+ item.apellidos+'</a>').appendTo(ul);
                        console.log(item);
                        };
                },
                select : function(event, ui) {
                    event.preventDefault();
                    id_cliente = ui.item.id;
                    $("#busqueda").val(id_cliente);
                    $("#busqueda_label").val(ui.item.nombres+" "+ui.item.apellidos);
                    getCuotasApagarByClienteId(id_cliente);
                }
            });
        }
        if (tipo_busqueda == 'cedula') {
            console.log("por cedula");
            $("#busqueda_label").val("");
            var id_cliente;
            $("#busqueda").empty();
            base_url = base_context + "/ajax/get_cliente_name_id_by_cedula/";
            params = "value";
            $("#busqueda_label").autocomplete({
                source : base_url,
                minLength : 1,
                create : function(){
                    $(this).data('ui-autocomplete')._renderItem = function(ul,item){
                        return $('<li>').append('<a>'+item.cedula +" - "+item.nombres + " "+ item.apellidos+'</a>').appendTo(ul);
                        console.log(item);
                        };
                },
                select : function(event, ui) {
                    id_cliente = ui.item.id;
                    event.preventDefault();
                    $("#busqueda").val(id_cliente);
                    //alert(id_cliente);
                    $("#busqueda_label").val(ui.item.cedula);
                    getCuotasApagarByClienteId(id_cliente);
                }
            });
        }
    }

    function getCuotasApagarByClienteId(clienteId) {
        $.ajax({
            url: base_context + "/movimientos/get_cuotas_a_pagar_by_cliente_id/",
            type: 'GET',
            dataType: "html",
            data: {
                cliente_id: clienteId
            },
            success: function (response) {
                //borra y arma la tabla
                $("#lista_lotes_cliente").empty();
                $("#lista_lotes_cliente").append(response);
                $(".gestion_cobranza").mask('###.###.###',{reverse: true});
                $(".cuota_intereses").mask('###.###.###',{reverse: true});

                total_pago_cuotas_cliente = parseInt( sacarPuntos( $("#total_pago_cuotas_cliente").html() ) );
                total_pago_intereses_cliente = parseInt( sacarPuntos( $("#total_pago_intereses_cliente").html() ) );
                total_pago_cliente = parseInt( sacarPuntos( $("#total_pago_cliente").html() ) );

                $(".cantidad_cuotas").change(function () {
                    if (this.value == "" || this.value == "0"){
                        var ventaId = this.id;
                        ventaId = ventaId.split("_");
                        ventaId = ventaId[2];

                        total_pago_cuotas_cliente = total_pago_cuotas_cliente - parseInt( sacarPuntos( $("#total_monto_cuota_lote_"+ventaId).html() ) );
                        total_pago_intereses_cliente = total_pago_intereses_cliente - parseInt( sacarPuntos( $("#total_monto_intereses_lote_"+ventaId).html() ) );
                        total_pago_cliente = total_pago_cliente - parseInt( sacarPuntos( $("#total_monto_lote_"+ventaId).html() ) );

                        $("#lista_cuotas_"+ventaId).empty();
                        $("#total_monto_cuota_lote_"+ventaId).html("0");
                        $("#total_monto_intereses_lote_"+ventaId).html("0");
                        $("#total_monto_lote_"+ventaId).html("0");

                        $("#total_pago_cuotas_cliente").html(ponerPuntos(total_pago_cuotas_cliente));
                        $("#total_pago_intereses_cliente").html(ponerPuntos(total_pago_intereses_cliente));
                        $("#total_pago_cliente").html(ponerPuntos(total_pago_cliente));
                    }else{
                        var ventaId = this.id;
                        ventaId = ventaId.split("_");
                        ventaId = ventaId[2];
                        var nroCuotas = this.value;
                        getCuotasByVentaIdNroCuotas(ventaId,nroCuotas);
                    }
                });
                /*
                $(".cantidad_cuotas").blur(function () {
                    if (this.value == "" || this.value == "0"){
                        var ventaId = this.id;
                        ventaId = ventaId.split("_");
                        ventaId = ventaId[2];

                        total_pago_cuotas_cliente = total_pago_cuotas_cliente - parseInt( sacarPuntos( $("#total_monto_cuota_lote_"+ventaId).html() ) );
                        total_pago_intereses_cliente = total_pago_intereses_cliente - parseInt( sacarPuntos( $("#total_monto_intereses_lote_"+ventaId).html() ) );
                        total_pago_cliente = total_pago_cliente - parseInt( sacarPuntos( $("#total_monto_lote_"+ventaId).html() ) );

                        $("#lista_cuotas_"+ventaId).empty();
                        $("#total_monto_cuota_lote_"+ventaId).html("0");
                        $("#total_monto_intereses_lote_"+ventaId).html("0");
                        $("#total_monto_lote_"+ventaId).html("0");

                        $("#total_pago_cuotas_cliente").html(ponerPuntos(total_pago_cuotas_cliente));
                        $("#total_pago_intereses_cliente").html(ponerPuntos(total_pago_intereses_cliente));
                        $("#total_pago_cliente").html(ponerPuntos(total_pago_cliente));

                    }else{
                        var ventaId = this.id;
                        ventaId = ventaId.split("_");
                        ventaId = ventaId[2];
                        var nroCuotas = this.value;
                        getCuotasByVentaIdNroCuotas(ventaId,nroCuotas);
                    }
                });
                */
                $(".cantidad_cuotas").keyup(function () {
                    if (this.value == "" || this.value == "0"){
                        var ventaId = this.id;
                        ventaId = ventaId.split("_");
                        ventaId = ventaId[2];

                        total_pago_cuotas_cliente = total_pago_cuotas_cliente - parseInt( sacarPuntos( $("#total_monto_cuota_lote_"+ventaId).html() ) );
                        total_pago_intereses_cliente = total_pago_intereses_cliente - parseInt( sacarPuntos( $("#total_monto_intereses_lote_"+ventaId).html() ) );
                        total_pago_cliente = total_pago_cliente - parseInt( sacarPuntos( $("#total_monto_lote_"+ventaId).html() ) );

                        $("#lista_cuotas_"+ventaId).empty();
                        $("#total_monto_cuota_lote_"+ventaId).html("0");
                        $("#total_monto_intereses_lote_"+ventaId).html("0");
                        $("#total_monto_lote_"+ventaId).html("0");

                        $("#total_pago_cuotas_cliente").html(ponerPuntos(total_pago_cuotas_cliente));
                        $("#total_pago_intereses_cliente").html(ponerPuntos(total_pago_intereses_cliente));
                        $("#total_pago_cliente").html(ponerPuntos(total_pago_cliente));

                    }else{
                        var ventaId = this.id;
                        ventaId = ventaId.split("_");
                        ventaId = ventaId[2];
                        var nroCuotas = this.value;
                        getCuotasByVentaIdNroCuotas(ventaId,nroCuotas);
                    }
                });

                //console.log(response);
            },
            error: function (xhr, errmsg, err) {
                console.log(err);
                //mensaje de error ?
            }
        });
    }

    function getCuotasByVentaIdNroCuotas(ventaId,nroCuotas){
        $.ajax({
            url: base_context + "/movimientos/get_cuotas_a_pagar_by_venta_id_nro_cuotas/",
            type: 'GET',
            dataType: "html",
            data: {
                venta_id: ventaId,
                nro_cuotas: nroCuotas,
            },
            success: function (response) {
                //borra y arma la tabla
                total_pago_cuotas_cliente = total_pago_cuotas_cliente - parseInt( sacarPuntos( $("#total_monto_cuota_lote_"+ventaId).html() ) );
                total_pago_intereses = total_pago_intereses_cliente - parseInt( sacarPuntos( $("#total_monto_intereses_lote_"+ventaId).html() ) );
                total_pago_cliente = total_pago_cliente - parseInt( sacarPuntos( $("#total_monto_lote_"+ventaId).html() ) );

                $("#listado_cuotas_"+ventaId).empty();
                $("#listado_cuotas_"+ventaId).append(response);
                $("#gestion_cobranza"+ventaId).mask('###.###.###',{reverse: true});
                $("#cuota_intereses"+ventaId).mask('###.###.###',{reverse: true});

                total_pago_cuotas_cliente = total_pago_cuotas_cliente + parseInt( sacarPuntos( $("#total_monto_cuota_lote_"+ventaId).html() ) );
                total_pago_intereses_cliente = total_pago_intereses + parseInt( sacarPuntos( $("#total_monto_intereses_lote_"+ventaId).html() ) );
                total_pago_cliente = total_pago_cliente + parseInt( sacarPuntos( $("#total_monto_lote_"+ventaId).html() ) );

                $("#total_pago_cuotas_cliente").html(ponerPuntos(total_pago_cuotas_cliente));
                $("#total_pago_intereses_cliente").html(ponerPuntos(total_pago_intereses_cliente));
                $("#total_pago_cliente").html(ponerPuntos(total_pago_cliente));

                $(".cantidad_cuotas").change(function () {
                    if (this.value == "" || this.value == "0"){
                        var ventaId = this.id;
                        ventaId = ventaId.split("_");
                        ventaId = ventaId[2];

                        total_pago_cuotas_cliente = total_pago_cuotas_cliente - parseInt( sacarPuntos( $("#total_monto_cuota_lote_"+ventaId).html() ) );
                        total_pago_intereses_cliente = total_pago_intereses_cliente - parseInt( sacarPuntos( $("#total_monto_intereses_lote_"+ventaId).html() ) );
                        total_pago_cliente = total_pago_cliente - parseInt( sacarPuntos( $("#total_monto_lote_"+ventaId).html() ) );

                        $("#lista_cuotas_"+ventaId).empty();
                        $("#total_monto_cuota_lote_"+ventaId).html("0");
                        $("#total_monto_intereses_lote_"+ventaId).html("0");
                        $("#total_monto_lote_"+ventaId).html("0");

                        $("#total_pago_cuotas_cliente").html(ponerPuntos(total_pago_cuotas_cliente));
                        $("#total_pago_intereses_cliente").html(ponerPuntos(total_pago_intereses_cliente));
                        $("#total_pago_cliente").html(ponerPuntos(total_pago_cliente));
                    }else{
                        var ventaId = this.id;
                        ventaId = ventaId.split("_");
                        ventaId = ventaId[2];
                        var nroCuotas = this.value;
                        getCuotasByVentaIdNroCuotas(ventaId,nroCuotas);
                    }
                });
                /*
                $(".cantidad_cuotas").blur(function () {
                    if (this.value == "" || this.value == "0"){
                        var ventaId = this.id;
                        ventaId = ventaId.split("_");
                        ventaId = ventaId[2];

                        total_pago_cuotas_cliente = total_pago_cuotas_cliente - parseInt( sacarPuntos( $("#total_monto_cuota_lote_"+ventaId).html() ) );
                        total_pago_intereses_cliente = total_pago_intereses_cliente - parseInt( sacarPuntos( $("#total_monto_intereses_lote_"+ventaId).html() ) );
                        total_pago_cliente = total_pago_cliente - parseInt( sacarPuntos( $("#total_monto_lote_"+ventaId).html() ) );

                        $("#lista_cuotas_"+ventaId).empty();
                        $("#total_monto_cuota_lote_"+ventaId).html("0");
                        $("#total_monto_intereses_lote_"+ventaId).html("0");
                        $("#total_monto_lote_"+ventaId).html("0");

                        $("#total_pago_cuotas_cliente").html(ponerPuntos(total_pago_cuotas_cliente));
                        $("#total_pago_intereses_cliente").html(ponerPuntos(total_pago_intereses_cliente));
                        $("#total_pago_cliente").html(ponerPuntos(total_pago_cliente));

                    }else{
                        var ventaId = this.id;
                        ventaId = ventaId.split("_");
                        ventaId = ventaId[2];
                        var nroCuotas = this.value;
                        getCuotasByVentaIdNroCuotas(ventaId,nroCuotas);
                    }
                });
                */
                $(".cantidad_cuotas").keyup(function () {
                    if (this.value == "" || this.value == "0"){
                        var ventaId = this.id;
                        ventaId = ventaId.split("_");
                        ventaId = ventaId[2];

                        total_pago_cuotas_cliente = total_pago_cuotas_cliente - parseInt( sacarPuntos( $("#total_monto_cuota_lote_"+ventaId).html() ) );
                        total_pago_intereses_cliente = total_pago_intereses_cliente - parseInt( sacarPuntos( $("#total_monto_intereses_lote_"+ventaId).html() ) );
                        total_pago_cliente = total_pago_cliente - parseInt( sacarPuntos( $("#total_monto_lote_"+ventaId).html() ) );

                        $("#lista_cuotas_"+ventaId).empty();
                        $("#total_monto_cuota_lote_"+ventaId).html("0");
                        $("#total_monto_intereses_lote_"+ventaId).html("0");
                        $("#total_monto_lote_"+ventaId).html("0");

                        $("#total_pago_cuotas_cliente").html(ponerPuntos(total_pago_cuotas_cliente));
                        $("#total_pago_intereses_cliente").html(ponerPuntos(total_pago_intereses_cliente));
                        $("#total_pago_cliente").html(ponerPuntos(total_pago_cliente));

                    }else{
                        var ventaId = this.id;
                        ventaId = ventaId.split("_");
                        ventaId = ventaId[2];
                        var nroCuotas = this.value;
                        getCuotasByVentaIdNroCuotas(ventaId,nroCuotas);
                    }
                });

                //console.log(response);
            },
            error: function (xhr, errmsg, err) {
                console.log(err);
                //mensaje de error ?
            }
        });
    }
    
    function recalcularTotales() {
        console.log("recalculando totales");
    }

    function ponerPuntos(numero){
        $("#poner_puntos").val(numero);
        $("#poner_puntos").mask('###.###.###',{reverse: true});
        numero = $("#poner_puntos").val();
        return numero;
    }

    function sacarPuntos(numero){
        numero =numero.replace(".", "");
        numero =numero.replace(".", "");
        numero =numero.replace(".", "");
        numero =numero.replace(".", "");
        numero =numero.replace(".", "");

        return (numero);
    }

    function enviarPagos(){

    }

</script>
{% endblock %}
{% block content %}
<div class="gri16 text-izquierda" id="breadcumb">
	<a href="{% url 'frontend_home' %}">Inicio</a><span class="verde-1">></span>
	<a href="{% url 'frontend_home' %}movimientos/">Movimientos</a>
	<span class="verde-1">> Pago de Cuotas por Cliente</span>
</div>
<div class="clear"></div>
<h1>Pago de Cuotas por Cliente</h1>
<div class="grid_6">
	<!--<form name="frm_busqueda" id="frm_busqueda" method="get" action="{% url 'frontend_home' %}movimientos/listado_busqueda_personas/">-->
    <form name="frm_busqueda" id="frm_busqueda" method="get" action="{% url 'frontend_home' %}movimientos/get_cuotas_a_pagar_by_cliente/">
		{% csrf_token %}
		<table id="lista-categoria" frame="box">
			<tr>
				<th class="acciones"  colspan="3"><strong><a href="#" style="color: white;">Filtrar</a></strong></th>
			</tr>
			<tr>
				<td>
				<select id="tipo_busqueda" name="tipo_busqueda">
					<!-- <option value="0">Elija una opcion</option> -->
					<option value="nombre">Nombre</option>
					<option value="cedula">Cedula</option>
				</select></td>
				<td>
				<input name="busqueda_label" id="busqueda_label" type="text" value=""/>
				<input id="busqueda" type="hidden" name="busqueda" />
				<input name="tabla" type="hidden" value="cliente"/>
				</td>
				<td>
				<!--<input type="button" value="Buscar" onclick="buscar();" class="historico" style="cursor: pointer"/>-->
				</td>
			</tr>
		</table>
	</form>
</div>

<div class="clear"></div>
    <div id="listado-item-lote">
        <input type="hidden" id="poner_puntos">
        <div id="lista_lotes_cliente">
            <!-- se rellena dinamicamente con getCuotasApagarByClienteId -->
        </div>
    </div>
<br>
<div id="footer">
	<a href="{% url 'frontend_home' %}movimientos/" class="boton-verde">Volver al m&oacute;dulo de movimientos</a>
</div>
{% endblock %}