{% extends "lotes/base_lotes.html" %}

{% block java_scripts %}
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}ajax_config.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}movimientos_pagos.js"></script>
{% endblock %}

{% block content %}
<div class="gri16 text-izquierda" id="breadcumb">
	<a href="/">Inicio</a> <span class="verde-1">></span>  
	<a href="/movimientos/">Movimientos</a> 
	<span class="verde-1">> Pago de Cuotas</span> 
</div>
<div class="clear"></div>

<div class="grid_10">
  <h1>Pagar Cuotas</h1>
</div>

<div class="grid_6">
  <a href="#" class="historico">Buscar</a>
</div>

<div class="clear"></div>
<div class="grid_16" align="center">
<form id="main_pago_form" action="" method="post">
	<table width="94%" border="0" cellpadding="0" cellspacing="0" id="forms" align="center">
	{% csrf_token %}
	<div class="fieldWrapperMovimientos">
		<tr>
			<td><label for="id_lote">Lote: </label></td>
			<td class="noimage"><input id="id_lote" type="text" name="lote" maxlength="12" onblur="retrieveLote()" />
		<ul class="errorlist"><li id="lote_error"></li></ul></td>
		</tr>
		<tr>
			<td><label>Detalles del Lote: </label></td>
			<td class="noimage"><div id="lote_seleccionado_detalles"></div></td>
		</tr>	
	</div>
	<div class="fieldWrapperMovimientos">
		<tr>
			<td><label for="id_fecha">Fecha de Pago: </label></td>
			<td class="noimage"><input id="id_fecha" type="date" name="fecha" maxlength="10" /></td>
		</tr>
	</div>
	<div class="fieldWrapperMovimientos">
		<tr>
			<td><label for="id_cliente">Código del Cliente: </label></td>
			<td class="noimage"><input id="id_cliente" type="text" name="cliente" disabled="disabled" maxlength="100" onblur="retrieveCliente()" /></td>
		</tr>	
		<tr>
			<td><label>Apellidos y Nombres: </label></td>
			<td class="noimage"><div id="cliente_seleccionado"></div>
			<ul class="errorlist"><li id="cliente_error"></li></ul></td>
		</tr>
	</div>
	<div class="fieldWrapperMovimientos">	
		<tr>
			<td><label for="id_vendedor">Código del Vendedor: </label></td>
			<td class="noimage"><input id="id_vendedor" type="text" name="vendedor" disabled="disabled" maxlength="100" onblur="retrieveVendedor()" /></td>
		</tr>	
		<tr>
			<td><label>Apellidos y Nombres: </label></td>
			<td class="noimage"><div id="vendedor_seleccionado"></div><br>
			<ul class="errorlist"><li id="vendedor_error"></li></ul></td>
		</tr>	
	</div>
	<div class="fieldWrapperMovimientos">
		<tr>
			<td><label for="id_plan_pago">Plan de Pago: </label></td>
			<td class="noimage"><input id="id_plan_pago" type="text" name="plan_pago" disabled="disabled" maxlength="100" onblur="retrievePlanPago()" /></td>
		</tr>	
		<tr>
			<td><label>Nombre del Plan: </label>
			<td class="noimage"><div id="plan_pago_seleccionado"></div><br>
			<ul class="errorlist"><li id="plan_pago_error"></li></ul></td>
		</tr>
	</div>
	<div class="fieldWrapperMovimientos">
		<tr>
			<td><label for="nro_cuotas_a_pagar">Número de Cuotas a Pagar: </label></td>
			<td class="noimage"><input id="nro_cuotas_a_pagar" type"number" name="nro_cuotas_a_pagar" maxlength="4" onblur="calculateTotalCuotas()"/></td>
		</tr>
		<tr>
			<td><label for="monto_cuota">Monto de cada Cuota: </label></td>
			<td class="noimage"><input id="monto_cuota" type="number" name="monto_cuota" disabled="disabled" maxlength="100" /></td>
		</tr>
	</div>
	<div class="fieldWrapperMovimientos">
		<tr>
			<td><label for="total_cuotas">Total de Cuotas: </label></td>
			<td class="noimage"><input id="total_cuotas" type="number" name="total_cuotas" disabled="disabled" maxlength="100" /></td>
		</tr>
		<tr>
			<td><label for="total_mora">Total de Mora: </label></td>
			<td class="noimage"><input id="total_mora" type="number" name="total_mora" disabled="disabled" maxlength="100" onblur="calculateTotalPago()"/></td>
		</tr>
		<tr>
			<td><label for="total_pago">Monto Total: </label></td>
			<td class="noimage"><input id="total_pago" type="number" name="total_pago" disabled="disabled" maxlength="100" /></td>
		</tr>
		<tr>
			<td><label for="fecha_vencimiento">Fecha del 1er Vencimiento: </label></td>
			<td class="noimage"><input id="fecha_vencimiento" type="date" name="fecha_vencimiento" disabled="disabled" maxlength="10" /></td>
		</tr>	
	</div>
	<div class="fieldWrapperMovimientos">
	</div>
	</table>
	<input id="enviar_pago" style="cursor: pointer;" type="submit" disabled="disabled" value="Guardar Pago" />
	<br><br><br>
	</form>
	<div class="clear"></div>
	</div>
	
	<div id="footer">
		<a href="/movimientos/" class="boton-verde">Volver al m&oacute;dulo de movimientos</a>
	</div>

{% endblock %}