{% extends "movimientos/base_movimientos.html" %}

{% block java_scripts %}
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}ajax_config.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}movimientos.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}movimientos_reservas.js"></script>
{% endblock %}

{% block content %}
<form id="main_reserva_form" action="" method="post">
	{% csrf_token %}
	<div class="fieldWrapperMovimientos">
		<label for="id_lote">Lote: </label>
		<input id="id_lote" type="text" name="lote" maxlength="12" onblur="retrieveLote()" /><br>
		<ul class="errorlist"><li id="lote_error"></li></ul>
		<label>Superficie (m2): </label><div id="lote_superficie"></div><br>
		<label>Detalles del Lote: </label><div id="lote_seleccionado_detalles"></div>
	</div>
	<div class="fieldWrapperMovimientos">
		<label for="id_fecha">Fecha de Reserva: </label>
		<input id="id_fecha" type="date" name="fecha" maxlength="10" /><br>
	</div>
	<div class="fieldWrapperMovimientos">
		<label for="id_cliente">Código del Cliente: </label>
		<input id="id_cliente" type="text" name="cliente" disabled="disabled" maxlength="100" onblur="retrieveCliente()" /><br>	
		<label>Apellidos y Nombres: </label><div id="cliente_seleccionado"></div>
		<ul class="errorlist"><li id="cliente_error"></li></ul>
	</div>
	<div class="fieldWrapperMovimientos">
		<input id="enviar_reserva" type="submit" disabled="disabled" value="Guardar Reserva" />
	</div>
	<div id="footer">
		<a href="/">Volver a la página principal</a>
	</div>
</form>
{% endblock %}