{% extends "lotes/base_lotes.html" %}

{% block java_scripts %}
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}ajax_config.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}movimientos.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}movimientos_ventas.js"></script>
<script type="text/javascript">
/* Cambio para label de commit*/
var data = [
		{"label" : "Aragorn"}
		];
$(document).ready(function() {
	var id_plan_pago;
	$("#id_plan_pago").empty();
      	var get_all_planes = $.ajax({
					url : '/datos/7/',
					type : "GET",
					data : {
						id_plan_pago : id_plan_pago
					},
					dataType : "json"
				});
			get_all_planes.done(function (data){
				$.each(data, function (index,value) {
					$("#id_plan_pago").append('<option value="'+ value.id +'">' + 'Plan ' + value.label + '</option>') ;
				});
    });
$("#id_plan_pago").attr('readonly', true);
});
</script>
{% endblock %}

{% block content %}
<div class="gri16 text-izquierda" id="breadcumb">
	<a href="/">Inicio</a> <span class="verde-1">></span>  
	<a href="/movimientos/">Movimientos</a> 
	<span class="verde-1">> Vender Lote</span> 
</div>
<div class="clear"></div>

<div class="grid_10">
  <h1>Vender Lote</h1>
</div>

<div class="grid_6">
  <a href="#" class="historico">Buscar</a>
</div>

<div class="clear"></div>
<div class="grid_16" align="center">
<form id="main_venta_form" action="" method="post">
	<table width="94%" border="0" cellpadding="0" cellspacing="0" id="forms" align="center">
	{% csrf_token %}
	<div class="fieldWrapperMovimientos">
		<tr>
			<td><label for="id_lote">Lote: </label></td>
			<td class="noimage"><input id="id_lote" type="text" name="lote" maxlength="12" onblur="retrieveLote()" />
			<ul class="errorlist"><li id="lote_error"></li></ul></td>
		</tr>
		<tr>
			<td><label>Superficie (m2): </label></td>
			<td class="noimage"><div id="lote_superficie"></div></td>
		</tr>	
		<tr>
			<td><label>Detalles del Lote: </label></td>
			<td class="noimage"><div id="lote_seleccionado_detalles"></div></td>
		</tr>
	</div>
	<div class="fieldWrapperMovimientos">
		<tr>
			<td><label for="id_fecha">Fecha de Venta: </label></td>
			<td class="noimage"><input id="id_fecha" type="date" name="fecha" maxlength="10" /></td>
		</tr>
	</div>
	<div class="fieldWrapperMovimientos">
		<tr>
			<td><label for="id_cliente">Código del Cliente: </label></td>
			<td class="noimage"><input id="id_cliente" type="text" name="cliente" disabled="disabled" maxlength="100" onblur="retrieveCliente()" /></td>	
		</tr>
		<tr>
			<td><label>Apellidos y Nombres: </label></td>
			<td class="noimage"><div id="cliente_seleccionado"></div>
			<ul class="errorlist"><li id="cliente_error"></li></ul></td>
		</tr>
	</div>
	<div class="fieldWrapperMovimientos">
		<tr>	
			<td><label for="id_vendedor">Código del Vendedor: </label></td>
			<td class="noimage"><input id="id_vendedor" type="text" name="vendedor" disabled="disabled" maxlength="100" onblur="retrieveVendedor()" /></td>	
		</tr>
		<tr>
			<td><label>Apellidos y Nombres: </label></td>
			<td class="noimage"><div id="vendedor_seleccionado"></div>
			<ul class="errorlist"><li id="vendedor_error"></li></ul></td>
		</tr>	
	</div>
	<div class="fieldWrapperMovimientos">
		<tr>
			<td><label for="id_plan_pago">Plan de Pago: </label></td>
			<td class="noimage">
				<select id="id_plan_pago" name="plan_pago" disabled="disabled" maxlength="100" onblur="retrievePlanPago()">
				
				</select>	
		</tr>
		<tr>
			<td><label>Nombre del Plan: </label></td>
			<td class="noimage"><div id="plan_pago_seleccionado"></div>
			<ul class="errorlist"><li id="plan_pago_error"></li></ul></td>
		</tr>
	</div>
	<div class="fieldWrapperMovimientos">
		<tr>
			<td><label for="id_precio_venta">Precio de Venta: </label></td>
			<td class="noimage"><input id="id_precio_venta" type="text" name="precio_venta" disabled="disabled" maxlength="100" onblur="calculatePrecioFinalVentaLote()" /><br><br>
			<label id="tipo_pago_contado_label" class="shortLabel" for="tipo_pago_contado">Contado</label>
			<input id="tipo_pago_contado" type="radio" name="tipo_pago" disabled="disabled" />
			<label id="tipo_pago_credito_label" class="shortLabel" for="tipo_pago_credito">Credito</label>
			<input id="tipo_pago_credito" type="radio" name="tipo_pago" disabled="disabled" /></td>
		</tr>
		<tr>
			<td><label for="cantidad_cuotas_venta">Cantidad de cuotas: </label></td>
			<td class="noimage"><div id="cantidad_cuotas_venta"></div></td>
		</tr>
		<tr>
			<td><label for="id_entrega_inicial">Entrega Inicial: </label></td>
			<td class="noimage"><input id="id_entrega_inicial" type="number" name="entrega_inicial" disabled="disabled" maxlength="100" onblur="calculateMontoCuotas()" /></td>
		</tr>
		<tr>
			<td><label for="id_monto_cuota">Monto de cada Cuota: </label></td>
			<td class="noimage"><input id="id_monto_cuota" type="number" name="monto_cuota" disabled="disabled" maxlength="100" onblur="calculatePrecioFinalVentaLote()" /></td>
		</tr>
		<tr>
			<td><label>Monto Total: </label></td>
			<td class="noimage"><div id="precio_final_venta"></div>
			<ul class="errorlist"><li id="monto_total_error"></li></ul></td>
			
		</tr>
		<tr>
			<td><label for="id_fecha_vencimiento">Fecha del 1er Vencimiento: </label></td>
			<td class="noimage"><input id="id_fecha_vencimiento" type="date" name="fecha_vencimiento" disabled="disabled" maxlength="10" /></td>
		</tr>	
	</div>
	<div class="fieldWrapperMovimientos">
	</div>
	</table>
	<input id="enviar_venta" style="cursor: pointer;" type="submit" disabled="disabled" value="Guardar Venta" />
	<br><br><br>
	</form>
	<div class="clear"></div>
	</div>
	
	<div id="footer">
		<a href="/movimientos/" class="boton-verde">Volver al m&oacute;dulo de movimientos</a>
	</div>

{% endblock %}