{% extends "parametros/base_parametros.html" %}

{% block content %}
<div id="detalle-plandepago">
	<div id="detalle-plandepagos-header">
		{{plandepago.id}}
	</div>
	<div>
		{{ message }}
	</div>
	<form action="/parametros/plan_pago/listado/{{ plandepago.id }}/" method="post">
		{% csrf_token %}
		{% for field in form %}
		<div class="fieldWrapper{% if field.field.required %} required{% endif %}">
			{{ field.errors }}
			{{ field.label_tag }} {{ field }}
		</div>
		{% endfor %}
		<input class="plandepago-form-button" type="submit" name="boton_guardar" value="Guardar Cambios" />
		<input class="plandepago-form-button" type="submit" name="boton_borrar" value="Borrar este Registro" />
	</form>
</div>
<br>
<div id="footer">
	<a href="/parametros/plan_pagos/listado">Volver al Listado de Planes de Pagos</a>
</div>
{% endblock %}