{% extends "lotes/base_lotes.html" %}
{% block header_scripts %}
<script type="text/javascript">
	function buscar() {
		if ($("#id_plan_pago").val() == "") {
			alert("Debe ingresar el nombre del plan para buscar.");
		} else {
			$("#frm_busqueda").submit();
		}
	}
	$(document).ready(function() {
		//autocomplete para planes de pago
		var id_plan_pago;
		$("#id_plan_p").focus();
		$("#id_plan_pago").empty();
		base_url=base_context + "/ajax/get_plan_pago/";
		params="value";
		$("#id_plan_p").autocomplete({
			source : base_url,
			minLenght : 1,
			select : function(event, ui) {
				id_plan = ui.item.id;
				name_plan= ui.item.label;
				ui.item.value = ui.item.label;
				$("#id_plan_p").val(name_plan);
				$("#id_plan_pago").val(id_plan);			
			}
		});
	});

</script>
{%endblock%}
{% block content %}
<div class="gri16 text-izquierda" id="breadcumb">
	<a href="{% url 'frontend_home' %}">Inicio</a> 
	<a href="{% url 'frontend_home' %}parametros/">> Parametros</a>  
	<a href="{% url 'frontend_home' %}parametros/plan_pago/">> Planes de pago</a> 
	<span class="verde-1">> Listado de Planes de pago</span> 
</div>
<div class="clear"></div>
<h1>Listado de Planes de Pago</h1>
<div class="grid_6">
	<form name="frm_busqueda" id="frm_busqueda" method="post" action="/parametros/plan_pago/listado_busqueda_ppagos/">
		{% csrf_token %}
		<table id="lista-categoria" frame="box">
			<tr>
				<th class="acciones"  colspan="3"><strong><a href="#" style="color: white;">Filtrar</a></strong></th>
			</tr>
			<tr>
				<td>Plan de Pago:</td>
				<td><input id="id_plan_pago" name="plan_pago" type="hidden" maxlength="100"/>
					<input id="id_plan_p" type="text" name="plan_p" maxlength="100" /><br><br>
				</td>
			</tr>
			<tr>
				<td></td>
				<td><input type="button" value="Buscar" onclick="buscar();" class="historico" style="cursor: pointer"/></td>
			</tr>
		</table>
	</form>
</div>
<div class="clear"></div>
<div id="listado-cuadro-busqueda">
	<a href="{% url 'frontend_home' %}parametros/plan_pago/agregar" class="boton-verde">Agregar Plan de Pago</a>
	<br><br>
</div>
<div id="listado-item-lote">
		<table border="1" cellpadding="0" cellspacing="0" class="listado-lotes" align="center">
				<th>Plan de pago Nro</th><th>Nombre</th><th>Tipo</th><th>Cant. Cuotas</th>
				{% for hw in object_list %}
				{% if forloop.counter|divisibleby:2 %}
					<tr>
						<td><a href="{{hw.id}}">{{hw.id}} <strong>(Ver Detalles)</strong></a></td>
						<td>{{hw.nombre_del_plan}}</td>
						<td>{{hw.tipo_de_plan}}</td>
						<td>{{hw.cantidad_de_cuotas}}</td>
					</tr>
					{% else %}
					<tr class="bkg_gris">
						<td><a href="{{hw.id}}">{{hw.id}} <strong>(Ver Detalles)</strong></a></td>
						<td>{{hw.nombre_del_plan}}</td>
						<td>{{hw.tipo_de_plan}}</td>
						<td>{{hw.cantidad_de_cuotas}}</td>
					</tr>
					{% endif %}				
				{% endfor %}
		<div class="pagination">
			<span class="step-links">
				Mostrando {{ object_list.start_index }}-{{ object_list.end_index }} de {{ object_list.paginator.count }} Resultados
				{%if object_list.has_previous%} 
				<a href="?page={{ object_list.first_index}}{{ultimo}}"> Primera </a> 
				<a href="?page={{ object_list.previous_page_number }}{{ultimo}}"> Anterior</a> 
				{%endif%}
				P&aacute;gina |{{object_list.number}}|		
				{%if object_list.has_next%} 
				<a href="?page={{ object_list.next_page_number }}{{ultimo}}"> Siguiente </a> 				
				<a href="?page={{ object_list.end_index}}{{ultimo}}"> Ultima </a> 
				{%endif%} 
			</span>
		</div>
	</table>
</div>

<div id="footer">
	<div class="pagination">
			<span class="step-links"> Mostrando {{ object_list.start_index }}-{{ object_list.end_index }} de {{ object_list.paginator.count }} Resultados
				{%if object_list.has_previous%} <a href="?page={{ object_list.first_index}}{{ultima_busqueda}}"> Primera </a> <a href="?page={{ object_list.previous_page_number }}{{ultima_busqueda}}"> Anterior</a> {%endif%}
				P&aacute;gina |{{object_list.number}}|
				{%if object_list.has_next%} <a href="?page={{ object_list.next_page_number }}{{ultima_busqueda}}"> Siguiente </a> <a href="?page={{ object_list.end_index}}{{ultima_busqueda}}"> Ultima </a> {%endif%} </span>
		</div></br>
	<a href="{% url 'frontend_home' %}" class="boton-verde">Volver al Menú Principal</a>
	</div>
{% endblock %}