<!DOCTYPE html>
<html lang="es">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="robots" content="noindex" />
		<title>PROPAR</title>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}main.css" />
		<noscript>

		</noscript>
	</head>
	<body>
		<p><a href="{% url 'frontend_home' %}clientes">Clientes</a></p>
		<p><a href="{% url 'frontend_home' %}propietarios">Propietarios</a></p>
		<p><a href="{% url 'frontend_home' %}vendedores">Vendedores</a></p>
		<p><a href="{% url 'frontend_home' %}cobradores">Cobradores</a></p>
		<p><a href="{% url 'frontend_home' %}fracciones">Fracciones</a></p>
		<p><a href="{% url 'frontend_home' %}manzanas">Manzanas</a></p>
		<p><a href="{% url 'frontend_home' %}lotes">Lotes</a></p>
		<p><a href="{% url 'frontend_home' %}movimientos">Movimientos</a></p>
		<p><a href="{% url 'frontend_home' %}informes">Informes</a></p>
		<p><a href="{% url 'frontend_home' %}parametros">Parametros</a></p>
	</body>
</html>
