<!DOCTYPE html>
<html lang="es">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="robots" content="noindex" />
		<title>PROPAR</title>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}main.css" />
		<noscript>

		</noscript>
	</head>
	<body>
		<p><a href="/clientes">Clientes</a></p>
		<p><a href="/propietarios">Propietarios</a></p>
		<p><a href="/vendedores">Vendedores</a></p>
		<p><a href="/fracciones">Fracciones</a></p>
		<p><a href="/lotes">Lotes</a></p>
		<p><a href="/movimientos">Movimientos</a></p>
		<p><a href="/informes">Informes</a></p>
		<p>Parametros</p>
	</body>
</html>
