{% extends "base.html" %}
{% block content %}

{%if grupo == 1 or grupo == 3%}
<div class="grid_10" align="center">
	<!--<p>{{nombre}}</p>-->
	<table width="90%" border="0" cellpadding="0" cellspacing="0" id="lista-categoria" align="center"> 
	  <tr>
	    <th colspan="3" class="categorias"><strong>Menú de Lotes</strong></th>
	  </tr>
	  <tr>
	    <td><strong><a href="{% url 'frontend_home' %}fracciones">Fracciones</a></strong></td>
	    <td width="25px" title="Agregar Fracción"><a href="{% url 'frontend_home' %}fracciones/agregar/"><span class="glyphicon glyphicon-pencil"></span></a></td>
	    <td width="25px" title="Ver Fracciones"><a href="{% url 'frontend_home' %}fracciones/listado/"><span class="glyphicon glyphicon-list-alt"></span></a></td>
	  </tr>
	  <tr>
	    <td><strong><a href="{% url 'frontend_home' %}manzanas">Manzanas</a></strong></td>
	    <td width="25px"></td>
	    <td width="25px" title="Ver Manzanas"><a href="{% url 'frontend_home' %}manzanas/listado/"><span class="glyphicon glyphicon-list-alt"></span></a></td>
	  </tr>
	  <tr>
	    <td><strong><a href="{% url 'frontend_home' %}lotes/">Lotes</a></strong></td>
	    <td width="25px" title="Agregar Lote"><a href="{% url 'frontend_home' %}lotes/agregar/"><span class="glyphicon glyphicon-pencil"></span></a></td>
	    <td width="25px" title="Ver lotes"><a href="{% url 'frontend_home' %}lotes/listado/"><span class="glyphicon glyphicon-list-alt"></span></a></td>
	  </tr>
	</table>
	
	<table width="90%" border="0" cellpadding="0" cellspacing="0" id="lista-categoria" align="center"> 
	  <tr>
	    <th colspan="3" class="categorias"><strong>Configuraciones - Parámetros</strong></th>
	  </tr>
	  <tr>
	    <td><strong><a href="parametros/plan_pago">Planes de Pago Propietarios</a></strong></td>
	    <td width="25px" title="Agregar Plan de Pago"><a href="{% url 'frontend_home' %}parametros/plan_pago/agregar/"><span class="glyphicon glyphicon-pencil"></span></a></td>
	    <td width="25px" title="Ver Planes de Pago"><a href="{% url 'frontend_home' %}parametros/plan_pago/listado/"><span class="glyphicon glyphicon-list-alt"></span></a></td>
	  </tr>
	  <tr>
	    <td><strong><a href="parametros/plan_pago_vendedores">Planes de Pago Vendedores</a></strong></td>
	    <td width="25px" title="Agregar Plan de Pago"><a href="{% url 'frontend_home' %}parametros/plan_pago_vendedores/agregar/"><span class="glyphicon glyphicon-pencil"></span></a></td>
	    <td width="25px" title="Ver Planes de Pago"><a href="{% url 'frontend_home' %}parametros/plan_pago_vendedores/listado/"><span class="glyphicon glyphicon-list-alt"></span></a></td>
	  </tr>
	  <tr>
	    <td><strong><a href="parametros/timbrado">Timbrado</a></strong></td>
	    <td width="25px" title="Agregar Timbrado"><a href="{% url 'frontend_home' %}parametros/timbrado/agregar/"><span class="glyphicon glyphicon-pencil"></span></a></td>
	    <td width="25px" title="Ver Timbrados"><a href="{% url 'frontend_home' %}parametros/timbrado/listado/"><span class="glyphicon glyphicon-list-alt"></span></a></td>
	  </tr>
	  <tr>
	    <td><strong><a href="parametros/concepto_factura">Conceptos de Facturas</a></strong></td>
	    <td width="25px" title="Agregar Concepto de Factura"><a href="{% url 'frontend_home' %}parametros/concepto_factura/agregar/"><span class="glyphicon glyphicon-pencil"></span></a></td>
	    <td width="25px" title="Ver Conceptos de Factura"><a href="{% url 'frontend_home' %}parametros/concepto_factura/listado/"><span class="glyphicon glyphicon-list-alt"></span></a></td>
	  </tr>
	  <tr>
	    <td><strong><a href="parametros/log_usuario">Logs de Usuarios</a></strong></td>
	    <td width="25px"></td>
	    <td width="25px" title="Ver Logs de Usuarios"><a href="{% url 'frontend_home' %}parametros/log_usuario/listado/"><span class="glyphicon glyphicon-list-alt"></span></a></td>
	  </tr>
	  <tr>
	    <td><strong><a href="parametros/coordenadas_factura">Coordenadas Impresion Facturas</a></strong></td>
	    <td width="25px" title="Agregar Coordenadas de Impresion de Factura"><a href="{% url 'frontend_home' %}parametros/coordenadas_factura/agregar/"><span class="glyphicon glyphicon-pencil"></span></a></td>
	    <td width="25px" title="Ver Coordenadas de Impresion de Facturas"><a href="{% url 'frontend_home' %}parametros/coordenadas_factura/listado/"><span class="glyphicon glyphicon-list-alt"></span></a></td>
	  </tr>
	  <!--
	  <tr>
	    <td><strong><a href="parametros/generales">Parametros Generales</a></strong></td>
	    <td width="25px" title="Agregar Plan de Pago"><a class="add" href="#">&nbsp;</a></td>
	  </tr>
	  -->
	</table>
	
	<table width="90%" border="0" cellpadding="0" cellspacing="0" id="lista-categoria" align="center"> 
	  <tr>
	    <th colspan="3" class="categorias"><strong>Personas</strong></th>
	  </tr>
	  <tr>
	    <td><strong><a href="{% url 'frontend_home' %}clientes/">Clientes</a></strong></td>
	    <td width="25px" title="Agregar Cliente"><a href="{% url 'frontend_home' %}clientes/agregar/"><span class="glyphicon glyphicon-pencil"></span></a></td>
	    <td width="25px" title="Ver Clientes"><a href="{% url 'frontend_home' %}clientes/listado/"><span class="glyphicon glyphicon-list-alt"></span></a></td>
	  </tr>
	  <tr>
	    <td><strong><a href="{% url 'frontend_home' %}propietarios/">Propietarios</a></strong></td>
	    <td width="25px" title="Agregar Propietario"><a href="{% url 'frontend_home' %}propietarios/agregar/"><span class="glyphicon glyphicon-pencil"></span></a></td>
	    <td width="25px" title="Ver Propietarios"><a href="{% url 'frontend_home' %}propietarios/listado/"><span class="glyphicon glyphicon-list-alt"></span></a></td>
	  </tr>
	  <tr>
	    <td><strong><a href="{% url 'frontend_home' %}vendedores/">Vendedores</a></strong></td>
	    <td width="25px" title="Agregar Vendedor"><a href="{% url 'frontend_home' %}vendedores/agregar/"><span class="glyphicon glyphicon-pencil"></span></a></td>
	    <td width="25px" title="Ver Vendedores"><a href="{% url 'frontend_home' %}vendedores/listado/"><span class="glyphicon glyphicon-list-alt"></span></a></td>
	  </tr>
	</table>
	<table width="90%" border="0" cellpadding="0" cellspacing="0" id="lista-categoria" align="center"> 
	  <tr>
	    <th colspan="3" class="categorias"><strong>Facturación</strong></th>
	  </tr>
	  <tr>
	    <td><strong><a href="{% url 'frontend_home' %}facturacion/facturar">Facturar</a></strong></td>
	    <td width="25px" title="Agregar Factura"><a href="{% url 'frontend_home' %}facturacion/facturar/"><span class="glyphicon glyphicon-pencil"></span></a></td>
	    <td width="25px" title="Ver Facturas"><a href="{% url 'frontend_home' %}facturacion/listado/"><span class="glyphicon glyphicon-list-alt"></span></a></td> 
	  </tr>
	</table>
</div>

 <div class="grid_6">
	<table width="90%" border="0" cellpadding="0" cellspacing="0" id="lista-categoria" align="center">
		<tr>
			<th class="acciones" colspan="3"><strong><a href="{% url 'frontend_home' %}movimientos/" style="color: white;">Acciones</a></strong></th>
		</tr>
		<tr>
			<td title="Vender Lote"><a href="{% url 'frontend_home' %}movimientos/ventas_lotes/">Vender Lote</a></td>
			<td width="25px" title="Agregar Venta"><a href="{% url 'frontend_home' %}movimientos/ventas_lotes/"><span class="glyphicon glyphicon-pencil"></span></a></td>
	    	<td width="25px" title="Ver Ventas"><a href="{% url 'frontend_home' %}movimientos/listado_ventas/"><span class="glyphicon glyphicon-list-alt"></span></a></td> 
		</tr>
		<tr>
			<td title="Pago de Cuotas"><a href="{% url 'frontend_home' %}movimientos/pago_cuotas/">Pago de Cuotas</a></td>
			<td width="25px" title="Agregar Pago"><a href="{% url 'frontend_home' %}movimientos/pago_cuotas/"><span class="glyphicon glyphicon-pencil"></span></a></td>
	    	<td width="25px" title="Ver Pagos"><a href="{% url 'frontend_home' %}movimientos/listado_pagos/"><span class="glyphicon glyphicon-list-alt"></span></a></td>
		</tr>		
        <tr>
			<td title="Prox Pago de Cuotas"><a href="{% url 'frontend_home' %}lotes/consultar/">Próx Pago de Cuotas</a></td>
            <td width="25px" ></td>
	    	<td width="25px" ></td>
		</tr>
		<tr>
			<td title="Reservar Lote"><a href="{% url 'frontend_home' %}movimientos/reservas_lotes/">Reservar Lote</a></td>
			<td width="25px" title="Agregar Reserva"><a href="{% url 'frontend_home' %}movimientos/reservas_lotes/"><span class="glyphicon glyphicon-pencil"></span></a></td>
	    	<td width="25px" title="Ver Reservas"><a href="{% url 'frontend_home' %}movimientos/listado_reservas/"><span class="glyphicon glyphicon-list-alt"></span></a></td>
		</tr>
		<tr>
			<td title="Transferencia de Lote"><a href="{% url 'frontend_home' %}movimientos/transferencias_lotes/">Transferencia de Lote</a></td>
			<td width="25px" title="Agregar Transferencia"><a href="{% url 'frontend_home' %}movimientos/transferencias_lotes/"><span class="glyphicon glyphicon-pencil"></span></a></td>
	    	<td width="25px" title="Ver Transferencias"><a href="{% url 'frontend_home' %}movimientos/listado_transferencias/"><span class="glyphicon glyphicon-list-alt"></span></a></td>
		</tr>
		<tr>
			<td title="Cambio de Lote"><a href="{% url 'frontend_home' %}movimientos/cambio_lotes/">Cambio de Lote</a></td>
			<td width="25px" title="Agregar Cambio"><a href="{% url 'frontend_home' %}movimientos/cambio_lotes/"><span class="glyphicon glyphicon-pencil"></span></a></td>
	    	<td width="25px" title="Ver Cambios"><a href="{% url 'frontend_home' %}movimientos/listado_cambios/"><span class="glyphicon glyphicon-list-alt"></span></a></td>
		</tr>
		<tr>
			<td title="Recuperacion de Lote"><a href="{% url 'frontend_home' %}movimientos/recuperacion_lotes/">Recuperacion de Lote</a></td>
			<td width="25px" title="Agregar Recuperacion"><a href="{% url 'frontend_home' %}movimientos/recuperacion_lotes/"><span class="glyphicon glyphicon-pencil"></span></a></td>
	    	<td width="25px" title="Ver Recuperaciones"><a href="{% url 'frontend_home' %}movimientos/listado_recuperacion/"><span class="glyphicon glyphicon-list-alt"></span></a></td>
		</tr>
	</table>
</div>
<div class="grid_6">
	<table width="90%" border="0" cellpadding="0" cellspacing="0" id="lista-categoria" align="center">
		<tr>
			<th class="acciones"><a href="{% url 'frontend_home' %}informes/" style="color: white;">Informes</a></strong></th>
		</tr>
		<tr>
			<td class="last" title="Lotes Libres">
				<a href="{% url 'frontend_home' %}informes/lotes_libres/">Lotes Libres</a>
			</td>
		</tr>
		<tr>
			<td class="last" title="Clientes Atrasados">
				<a href="{% url 'frontend_home' %}informes/clientes_atrasados/">Clientes Atrasados</a>
			</td>
		</tr>
		<tr>
			<td class="last" title="Informe General">
				<a href="{% url 'frontend_home' %}informes/informe_general/">Informe General</a>
			</td>
		</tr>
		<tr>
			<td class="last" title="Informe Cuotas por Cobrar">
				<a href="{% url 'frontend_home' %}informes/informe_cuotas_por_cobrar/">Informe Cuotas por Cobrar</a>
			</td>
		</tr>
		<tr>
			<td class="last" title="Movimientos de Lotes">
				<a href="{% url 'frontend_home' %}informes/informe_movimientos/">Movimientos de Lotes</a>
			</td>
		</tr>
		<tr>
			<td class="last" title="Liquidacion de Propietarios">
				<a href="{% url 'frontend_home' %}informes/liquidacion_propietarios/">Liquidacion de Propietarios</a>
			</td>
		</tr>
		<tr>
			<td class="last" title="Liquidacion de Vendedores">
				<a href="{% url 'frontend_home' %}informes/liquidacion_vendedores/">Liquidacion de Vendedores</a>
			</td>
		</tr>
		<tr>
			<td class="last" title="Liquidacion General de Vendedores">
				<a href="{% url 'frontend_home' %}informes/liquidacion_general_vendedores/">Liquidacion General de Vendedores</a>
			</td>
		</tr>
		<!---
		<tr>
			<td class="last" title="Liquidacion de Gerentes">
				<a href="{% url 'frontend_home' %}informes/liquidacion_gerentes/">Liquidacion de Gerentes</a>
			</td>
		</tr>
		-->
		<tr>
			<td class="last" title="Ventas">
				<a href="{% url 'frontend_home' %}informes/informe_ventas/">Ventas de Lotes</a>
			</td>
		</tr>
		<tr>
			<td class="last" title="Informe Facturacion">
				<a href="{% url 'frontend_home' %}informes/informe_facturacion/">Informe de Facturacion</a>
			</td>
		</tr>
	</table>
</div>
{%else%}
	{%if grupo == 2%}
		<div class="grid_10" align="center">
			<table width="90%" border="0" cellpadding="0" cellspacing="0" id="lista-categoria" align="center"> 
			  <tr>
			    <th colspan="3" class="categorias"><strong>Menú de Lotes</strong></th>
			  </tr>
			  <tr>
					<td><strong><a href="{% url 'frontend_home' %}lotes/listado/">Lotes</a></strong></td>
			  </tr>
			  <tr>
				<td class="last" title="Lotes Libres">
					<a href="{% url 'frontend_home' %}informes/lotes_libres/">Lotes Libres</a>
				</td>
			  </tr>
			  <tr>
				<td class="last" title="Vender Lote"><a href="{% url 'frontend_home' %}movimientos/ventas_lotes/">Vender Lote</a></td>
			  </tr>
			  <tr>
				<td class="last" title="Pago de Cuotas"><a href="{% url 'frontend_home' %}movimientos/pago_cuotas/">Pago de Cuotas</a></td>
			  </tr>
			  <tr>
				<td class="last" title="Prox Pago de Cuotas"><a href="{% url 'frontend_home' %}lotes/consultar/">Próx Pago de Cuotas</a></td>
			  </tr>
				<tr>
					<td class="last" title="Clientes Atrasados">
						<a href="{% url 'frontend_home' %}informes/clientes_atrasados/">Clientes Atrasados</a>
					</td>
				</tr>
			  
			  <tr>
			    <td><strong><a href="{% url 'frontend_home' %}facturacion/facturar">Facturar</a></strong></td>
			    <!-- <td width="25px" title="Agregar Cliente"><a class="add" href="{% url 'frontend_home' %}clientes/agregar/">&nbsp;</a></td>-->
			    <!--<td width="25px" title="Ver Facturas"><a class="edit" href="{% url 'frontend_home' %}facturacion/listado/">&nbsp;</a></td>--> 
			  </tr>
			  
			  <tr>
				<td class="last" title="Informe Facturacion">
					<a href="{% url 'frontend_home' %}informes/informe_facturacion/">Informe de Facturacion</a>
				</td>
			  </tr>
			</table>
		</div>
	{%endif%}
	{%if grupo == 4%}
		<div class="grid_10" align="center">
			<table width="90%" border="0" cellpadding="0" cellspacing="0" id="lista-categoria" align="center"> 
			  <tr>
			    <th colspan="3" class="categorias"><strong>Menú de Lotes</strong></th>
			  </tr>
			  <tr>
				<td class="last" title="Lotes Libres">
					<a href="{% url 'frontend_home' %}informes/lotes_libres/">Lotes Libres</a>
				</td>
			  </tr>
			</table>
		</div>
	{%endif%}
	
{%endif%}
{% endblock %}