{% extends "lotes/base_lotes.html" %}
{% block header_scripts %}
<script type="text/javascript">
	function buscar() {
		if ($("#id_timbrado").val() == "") {
			alert("Debe ingresar el numero de timbrado para buscar.");
		} else {
			$("#frm_busqueda").submit();
		}
	}
	$(document).ready(function() {
		//autocomplete para planes de pago
		var id_timbrado;
		$("#id_numero_timbrado").empty();
		base_url="/ajax/get_timbrado_by_numero/";
		params="value";
		$("#id_numero_timbrado").autocomplete({
			source : base_url,
			minLenght : 1,
			create : function(){
			$(this).data('ui-autocomplete')._renderItem = function(ul,item){
				return $('<li>').append('<a>' +item.fields.numero+'</a>').appendTo(ul);
				};
			},
			select : function(event, ui) {
				event.preventDefault();
				id_timbrado = ui.item.pk;
				numero_timbrado= ui.item.fields.numero;
				ui.item.value = ui.item.fields.numero;
				$("#id_numero_timbrado").val(numero_timbrado);
				$("#id_timbrado").val(id_timbrado);			
			}
		});
	});

</script>
{%endblock%}
{% block content %}
<div class="gri16 text-izquierda" id="breadcumb">
	<a href="{% url 'frontend_home' %}">Inicio</a> 
	<a href="{% url 'frontend_home' %}parametros/">> Parametros</a>  
	<a href="{% url 'frontend_home' %}parametros/timbrado/">> Timbrados</a> 
	<span class="verde-1">> Listado de Timbrados</span> 
</div>
<div class="clear"></div>
<h1>Listado de Timbrados</h1>
<div class="grid_6">
	<form name="frm_busqueda" id="frm_busqueda" method="post" action="/parametros/timbrado/listado_busqueda_timbrado/">
		{% csrf_token %}
		<table id="lista-categoria" frame="box">
			<tr>
				<th class="acciones"  colspan="3"><strong><a href="#" style="color: white;">Filtrar</a></strong></th>
			</tr>
			<tr>
				<td>Timbrado:</td>
				<td><input id="id_timbrado" name="timbrado" type="hidden" maxlength="100"/>
					<input id="id_numero_timbrado" type="text" name="numero_timbrado" maxlength="100" /><br><br>
				</td>
			</tr>
			<tr>
				<td></td>
				<td><input type="button" value="Buscar" onclick="buscar();" class="historico" style="cursor: pointer"/></td>
			</tr>
		</table>
	</form>
</div>
<div class="clear"></div>
<div id="listado-cuadro-busqueda">
	<a href="{% url 'frontend_home' %}parametros/timbrado/agregar" class="boton-verde">Agregar Timbrado</a>
	<br><br>
</div>
<div id="listado-item-lote">
		<table border="1" cellpadding="0" cellspacing="0" class="listado-lotes" align="center">
				<th>ID</th><th>Timbrado Nro</th><th>Fecha desde</th><th>Fecha Hasta</th>
				{% for timbrado in object_list %}
				{% if forloop.counter|divisibleby:2 %}
					<tr>
						<td><a href="{{timbrado.id}}">{{timbrado.id}} <strong>(Ver Detalles)</strong></a></td>
						<td>{{timbrado.numero}}</td>
						<td>{{timbrado.desde}}</td>
						<td>{{timbrado.hasta}}</td>
					</tr>
					{% else %}
					<tr class="bkg_gris">
						<td><a href="{{timbrado.id}}">{{timbrado.id}} <strong>(Ver Detalles)</strong></a></td>
						<td>{{timbrado.numero}}</td>
						<td>{{timbrado.desde}}</td>
						<td>{{timbrado.hasta}}</td>
					</tr>
					{% endif %}				
				{% endfor %}
		<div class="pagination">
			<span class="step-links">
				Mostrando {{ object_list.start_index }}-{{ object_list.end_index }} de {{ object_list.paginator.count }} Resultados
				{%if object_list.has_previous%} 
				<a href="?page={{ object_list.first_index}}{{ultimo}}"> Primera </a> 
				<a href="?page={{ object_list.previous_page_number }}{{ultimo}}"> Anterior</a> 
				{%endif%}
				P&aacute;gina |{{object_list.number}}|		
				{%if object_list.has_next%} 
				<a href="?page={{ object_list.next_page_number }}{{ultimo}}"> Siguiente </a> 				
				<a href="?page={{ object_list.end_index}}{{ultimo}}"> Ultima </a> 
				{%endif%} 
			</span>
		</div>
	</table>
</div>

<div id="footer"><a href="{% url 'frontend_home' %}parametros/timbrado" class="boton-verde">Volver al módulo de Timbrado</a></div>
{% endblock %}