{% extends "lotes/base_lotes.html" %}

{% block header_resources %}
<!--<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />-->

{% endblock %}

{% block header_scripts %}
<!--
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
-->
<script type="text/javascript" src="{{ STATIC_URL }}fracciones.js"></script>
<script type="text/javascript">
	var data = [{
		"label" : "Aragorn"
	}];
	
</script>
{% endblock %}

{% block content %}
<div class="gri16 text-izquierda" id="breadcumb">
	<a href="{% url 'frontend_home' %}">Inicio</a><span class="verde-1">></span>
	<a href="{% url 'frontend_home' %}fracciones">Fracciones</a>
	<span class="verde-1">> Agregar Fracci&oacute;n</span>
</div>

<div class="clear"></div>

<div class="grid_10">
	<h1>Agregar Fracci&oacute;n</h1>
</div>

<div class="grid_6">
	<a href="#" class="historico">Buscar</a>
</div>

<div class="clear"></div>

<div class="grid_16" align="center">
	<form action="" method="post" id="form_add_fraccion">
		{% csrf_token %}
		{% for hidden in form.hidden_fields %}
		{{ hidden }}
		<input type="hidden" name="manzanas" id="manzanas" value="" />
		<input type="hidden" name="lotes_por_manzana" id="lotes_por_manzana" value="" />
		{% endfor %}
		<table width="94%" border="0" cellpadding="0" cellspacing="0" id="forms" align="center">

			{% for field in form %}
			<tr>
				{%if field.html_name == 'superficie_total' %}
				<td><strong>Superficie Total:</strong></td>
				{%else%}
				<td><strong>{{ field.label_tag }}</strong></td>
				{%endif%}
				{%if field.html_name == 'propietario' %}
				<td class="noimage">
					<input type="text" id="id_name_propietario" name="name_propietario" placeholder="Ingrese el Nombre"/>
					o <a href="{% url 'frontend_home' %}propietarios/agregar/" class="boton-verde" target="_blank">Agregar Nuevo Propietario</a> {{ field.errors }}<br><br>
					<input type="text" id="id_cedula_propietario" name="cedula_propietario" placeholder="Ingrese el Nro. de C.I." onkeyup="solo_numeros();"/> 
				</td>
				{%else%}
				{%if field.html_name == 'superficie_total' %}
				<td class="noimage">
				<input type="text" name="superficie_total" id="id_superficie_total" onkeyup="$(this).val(format.call($(this).val().split(' ').join(''),'.',','));solo_numeros_comas_puntos();">
				Mts2 {{ field.errors }}</td>
				{%else%}
				{%if field.html_name == 'fecha_aprobacion' %}
				<td class="noimage">
				<input type="text" name="fecha_aprobacion" id="id_fecha_aprobacion" class="date">
				{{ field.errors }}</td>
				{%else%}

				{%if field.html_name == 'cantidad_lotes' %}
				<td class="noimage">
				<input type="text" name="cantidad_lotes" id="id_cantidad_lotes" disabled>
				{{ field.errors }}</td>
				{%else%}
				{%if field.html_name == 'cantidad_manzanas' %}
				<td class="noimage">
				<input type="text" name="cantidad_manzanas" id="id_cantidad_manzanas" onkeyup="activar_boton();">
				<a href="{% url 'frontend_home' %}manzanas/agregar_lotes_por_manzana/" id="boton_cantidad_lotes" class="boton-verde" target="_blank" onclick="crear_form();">Cantidad Lotes por Manzana</a>{{ field.errors }}</td>
				{%else%}
				<td class="noimage">{{ field }} {{ field.errors }}</td>
				{%endif%}
				{%endif%}

				{%endif%}

				{%endif%}

				{%endif%}
			</tr>
			{% endfor %}

		</table>
		<input name="" type="button" value="Grabar" style="margin-bottom: 10px; cursor: pointer;" onclick="validar_id_propietario();" />
	</form>
		<a class="boton-verde" href="{% url 'frontend_home' %}fracciones/">Volver al menú de Fracciones</a>
		<br><br><br>
	<div class="clear"></div>
</div>
{% endblock %}