{% extends "lotes/base_lotes.html" %}
{% block header_scripts %}
<script type="text/javascript">
function buscar(){
	if($("#tipo_busqueda").val()==0){
		alert("Debe elegir un tipo de busqueda.");
	}
	else{
		if($("#busqueda").val()==""){
			alert("Debe ingresar un valor para buscar.");
		}else{
			$("#frm_busqueda").submit();
		}
	}
}
</script>
{% endblock %}
{% block content %}
<div class="gri16 text-izquierda" id="breadcumb">
	<a href="/">Inicio</a> <span class="verde-1">></span>  
	<a href="/fracciones/">Fracciones</a> 
	<span class="verde-1">> Listado de Fracciones</span> 
</div>
<div class="clear"></div>

					<div class="grid_10">
  						<h1>Listado de Fracciones</h1>
					</div>

					<div class="grid_6">
  						<form name="frm_busqueda" id="frm_busqueda" method="post" action="/movimientos/listado_busqueda_fracciones/">
  							{% csrf_token %}
  							
  							<select id="tipo_busqueda" name="tipo_busqueda">
								<option value="0">Elija una opcion</option>
								<option value="numero">Numero</option>
								<option value="propietario">Propietario</option>
							</select>
  									
  							
							
							<input id="busqueda" type="" name="busqueda" />				
  							
  							 							
  							<input type="button" value="Buscar" onclick="buscar();" class="historico" style="cursor: pointer"/>
  						</form>
					</div>

					<div class="clear"></div>
					<div id="listado-cuadro-busqueda">
						<a href="/fracciones/agregar" class="boton-verde">Agregar Fracci&oacute;n</a>
						<br><br>
					</div>
					<div id="listado-item-lote">
						<table width="50%" border="1" cellpadding="0" cellspacing="0" class="listado-lotes" align="center">
							<th>Fracci&oacute;n Nro</th><th>Nombre</th><th>Ubicaci&oacute;n</th><th>Distrito</th><th>Propietario</th>
{% for hw in object_list %}
		<tr>
			<td>
				<a href="{{hw.id}}">{{hw.id}} <strong>(Ver Detalles)</strong></a>
			</td>
			<td>
				{{hw.nombre}}
			</td>
			<td>
				{{hw.ubicacion}}
			</td>
			<td>
				{{hw.distrito}}
			</td>
			<td>
				{{hw.propietario}}
			</td>
			
		</tr>

{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% for num in object_list.paginator.page_range %}
  		{% ifequal num object_list.number %}
    	<span class="current"><b>{{ num }}</b></span>
  		{% else %}
    	<a href="?page={{ num }}"> {{ num }}</a>
  		{% endifequal %} 
{% endfor %}
    </span>
</div>
						</table>
					</div>

<div id="footer"><a href="/fracciones" class="boton-verde">Volver al módulo de Fracciones</a></div>
{% endblock %}