{% extends "lotes/base_lotes.html" %}

{% block header_scripts %}
<!--
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
-->
<script type="text/javascript" src="{{ STATIC_URL }}clientes_agregar.js"></script>
<script type="text/javascript">
	function _enviar(){
	if (self.opener != null ){
		self.opener.main_venta_form.id_name_cliente.value = $("#id_nombres").val() +' '+ $("#id_apellidos").val() ;
		self.opener.main_venta_form.id_cedula_cliente.value = $("#id_cedula").val();
		$("#form_add_cliente").submit();
		//window.close();
	} else {
		$("#form_add_cliente").submit();
	}
}
	var data = [{
		"label" : "Aragorn"
	}];
	$(document).ready(function() {
		$("#id_fecha_nacimiento").datepicker({
			dateFormat : 'dd/mm/yy'
		});
		$("#id_fecha_nacimiento").addClass("date");
		$('.date').mask('##/##/####');

	}); 
</script>
{% endblock %}

{% block content %}
<div class="gri16 text-izquierda" id="breadcumb">
	<a href="/">Inicio</a><span class="verde-1">></span>
	<a href="/clientes/">Clientes</a>
	<span class="verde-1">> Agregar Cliente</span>
</div>

<div class="clear"></div>

<div class="grid_10">
	<h1>Agregar Cliente</h1>
</div>

<div class="grid_6">
	<a href="#" class="historico">Buscar</a>
</div>

<div class="clear"></div>

<div class="grid_16" align="center">

	<form action="" method="post" id="form_add_cliente">
		<table width="94%" border="0" cellpadding="0" cellspacing="0" id="forms" align="center">
			{% csrf_token %}
			
			{% for field in form2 %}
			<tr>
				<td><strong>{{ field.label_tag }}</strong></td>
				<td class="noimage">{{ field }}{{ field.errors }}</td>
			</tr>
			{% endfor %}
			
			{% for field in form %}
			<tr>
			<td><strong>{{ field.label_tag }}</strong></td>
			{%if field.html_name == 'cedula' %}
			<td class="noimage">
				<input type="text" name="cedula" id="id_cedula" onblur="retrieveCedula();">
				<ul class="errorlist"><li id="cedula_error"></li></ul>
				{{ field.errors }}
			</td>
			{%else%}
			{%if field.html_name == 'direccion_cobro' %}
			<td class="noimage">{{ field }} {{ field.errors }}</td>
			<td>
			<input id="id_boton" value="Usar direccion particular" name="boton" type="button" onclick="asignarDireccion()">
			</td>
			{%else%}
									
				<td class="noimage">{{ field }} {{ field.errors }}</td>
			
			{%endif%}
			{%endif%}			
			</tr>
			{% endfor %}
			
		</table>
		<input name="" type="button" value="Grabar" onclick="_enviar();" style=" margin-bottom: 10px; cursor: pointer;" />
	</form>
	<a class="boton-verde" href="/clientes/">Volver al menú de Clientes</a>
	<br>
	<br>
	<br>

	<div class="clear"></div>
</div>
{% endblock %}