<head>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}test.css" />
</head>

{% for hw in object_list %}
  Nombres: {{hw.nombres}}<br/>
  Apellidos: {{hw.apellidos}}<br/>
  Fecha de Nacimiento: {{hw.fecha_nacimiento}}<br/>
  Cedula: {{hw.cedula}}<br/>
  RUC: {{hw.ruc}}<br/>
  </br/>
{% endfor %}

<form action="/" method="post">{% csrf_token %}
{{ search_form.as_p }}
<input type="submit" value="Submit" />
</form>

<p id="my_id001">Test: {{ STATIC_URL }}</p>
<p id="my_id002">Mensaje: {{ message }}</p>
