<!DOCTYPE html>
<html lang="es">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="robots" content="noindex" />
		<title>PROPAR</title>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}clientes.css" />
		<noscript>

		</noscript>
	</head>
	<body>
		{% for hw in object_list %}
			<div>
				{{hw.id}}</br>
				Nombres: {{hw.nombres}}</br>
				Apellidos: {{hw.apellidos}}</br>
				Fecha de Nacimiento: {{hw.fecha_nacimiento}}</br>
				Cedula: {{hw.cedula}}</br>
				RUC: {{hw.ruc}}</br>
				Género: {{hw.sexo}}</br>
				Estado Civil: {{hw.estado_civil}}</br>
				Dirección Particular: {{hw.direccion_particular}}</br>
				Dirección de Cobro: {{hw.direccion_cobro}}</br>
				Teléfono Particular: {{hw.telefono_particular}}</br>
				Teléfono Laboral: {{hw.telefono_laboral}}</br>
				Celular 1: {{hw.celular_1}}</br>
				Celular 2: {{hw.celular_2}}</br>
				Nombre del Cónyuge: {{hw.nombre_conyuge}}</br>
			</div>
			---
		{% endfor %}
	</body>
</html>
