{% extends "lotes/base_lotes.html" %}

{% block content %}
<div class="gri16 text-izquierda" id="breadcumb">
						<a href="/">Inicio</a> <span class="verde-1">></span>  
						<a href="/clientes/">Clientes</a> <span class="verde-1">></span>  
						<a href="/clientes/listado/">Listado de Clientes</a>  
						<span class="verde-1">> Detalles de Cliente</span> 
					</div>

					<div class="clear"></div>

					<div class="grid_10">
  						<h1>Detalles de Clientes</h1>
					</div>

					<div class="grid_6">
  						<a href="#" class="historico">Buscar</a>
					</div>

					<div class="clear"></div>
<div id="detalle-lote">
	<div id="detalle-lote-header">
		<h3 class="detalle-lote-header">Cliente {{ cliente.id }} </h3>
	</div>
	{% if message_id == "message-success" %}		
		<div id="{{message_id}}">{{ message }}</div>
	{% endif %}
	<table width="50%" border="1" cellpadding="0" cellspacing="0" class="listado-lotes" align="center">
	<form action="/clientes/listado/{{ cliente.id }}/" method="post">
		{% csrf_token %}
		{% for field in form %}
		<tr>
		<div class="fieldWrapper{% if field.field.required %} required{% endif %}">
			{{ field.errors }}
			<td>{{ field.label_tag }}</td><td>{{ field }}</td>
		</div>
		</tr>		
		{% endfor %}
	</table>
		<div id="lote-ventas">
			{% for venta in ventas_relacionadas %}
				<a href="/clientes/listado/ventas/{{ venta.id }}" target="_blank">{{ venta }}</a>
			{% endfor %}
		</div>
		<input class="lote-form-button" type="submit" name="boton_guardar" value="Guardar Cambios" />
		<input class="lote-form-button" type="submit" name="boton_borrar" value="Borrar este Registro" />
	</form>
</div>
<br>
<div id="footer">
	<a href="/clientes/listado" class="boton-verde">Volver al Listado de Clientes</a>
</div>
{% endblock %}