{% extends "lotes/base_lotes.html" %}
{% block header_scripts %}

<script type="text/javascript">
	function buscar() {
		if ($("#tipo_busqueda").val() == 0) {
			alert("Debe elegir un tipo de busqueda.");
		} else {
			if ($("#busqueda_label").val() == "") {
				alert("Debe ingresar un nombre para buscar.");
			} else {
				$("#frm_busqueda").submit();
			}
		}
	}
</script>
<script type="text/javascript" src="{{ STATIC_URL }}personas/listado_clientes.js"></script>
{% endblock %}
{% block content %}
<div class="gri16 text-izquierda" id="breadcumb">
	<a href="{% url 'frontend_home' %}">Inicio</a><span class="verde-1">></span>
	<a href="{% url 'frontend_home' %}clientes/">Clientes</a>
	<span class="verde-1">> Listado de Clientes</span>
</div>
<div class="clear"></div>
<h1>Listado de Clientes</h1>
<div class="grid_6">
	<form name="frm_busqueda" id="frm_busqueda" method="get" action="{% url 'frontend_home' %}movimientos/listado_busqueda_personas/">
		{% csrf_token %}
		<table id="lista-categoria" frame="box">
			<tr>
				<th class="acciones"  colspan="3"><strong><a href="#" style="color: white;">Filtrar</a></strong></th>
			</tr>
			<tr>
				<td>
				<select id="tipo_busqueda" name="tipo_busqueda">
					<option value="0">Elija una opcion</option>
					<option value="nombre">Nombre</option>
					<option value="cedula">Cedula</option>
				</select></td>
				<td>
				<input name="busqueda_label" id="busqueda_label" type="text" value=""/>
				<input id="busqueda" type="hidden" name="busqueda" />
				<input name="tabla" type="hidden" value="cliente"/>
				</td>
				<td>
				<input type="button" value="Buscar" onclick="buscar();" class="historico" style="cursor: pointer"/>
				</td>
			</tr>
		</table>
	</form>
</div>

<div class="clear"></div>
<div id="listado-cuadro-busqueda">
	<a href="{% url 'frontend_home' %}clientes/agregar" class="boton-verde">Agregar Cliente</a>
	<br>
	<br>
</div>
<div id="listado-item-lote">
	<table width="50%" cellpadding="0" cellspacing="0" class="listado-lotes" align="center">
		<th>Cedula Nro</th><th>Nombre y apellido</th><th>Tel&eacute;fono particular</th><th>Direcci&oacute;n de cobro</th>
		{% for hw in object_list %}
		{% if forloop.counter|divisibleby:2 %}
		<tr>
			<td><a href="{% url 'frontend_home' %}clientes/listado/{{hw.id}}">{{hw.cedula}} <strong>(Ver Detalles)</strong></a></td>
			<td> {{hw.nombres}} {{hw.apellidos}} </td>
			<td> {{hw.telefono_particular}} </td>
			<td> {{hw.direccion_cobro}} </td>

		</tr>
		{% else %}
		<tr class="bkg_gris">
			<td><a href="{% url 'frontend_home' %}clientes/listado/{{hw.id}}">{{hw.cedula}} <strong>(Ver Detalles)</strong></a></td>
			<td> {{hw.nombres}} {{hw.apellidos}} </td>
			<td> {{hw.telefono_particular}} </td>
			<td> {{hw.direccion_cobro}} </td>

		</tr>
		{% endif %}
		{% endfor %}
		<div class="pagination">
			<span class="step-links"> {%if object_list.has_previous%} <a href="?page={{ object_list.previous_page_number }}{{ultima_busqueda}}"> Anterior</a> {%endif%}
				P&aacute;gina
				|{{object_list.number}}|

				{%if object_list.has_next%} <a href="?page={{ object_list.next_page_number }}{{ultima_busqueda}}"> Siguiente</a> {%endif%} </span>
		</div>
		<br>
		<br>
	</table>
</div>
<br>
<div id="footer">
	<a href="{% url 'frontend_home' %}clientes" class="boton-verde">Volver al módulo de Clientes</a>
</div>
{% endblock %}