{% extends "lotes/base_lotes.html" %}

{% block header_scripts %}
<!--
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
-->
<script type="text/javascript">
	function solo_numeros() {

		$('#id_cedula').val($('#id_cedula').val().replace(/\D/g, ''));
	}

	var data = [{
		"label" : "Aragorn"
	}];
	$(document).ready(function() {
		$('.grid_6').hide();
		$("#id_fecha").focus();
		$("#id_fecha_nacimiento").addClass("date");
		$("#id_fecha_nacimiento").datepicker({
			dateFormat : 'dd/mm/yy'
		});
		$('.date').mask('##/##/####');
		$("#id_cedula").keyup(function() {
			solo_numeros();
		});


        $("#imprimir").click(function(){

            var select = document.getElementById("id_lote");
            var lote = select.options[select.selectedIndex].text;
    		//el ajax
    		var request = $.ajax({
			type : "POST",
			url : base_context+"/ajax/imprimir_factura/",
			async: false,
			data : {
				csrfmiddlewaretoken : $('input[name=csrfmiddlewaretoken]').val(),
				lote: lote,
				id_factura: $("#id_factura").val(),
				},
					dataType : "aplication/pdf"
				});
				request.always(function(data) {
					console.log("Enviando json de impresion al print manager")
					var string_json = data.responseText;
					var url_print = "";
					if(window.location.protocol == "http:"){
						url_print = "http://localhost:8095/TicketService/";
					}else if(window.location.protocol == "https:"){
						url_print = "https://localhost:8443/TicketService/";
					}
					var request_print = $.ajax(
							{
								url: url_print,
								type: 'GET',
								data: {
									json_print_string: string_json,
								}
							});
					request_print.success(function(data2) {
						window.location.href = BASE_URL + redirect;
						console.log(data2);
					});
				});
        });
	}); 
</script>
{% endblock %}
{% block content %}
<div class="gri16 text-izquierda" id="breadcumb">
	<a href="{% url 'frontend_home' %}">Inicio</a><span class="verde-1">></span>
	<a href="{% url 'frontend_home' %}facturacion/">Facturas</a><span class="verde-1">></span>
	<a href="{% url 'frontend_home' %}facturacion/listado/">Listado de Facturas</a>
	<span class="verde-1">> Detalles de Factura</span>
</div>

<div class="clear"></div>

<div class="grid_10">
	<h1>Detalles de Factura</h1>
</div>

<div class="grid_6">
	<a href="#" class="historico">Buscar</a>
</div>

<div class="clear"></div>
<div id="detalle-lote">
	<div id="detalle-lote-header">
		<input type="hidden" id="id_factura" name="id_factura" value="{{ factura.id }}" />
		<h3 class="detalle-lote-header">Factura {{ factura.id }} <td style="width: 5px;" ><a input name="imprimir" id="imprimir" style="cursor: pointer;"><img src="/static/custom/img/print-icon.png" title="Imprimir Factura" /></a></td> </h3>
	</div>

	<div id="{{message_id}}">
		{{ message }}
	</div>

	<table width="50%" border="1" cellpadding="0" cellspacing="0" class="listado-lotes" align="center">
		<form action="" method="post">
			{% csrf_token %}
			{% for field in form %}
			<tr>
				<div class="fieldWrapper{% if field.field.required %} required{% endif %}">
					{% if field.html_name == 'rango_factura' %}
						<td><label for="timbrado" >Timbrado:</label></td>
					{% else %}
						{% if field.html_name == 'anulado' %}
							<td><label for="anulado" >Anulado:</label></td>
						{% else %}
							<td>{{ field.label_tag }}</td>
						{% endif %}
					{% endif %}
					{% if field.html_name == 'cliente'  or field.html_name == 'rango_factura' or field.html_name == 'detalle' or field.html_name == 'anulado' %}
					    {%if field.html_name == 'cliente' %}
					        <td colspan="5" class="noimage">{{ factura.cliente }}{{ field.errors }}</td>
					    {% endif %}
					    {%if field.html_name == 'lote' %}
                            <td colspan="5" class="noimage">{{ factura.lote }}{{ field.errors }}</td>
					    {% endif %}
					{%if field.html_name == 'rango_factura' %}
						<td colspan="5" class="noimage">{{ numero_timbrado }}{{ field.errors }}</td>
					{% endif %}
					{%if field.html_name == 'anulado' %}
					<td colspan="5" class="noimage"><b>SI&nbsp;</b>
						{{ field }}
						{% if field.value == False %} 
							<input class="factura-form-button" type="submit" name="boton_anular" value="Anular Factura" />
						{% endif %}	
						
					</td>
					<tr>
						<td><label for="monto" >Monto:</label></td><td colspan="5">{{ factura.monto }}</td>
					</tr>
					{% endif %}
					{%if field.html_name == 'detalle' %}
					<td colspan="5" class="noimage"></td>
					<tr>
						<td class="noimage"> Cantidad </td>
						<td class="noimage"> Concepto </td>
						<td class="noimage"> Precio Unitario </td>
						<td class="noimage"> Exentas </td>
						<td class="noimage"> IVA 10% </td>
						<td class="noimage"> IVA 5% </td>
					</tr>
					{% for hw in detalles %}
					<tr>
						<td> {{hw.cantidad}} </td>
						<td> {{hw.concepto}} </td>
						<td> {{hw.precio_unitario}} </td>
						<td> {{hw.exentas}} </td>
						<td> {{hw.iva_10}} </td>
						<td> {{hw.iva_5}} </td>
					</tr>
					{% endfor %}
					{% endif %}
					
					{% else %}
					
					<td colspan="5">{{ field }}{{ field.errors }}</td>
					
				</div>
				{% endif %}
			</tr>
			{% endfor %}
		
		
</div>
</table>
{%if grupo == 1%}
		<input class="factura-form-button" type="submit" name="boton_guardar" value="Guardar Cambios" />
		<input class="factura-form-button" type="submit" name="boton_borrar" value="Borrar este Registro" />
	{%endif%}	
</form>	
<br></br>
<div id="footer">
	<a href="{% url 'frontend_home' %}facturacion/listado" class="boton-verde">Volver al Listado de Facturas</a>
    <a href="{% url 'frontend_home' %}" class="boton-verde">Volver al Menú Principal</a>
	</div>
{% endblock %}