{% extends "lotes/base_lotes.html" %}

{% block content %}
<div id="detalle-lote">
	<div id="detalle-lote-header">
		{{ lote }}
	</div>
	{% if message_id == "message-success" %}		
		<div id="{{message_id}}">{{ message }}</div>
	{% endif %}
	<form action="/lotes/listado/{{ lote.id }}/" method="post">
		{% csrf_token %}
		{% for field in form %}
		<div class="fieldWrapper{% if field.field.required %} required{% endif %}">
			{{ field.errors }}
			{{ field.label_tag }} {{ field }}
		</div>
		{% endfor %}
		<input class="lote-form-button" type="submit" name="boton_guardar" value="Guardar Cambios" />
		<input class="lote-form-button" type="submit" name="boton_borrar" value="Borrar este Registro" />
	</form>
</div>
<br>
<div id="footer">
	<a href="/lotes/listado">Volver al Listado de Lotes</a>
</div>
{% endblock %}