{% extends "lotes/base_lotes.html" %}

{% block header_resources %}
    <!--<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />-->
{% endblock %}

{% block header_scripts %}

    <!--<script src="http://code.jquery.com/jquery-1.9.1.js"></script>-->
    <!--<<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>-->

    <script type="text/javascript">

        var data = [
            {"label": "Aragorn"}
        ];
        var grupo = "{{grupo}}";

        /*
         function solo_numeros () {

         $('#id_cantidad_manzanas').val($('#id_cantidad_manzanas').val().replace(/\D/g,''));
         }
         */

        function _validar() {

            var res = $("#id_precio_contado").val();
            for (i = 0; i < res.length; i++) {
                res = res.replace(".", "");
            }
            res = res.replace(",", ".");
            //console.log("\n"+str);
            //console.log("\n"+res);
            $("#id_precio_contado").val(res);

            var res = $("#id_precio_credito").val();
            for (i = 0; i < res.length; i++) {
                res = res.replace(".", "");
            }
            res = res.replace(",", ".");
            //console.log("\n"+str);
            //console.log("\n"+res);
            $("#id_precio_credito").val(res);

            var res = $("#id_precio_costo").val();
            for (i = 0; i < res.length; i++) {
                res = res.replace(".", "");
            }
            res = res.replace(",", ".");
            $("#id_precio_costo").val(res);

            var res = $("#id_superficie").val();
            for (i = 0; i < res.length; i++) {
                res = res.replace(".", "");
            }
            res = res.replace(",", ".");
            //console.log("\n"+str);
            //console.log("\n"+res);
            $("#id_superficie").val(res);

            var res = $("#id_cuota").val();
            for (i = 0; i < res.length; i++) {
                res = res.replace(".", "");
            }
            res = res.replace(",", ".");
            //console.log("\n"+str);
            //console.log("\n"+res);
            $("#id_cuota").val(res);

            $("#id_manzana").prop('disabled', false);
            $("#id_nro_lote").prop('disabled', false);
            $("#id_estado").prop('disabled', false);
            $("#id_codigo_paralot").prop('disabled', false);
        }

        function solo_numeros_comas_puntos_contado() {

            $('#id_precio_contado').val($('#id_precio_contado').val().replace(/[^\d,.]+/g, ''));
        }

        function solo_numeros_comas_puntos_credito() {

            $('#id_precio_credito').val($('#id_precio_credito').val().replace(/[^\d,.]+/g, ''));
        }

        function solo_numeros_comas_puntos_superfice() {

            $('#id_superficie').val($('#id_superficie').val().replace(/[^\d,.]+/g, ''));
        }

        function solo_numeros_comas_puntos_costo() {

            $('#id_precio_costo').val($('#id_precio_costo').val().replace(/[^\d,.]+/g, ''));
        }

        //Separador de miles y comas en escritura
        function format(comma, period) {

            var comma = comma || ',';
            var period = period || '.';
            var split = this.toString().split(',');
            var numeric = split[0];
            var decimal = split.length > 1 ? period + split[1] : '';
            var reg = /(\d+)(\d{3})/;
            for (var i = 1; i < numeric.length; i++) {
                numeric = numeric.replace(".", "");
            }
            while (reg.test(numeric)) {

                numeric = numeric.replace(reg, '$1' + comma + '$2');
            }
            //} else {
            //	numeric = numeric.substr(0,numeric.length-1);
            //}

            return numeric + decimal;
        }

        $(document).ready(function () {
            $("#id_precio_contado").focus();
            $('.grid_6').hide();
            $('#id_manzana').prop('disabled', true);
            $('#id_nro_lote').prop('disabled', true);
            //$('#id_estado').prop('disabled', true);
            //$('#id_precio_costo').prop('disabled', true);
            $('#id_codigo_paralot').prop('disabled', true);
            $("#id_cuota").mask("###.###.###", {reverse: true});
            $("#id_cuota").on('blur', function () {
                var precio_credito = $("#id_cuota").cleanVal() * 130
                $('#id_precio_credito').val(precio_credito);
                $('#id_precio_credito').mask("###.###.###.###.###", {reverse: true});
                var precio_contado = precio_credito / 2
                $('#id_precio_contado').val(precio_contado);
                $('#id_precio_contado').mask("###.###.###.###.###", {reverse: true});
            });

            $('#id_superficie').val($('#id_superficie').val().replace(".", ","));
            $('#id_superficie').val(format.call($('#id_superficie').val().split(' ').join(''), '.', ','));

            $('#id_precio_contado').val($('#id_precio_contado').val().replace(".", ","));
            $('#id_precio_contado').val(format.call($('#id_precio_contado').val().split(' ').join(''), '.', ','));

            $('#id_precio_credito').val($('#id_precio_credito').val().replace(".", ","));
            $('#id_precio_credito').val(format.call($('#id_precio_credito').val().split(' ').join(''), '.', ','));

            $('#id_precio_costo').val($('#id_precio_costo').val().replace(".", ","));
            $('#id_precio_costo').val(format.call($('#id_precio_costo').val().split(' ').join(''), '.', ','));

            $('#id_precio_contado').on('keyup', function () {
                $('#id_precio_contado').val(format.call($('#id_precio_contado').val().split(' ').join(''), '.', ','));
                solo_numeros_comas_puntos_contado();
            });

            $('#id_precio_credito').on('keyup', function () {
                $('#id_precio_credito').val(format.call($('#id_precio_credito').val().split(' ').join(''), '.', ','));
                solo_numeros_comas_puntos_credito();
            });


            $('#id_precio_costo').on('keyup', function () {
                $('#id_precio_costo').val(format.call($('#id_precio_costo').val().split(' ').join(''), '.', ','));
                solo_numeros_comas_puntos_costo();
            });

            $('#id_superficie').on('keyup', function () {
                $('#id_superficie').val(format.call($('#id_superficie').val().split(' ').join(''), '.', ','));
                solo_numeros_comas_puntos_superfice();
            });

            $("#form_mod_lote").submit(function (event) {
                $('#id_manzana').prop('disabled', false);
                $('#id_nro_lote').prop('disabled', false);
                $('#id_estado').prop('disabled', false);
                $('#id_precio_costo').prop('disabled', false);
                $('#id_codigo_paralot').prop('disabled', false);
            });

            if (grupo == 2) {
                $('#id_precio_contado').prop('readonly', true);
                $('#id_precio_credito').prop('readonly', true);
                $('#id_precio_costo').prop('readonly', true);
                $('#id_superficie').prop('readonly', true);
                $('#id_cuenta_corriente_catastral').prop('readonly', true);
                $('#id_boleto_nro').prop('readonly', true);
                $('#id_casa_edificada').prop('readonly', true);
                $('#id_estado').prop('disabled', true);
            }
            ;

        });
    </script>
{% endblock %}
{% block content %}
    <div class="gri16 text-izquierda" id="breadcumb">
        <a href="{% url 'frontend_home' %}">Inicio</a> <span class="verde-1">></span>
        <a href="{% url 'frontend_home' %}lotes/">Lotes</a> <span class="verde-1">></span>
        <a href="{% url 'frontend_home' %}lotes/listado/">Listado de Lotes</a>
        <span class="verde-1">> Detalles de Lote</span>
    </div>

    <div class="clear"></div>

    <div class="grid_10">
        <h1>Detalles de Lotes</h1>
    </div>

    <div class="grid_6">
        <a href="#" class="historico">Buscar</a>
    </div>

    <div class="clear"></div>
    <div id="detalle-lote">
        <div id="detalle-lote-header">
            <h3 class="detalle-lote-header">Lote id: {{ lote.id }} </h3>
        </div>

        <div id="{{ message_id }}">{{ message }}</div>


        <form action="" name="form_mod_lote" method="post" onsubmit="_validar();">
            <table width="50%" border="1" cellpadding="0" cellspacing="0" class="listado-lotes" align="center">
                {% csrf_token %}
                {% for field in form %}
                    <tr>
                        <div class="fieldWrapper{% if field.field.required %} required{% endif %}">
                            {{ field.errors }}
                            <td>{{ field.label_tag }}</td>
                            <td>{{ field }}</td>
                        </div>
                    </tr>
                {% endfor %}


            </table>
            <input class="lote-form-button" type="submit" name="boton_guardar" value="Guardar Cambios"/>
            {% if grupo == 1 %}
                <input class="lote-form-button" type="submit" name="boton_borrar" value="Borrar este Registro"/>
                <input class="lote-form-button" type="submit" name="boton_guardar_a_recuperacion"
                       value="Guardar Cambios e ir a recuperacion"/>
            {% endif %}
        </form>

        <div id="lote-ventas">
            <h4>Historial de Ventas</h4>
            <table border="1">
                <th>Id</th>
                <th>Fecha de Venta</th>
                <th>Vendido a:</th>
                {% for venta in ventas_relacionadas %}
                    <tr>
                        <td><a href="{% url 'frontend_home' %}lotes/listado/ventas/{{ venta.id }}"
                               target="_blank">{{ venta.id }}</a></td>
                        <td><a href="{% url 'frontend_home' %}lotes/listado/ventas/{{ venta.id }}"
                               target="_blank">{{ venta.fecha_de_venta }}</a></td>
                        <td><a href="{% url 'frontend_home' %}lotes/listado/ventas/{{ venta.id }}"
                               target="_blank">{{ venta.cliente }}</a></td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>
    <br>
    <div id="footer">
        <a href="{% url 'frontend_home' %}lotes/listado" class="boton-verde">Volver al Listado de Lotes</a>
    </div>
{% endblock %}