{% extends "lotes/base_lotes.html" %}
{% block header_scripts %}
<script type="text/javascript">
	function buscar() {
		if($("#tipo_busqueda").val() == "lote"){
			if ($("#busqueda").val() == "") {
				alert("Debe ingresar un nro de lote para buscar.");
			} else {
				$("#frm_busqueda").submit();
			}
		}
		else {
				$("#frm_busqueda").submit();
			}
	}
	$(document).ready(function() {

			$('#busqueda').mask('###/###/####');
	});

</script>
{% endblock %}
{% block content %}
<div class="gri16 text-izquierda" id="breadcumb">
	<a href="{% url 'frontend_home' %}">Inicio</a><span class="verde-1">></span>
	<a href="{% url 'frontend_home' %}lotes/">Lotes</a>
	<span class="verde-1">> Listado de Lotes</span>
</div>

<div class="clear"></div>
<h1>Listado de Lotes</h1>

<div class="grid_6">
	<form name="frm_busqueda" id="frm_busqueda" method="post" action="/lotes/listado_busqueda_lotes/">
		{% csrf_token %}
		<table id="lista-categoria" frame="box">
			<tr>
				<th class="acciones"  colspan="3"><strong><a href="#" style="color: white;">Filtrar</a></strong></th>
			</tr>
			<tr>
				<td>Nro de Lote:</td>
				<td><input id="busqueda" type="" name="busqueda" placeholder="Ej: 001/001/0001"/></td>
			</tr>
			<tr>
				<td> Lotes por cliente: </td>
				<td>
					<select id="tipo_busqueda" name="tipo_busqueda">
						<!-- <option value="0">Elija una opcion</option> -->
						<option value="nombre">Nombre</option>
						<option value="cedula">Cedula</option>
						<option value="id">ID</option>	
					</select>	
				</td>
				
			</tr>
			<tr>
				<td></td>
				<td><input type="button" value="Buscar" onclick="buscar();" class="historico" style="cursor: pointer"/></td>
			</tr>
		</table>
	</form>
</div>

<div class="clear"></div>
<div id="listado-cuadro-busqueda">
	<a href="{% url 'frontend_home' %}lotes/agregar" class="boton-verde">Agregar Lote</a>
	<br>
	<br>
</div>
<div id="listado-item-lote">
	<table border="1" cellpadding="0" cellspacing="0" class="listado-lotes" align="center">
		<th>Lote Nro</th><th>Manzana Nro</th><th>Nombre Fracci&oacute;n</th><th>ID Fracci&oacute;n</th><th>Estado</th>
		{% for hw in object_list %}
		{% if forloop.counter|divisibleby:2 %}
		<tr>
			<td><a href="{{hw.id}}">{{hw.nro_lote}} <strong>(Ver Detalles)</strong></a></td>
			<td> {{hw.manzana}} </td>
			<td> {{hw.manzana.fraccion}} </td>
			<td> {{hw.manzana.fraccion.id}} </td>
			<td> {{ hw.get_estado_display }} </td>
		</tr>
		{% else %}
		<tr class="bkg_gris">
			<td><a href="{{hw.id}}">{{hw.nro_lote}} <strong>(Ver Detalles)</strong></a></td>
			<td> {{hw.manzana}} </td>
			<td> {{hw.manzana.fraccion}} </td>
			<td> {{hw.manzana.fraccion.id}} </td>
			<td> {{ hw.get_estado_display }} </td>
		</tr>
		{% endif %}
		{% endfor %}
		<div class="pagination">
			<span class="step-links">
				Mostrando {{ object_list.start_index }}-{{ object_list.end_index }} de {{ object_list.paginator.count }} Resultados
				{%if object_list.has_previous%} 
				<a href="?page={{ object_list.first_index}}{{ultimo}}"> Primera </a> 
				<a href="?page={{ object_list.previous_page_number }}{{ultimo}}"> Anterior</a> 
				{%endif%}
				P&aacute;gina |{{object_list.number}}|		
				{%if object_list.has_next%} 
				<a href="?page={{ object_list.next_page_number }}{{ultimo}}"> Siguiente </a> 				
				<a href="?page={{ object_list.end_index}}{{ultimo}}"> Ultima </a> 
				{%endif%} 
			</span>
		</div>
	</table>
</div>

<div id="footer">
	<a href="{% url 'frontend_home' %}lotes" class="boton-verde">Volver al módulo de Lotes</a>
</div>
{% endblock %}